body {
  background-color: hsla(204, 10%, 18%, 1);
  color: hsla(204, 10%, 96%, 1);
}

.page,
.page-header .inside  {
  background-color: hsla(204, 10%, 24%, 1)
}

h1,
h2,
h3,
h4 {
  color: hsla(204, 10%, 93%, 1);
}

.page a,
.time a {
  color: hsla(5, 30%, 80%, 1);
  border-color: hsla(5, 30%, 80%, .5);
}

.page a:hover,
.page a:focus,
.time a:hover,
.time a:focus {
  color: hsla(204, 30%, 80%, 1);
}

.title:hover h1,
.title:focus h1 {
  color: hsla(204, 30%, 80%, 1);
}

.title .logo circle {
  stroke: hsla(204, 10%, 93%, 1);
}

.title:hover .logo circle,
.title:focus .logo circle {
  stroke: hsla(204, 30%, 80%, 1);
  -webkit-animation-name: step-fill--contrast;
          animation-name: step-fill--contrast;
}

.page figcaption {
  color: hsla(204, 10%, 88%, 1);
}

.page-meta {
  background-color: hsla(204, 10%, 24%, 1);
}

blockquote {
  color: hsla(204, 10%, 80%, 1);
  border-color: hsla(204, 30%, 80%, 1);
}

blockquote footer {
  color: hsla(204, 10%, 88%, 1);
}

div.highlighter-rouge {
  background-color: hsla(204, 10%, 98%, 1);
  border-color: hsla(204, 10%, 40%, 1);
}

p > code,
li > code,
samp {
  border-color: hsla(204, 10%, 56%, 1);
}

sup[id] a {
  background-color: hsla(5, 30%, 80%, .5);
  border: none;
  color: hsla(204, 10%, 88%, 1);
}

sup[id] a:hover,
sup[id] a:focus {
  background-color: hsla(204, 30%, 80%, .5);
  border: none;
  color: hsla(204, 10%, 88%, 1);
}

.important {
  color: hsla(204, 30%, 80%, 1);
}

.ancillary {
  background-color: hsla(204, 10%, 18%, 1);
  color: hsla(204, 10%, 80%, 1);
}

.footnotes {
  color: inherit;
  background-color: hsla(204, 10%, 32%, 1);
}

.footnotes li,
.footnotes .reversefootnote {
  border-color: hsla(204, 10%, 56%, 1);
}

a.reversefootnote {
  color: hsla(204, 10%, 96%, 1);
}

a.reversefootnote:hover,
a.reversefootnote:focus {
  color: hsla(204, 10%, 96%, 1);
  background-color: hsla(204, 30%, 80%, .5);
}
.project {
  background-color: hsla(204, 10%, 32%, 1);
}

.project .description {
  color: hsla(204, 10%, 93%, 1);
}

.project .link a {
  color: hsla(204, 10%, 96%, 1);
}

.project .link a:focus {
  background-color: hsla(204, 10%, 93%, 1);
  color: hsla(204, 80%, 40%, 1);
}

.essay {
  background-color: hsla(204, 10%, 32%, 1);
  color: hsla(204, 10%, 96%, 1);
}

.link .project-url:hover {
  color: hsla(4, 60%, 50%, 1);
}

.link .project-source:hover {
  color: hsla(225, 35%, 52%, 1);
}

.page-meta {
  background-color: hsla(204, 10%, 32%, 1);
}

.site-nav li a {
  background-color: hsla(204, 10%, 10%, .8);
}

.site-nav li:nth-child(2) a {
  background-color: hsla(204, 10%, 24%, .8);
}

.site-nav li:nth-child(3) a {
  background-color: hsla(204, 10%, 32%, .8);
}

.site-nav li:nth-child(4) a {
  background-color: hsla(204, 10%, 18%, .8);
}

.site-nav li a:hover {
  background-color: hsla(204, 80%, 40%, .8);
}

.site-nav li a:focus {
  background-color: hsla(204, 10%, 88%, 1);
  color: hsla(204, 80%, 40%, 1);
}

@-webkit-keyframes step-fill--contrast {
  0% {
    fill: hsla(0, 0%, 100%, .01);
  }

  100% {
    fill: hsla(204, 35%, 80%, 1);
  }
}

@keyframes step-fill--contrast {
  0% {
    fill: hsla(0, 0%, 100%, .01);
  }

  100% {
    fill: hsla(204, 35%, 80%, 1);
  }
}