
.hero {
  margin: 0 auto;
}

.hero figcaption {
  background-color: hsla(204, 10%, 98%, 1);
  margin: 0;
}

@media screen and (min-width: 40em) {
  .hero {
    font-size: 1.25em;
    max-width: 36em;
  }
}

@media screen and (min-width: 60em) {

  .hero {
    max-width: 45em;
  }

  .hero figcaption p {
    margin-left: 50%;
    width: 50%;
  }
}

@media screen and (min-width: 80em) {
  .hero {
    max-width: 54em;
  }
}

@media screen and (min-width: 95em) {
  .hero {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 115em) {
  .hero {
    font-size: 1.75em;
  }
}
