@import 'variables/all';

.swatches,
.swatches li,
.swatches figure,
.swatches figcaption {
  margin: 0;
  padding: 0;
  width: 100%;
}

.swatches {
  font: 400 .625em/1.5 $source-code-pro;
  list-style-type: none;
  overflow: hidden;
}

.swatches li {
  margin-top: 1em;
}

.swatches figure {
  height: 16em;
  position: relative;
}

.swatches figcaption {
  background-color: $gray07-80;
  border-bottom: none;
  bottom: 0;
  padding: .5em 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 20em) {
  .swatches li {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 80em) {
  .swatches li {
    width: 25%;
  }
}
