@import 'options/photo.scss';

.icon-fxe2 {
  background-image: url("{{ site.icon-url }}/fxe2-offwhite.svg");
}

.icon-iphone5s {
  background-image: url("{{ site.icon-url }}/iphone5s-offwhite.svg");
}

{% for image in page.image %}
#i{{ forloop.index0 }} {
  background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/900x675.png64?access_token={{ site.mapbox-key }}");
}
{% endfor %}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 40em),
screen and (min-resolution: 144dpi) and (min-width: 40em),
(min-resolution: 2dppx) and (min-width: 40em) {
  {% for image in page.image %}
  #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/900x675@2x.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}
}

@media screen and (min-width: 60em) {
  {% for image in page.image %}
  .grid #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/450x338.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 60em),
screen and (min-resolution: 144dpi) and (min-width: 60em),
(min-resolution: 2dppx) and (min-width: 60em) {
  {% for image in page.image %}
  .grid #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/450x338@2x.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}
}