---
title: Projects
layout: category
category: index
description: 'An index of projects that Oliver Pattison has designed or contributed to. These projects include documentation and reflections on work and process.'

---

<h2>Portfolio</h2>
{% for post in site.categories.projects %}
{% if post.option contains 'feature' %}
{% include block/item--feature.html %}
{% endif %}
{% endfor %}
{% for post in site.categories.projects limit:6 %}
{% unless post.option contains 'feature' %}
{% unless post.option contains 'minor' %}
{% include block/item.html %}
{% endunless %}
{% endunless %}
{% endfor %}
<h2>Minor projects</h2>
{% for post in site.categories.projects limit:6 %}
{% if post.option contains 'minor' %}
{% include block/item.html %}
{% endif %}
{% endfor %}
{% include block/index-nav.html %}
