---
title: Projects
layout: category
category: index
description: 'An index of projects that Oliver Pattison has designed or contributed to. These projects include documentation and reflections on work and process.'

---

{% for post in site.categories.projects %}
{% if post.option contains 'feature' %}
{% include block/item--feature.html %}
{% endif %}
{% endfor %}
{% for post in site.categories.projects limit:8 %}
{% unless post.option contains 'feature' %}
{% unless post.tags contains 'minor' %}
{% include block/item.html %}
{% endunless %}
{% endunless %}
{% endfor %}
<hr>
<h2 class="index-title--minor">Minor projects</h2>
{% for post in site.categories.projects limit:8 %}
{% if post.tags contains 'minor' %}
{% include block/item.html %}
{% endif %}
{% endfor %}
{% include block/index-nav.html %}
