/* Site footer block – typically included within the `.end` element on every page on the site. */
.credits {
  display: flex;
  padding: 2em 1em;
  width: 100%;

  @include min-width(l02) {
    padding: 1.5em 2em;
    margin: 0;
  }

  @include min-width(l04) {
    padding: 2em 4em;
  }

  @include min-width(l05) {
    padding: 2em 5em;
  }
}

/* Text description: copyright, authorship, source code, social media and RSS */
.credits-meta {
  align-self: center;
  margin: auto;
  max-width: 36em;
}

.credits-meta p {
  font-size: .875em;
}

.credits-meta p + p {
  margin-top: .75em;
}
