/* Standalone prose separated out from other text or photos. */
.essay {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;

  @include min-width(s03) {
    @include bleed(2em);
  }

  @include min-width(s04) {
    @include bleed(2.5em);
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  @include min-width(l01) {
    @include bleed(4.5em);
  }
}
