@include min-width(s03) {
  .code figcaption {
    margin-left: -2em;
    margin-right: -2em;
  }
}

@include min-width(s03) {
  .code figcaption {
    margin-left: -2.5em;
    margin-right: -2.5em;
  }
}

@include min-width(l01) {
  .code figcaption {
    margin-left: -4.5em;
    margin-right: -4.5em;
  }

  .image--narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

  .grid--wide figcaption p,
  .code figcaption p {
    margin-left: calc(50% + 1em);
    width: calc(50% - 1em);
  }

  .grid-figure--33 figcaption p {
    margin-left: 0;
    text-align: left;
    width: auto;
  }
}

@include min-width(l02) {
  .grid-figure--33 figcaption {
    padding: .5em;
  }
}

@include min-width(l03) {
  .code figcaption {
    margin-left: -9em;
    margin-right: -9em;
  }
}
