.swatch {
  flex: 1 0 100%;
  font: $weight-medium .75em/1.5 $source-code-pro;
  margin-top: 1em;

  @include min-width(s01) {
    flex: 0 0 50%;
  }

  @include min-width(l03) {
    flex: 0 0 25%;
  }

  figure {
    height: 12em;
    position: relative;
  }

  figcaption {
    background-color: $gray07--trans90;
    border-bottom: none;
    bottom: 0;
    margin: 0;
    padding: .5em 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
