---
title: Writing
layout: category
category: index
description: 'A repository of writing and notes on archiving, technology, and other topics, by Oliver Pattison.'

---


{% for post in site.categories.writing %}
{% if post.option contains 'feature' %}
{% include block/item--feature.html %}
{% endif %}
{% endfor %}
{% for post in site.categories.writing limit:8 %}
{% unless post.option contains 'feature' %}
{% include block/item.html %}
{% endunless %}
{% endfor %}
{% include block/index-nav.html %}
