<section class="pattern">
{{ pattern.content | markdownify }}
  <details class="pattern-view">
    <summary><code>{{ pattern.title }}</code> details</summary>
    <figure>
    {% if pattern.type == 'markdown' %}<h5>Markdown</h5>
    <textarea class="pattern-markdown">{{ pattern.content | xml_escape }}</textarea>{% endif %}
    <h5>HTML</h5>
    <textarea class="pattern-html">{{ pattern.content | markdownify | xml_escape }}</textarea>
    <figcaption>{% if pattern.use %}{{ pattern.use | prepend:'**Usage:** ' | markdownify }}{% endif %}{% if pattern.restriction %}{{ pattern.restriction | prepend: '**Restrictions:** ' | markdownify }}{% endif %}{% if pattern.rec %}{{ pattern.rec | prepend:'**Recommendations:** ' | markdownify }}{% endif %}</figcaption>
    </figure>
  </details>
</section>