  <!-- icon stack – optimized for iOS/Android/modern browsers (IE10+) -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.icon_url }}/touchicon152.png" sizes="152x152">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <link rel="mask-icon" href="{{ site.icon_url }}/safari-favicon.svg" color="#c03a30">
  <meta name="msapplication-TileImage" content="{{ site.icon_url }}/favicon144.png"/>
  <meta name="msapplication-TileColor" content="#f1F3f4"/>
  <link rel="icon" type="image/png" href="{{ site.icon_url }}/favicon32.png" sizes="32x32">
