<script src="{{ site.script_url }}/site.js" defer></script>

<link rel="prerender" href="{{ site.url }}">
<link rel="preconnect" href="{{ site.imgix_url }}">

{% if page.collection == 'photos' and page.longitude and page.latitude %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js"defer></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css" rel="stylesheet" />

<script>
// all of this runs conditionally only if page location parameters are set and mapbox is supported
document.addEventListener('DOMContentLoaded', contentLoaded, false);

function contentLoaded () {
  if (mapboxgl.supported()) {
  // authorization key set in prod.yml
  mapboxgl.accessToken = '{{ site.mapbox.key }}';

  // long and lat pulled from front matter
  var latLong = [{{ page.longitude }}, {{ page.latitude }}];

  var map = new mapboxgl.Map({
    container: 'map--photo-mapbox',
    // style set in prod.yml
    style: '{{ site.mapbox.style }}',
    minZoom: 4,
    maxZoom: 18,
    // optional zoom value set in front matter
    zoom: {% if page.zoom %}{{ page.zoom }}{% else %}14{% endif %},
    center: latLong,
    // attribution control is set in prod.yml
    attributionControl: false,
    scrollZoom: false
  });

  // add mapbox controls
  map.addControl(new mapboxgl.Navigation({
    position: 'bottom-left'
  }));
  map.addControl(new mapboxgl.Scale({
    position: 'bottom-right',
    maxWidth: 200,
    unit: 'metric'
  }));

  var toggleScrollZoom = document.querySelector('.jsToggleScrollZoom');

  function toggleZooming() {
    var classList = toggleScrollZoom.classList;
    if (classList.contains('jsActive')) {
      classList.remove('jsActive');
    } else {
      classList.add('jsActive');
    }

    if (map.scrollZoom.isEnabled()) {
      map.scrollZoom.disable();
    } else {
      map.scrollZoom.enable();
    }
  };

  toggleScrollZoom.addEventListener('click', toggleZooming, false);

  var popupParameters = {
    closeButton: false,
    offset: [12, -2]
  }

  // set popup positioning and location from front matter
  var popup = new mapboxgl.Popup(popupParameters)
    .setLngLat(latLong)
    .setText('{{ page.location }}');

  // attach popup to the marker
  var marker = new mapboxgl.Marker()
    .setLngLat(latLong)
    .setPopup(popup)
    .addTo(map);

  }
}
</script>
{% endif %}
