<script src="{{ site.script_url }}/site.js" defer></script>

<link rel="prerender" href="{{ site.url }}">
<link rel="preconnect" href="{{ site.imgix_url }}">

{% if page.collection == 'photos' or page.option contains 'mapbox' %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js" defer></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v1.2.0/mapbox-gl-supported.js" defer></script>

{% if page.option contains 'map' %}
<script>
// run conditionally if page option is set and mapbox is supported
document.addEventListener('DOMContentLoaded', mapLoaded, false);

function mapLoaded () {
  if (mapboxgl.supported()) {
    // authorization key set in prod.yml
    mapboxgl.accessToken = '{{ site.mapbox.key }}';

    {% for item in page.map %}

    var {{ item.id }} = new mapboxgl.Map({
      container: '{{ item.id }}',
      // style set in prod.yml
      style: '{{ item.style }}',
      minZoom: 2,
      // zoom and long/lat set in page yaml
      maxZoom: 18,
      center: [
        {{ item.longitude }},
        {{ item.latitude }}
      ],
      zoom: {{ item.zoom }},
      // attribution control is set in prod.yml
      attributionControl: false
    });

    // add mapbox controls and scale
    {{ item.id }}.addControl(new mapboxgl.Navigation({
      position: 'bottom-left'
    }));
    {{ item.id }}.addControl(new mapboxgl.Scale({
      position: 'bottom-right',
      maxWidth: 200,
      unit: 'metric'
    }));
    {% endfor %}
  }
}
</script>
{% endif %}

{% if page.option contains 'map-collection' %}
<script>
// run conditionally if page option is set and mapbox is supported
document.addEventListener('DOMContentLoaded', collectionMapLoaded, false);

function collectionMapLoaded () {
  if (mapboxgl.supported()) {
    // authorization key set in prod.yml
    mapboxgl.accessToken = '{{ site.mapbox.key }}';

    var map = new mapboxgl.Map({
      container: 'map--collection-mapbox',
      // style set in prod.yml
      style: '{{ site.mapbox.style }}',
      minZoom: 2,
      // zoom and long/lat set in page yaml
      maxZoom: 18,
      center: [
        {{ page.longitude }},
        {{ page.latitude }}
      ],
      zoom: {{ page.zoom }},
      // attribution control is set in prod.yml
      attributionControl: false
    });

    // add mapbox controls and scale
    map.addControl(new mapboxgl.Navigation({
      position: 'bottom-left'
    }));
    map.addControl(new mapboxgl.Scale({
      position: 'bottom-right',
      maxWidth: 200,
      unit: 'metric'
    }));

    map.on('load', function () {
      // add clustered points
      map.addSource(
        "photos",
        {
          type: "geojson",
          data: "/resources/photos.geojson",
          cluster: true,
          clusterMaxZoom: 16,
          clusterRadius: 24
        }
      )

      // single points
      map.addLayer({
        "id": "unclustered-points",
        "type": "circle",
        "source": "photos",
        "filter": ["!has", "point_count"],
        "paint": {
          "circle-color": "hsl(4, 60%, 42%)",
          "circle-radius": 10
        }
      });

      // clustered points
      map.addLayer({
        "id": "clustered-points",
        "type": "circle",
        "source": "photos",
        "filter": ["has", "point_count"],
        "paint": {
          "circle-color": "hsl(4, 60%, 42%)",
          "circle-radius": 16
        }
      });

      // clustered point labels
      map.addLayer({
        "id": "cluster-count",
        "type": "symbol",
        "source": "photos",
        "layout": {
          "text-field": "{point_count}",
          "text-font": [
            "Source Sans Pro Semibold",
            "Arial Unicode MS Regular"
          ],
          "text-size": 12
        },
        "paint": {
          "text-color": "hsl(180, 7%, 97%)"
        }
      });

      // change the cursor style on hover
      map.on('mousemove', function(e) {
        var unclustered = map.queryRenderedFeatures(e.point, { layers: ['unclustered-points'] });
        var clustered = map.queryRenderedFeatures(e.point, { layers: ['clustered-points'] });

        // pointer for unclustered, zoom for clustered, drag hand otherwise
        if (unclustered.length) {
          map.getCanvas().style.cursor = 'pointer';
        } else if (clustered.length) {
          map.getCanvas().style.cursor = 'zoom-in';
        } else {
          map.getCanvas().style.cursor = '';
        }
      });

      map.on('click', function (e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['unclustered-points'] });

        if (!features.length) {
          return;
        }

        var feature = features[0];

        var popupParameters = {
          closeButton: false,
          offset: [0, -5]
        }

        // Populate the popup and set its coordinates
        // based on the feature found.
        var popup = new mapboxgl.Popup(popupParameters)
          .setLngLat(feature.geometry.coordinates)
          .setHTML(
            "<a class=\"popup-link\" href=\"" +
            feature.properties.url +
            "\">" +
            "<img class=\"popup-image\" src=\"" +
            feature.properties.src +
            "\" " +
            "alt=\"" +
            feature.properties.alt +
            "\"></a>"
          )
          .addTo(map);
      });
    });

    map.on('click', function (e) {
      var features = map.queryRenderedFeatures(e.point, { layers: ['clustered-points'] });

      if (!features.length) {
        return;
      }

      var feature = features[0];

      // center and close in on position
      map.flyTo({center: feature.geometry.coordinates, zoom: map.getZoom() + 3 });
    });
  }
}

</script>
{% endif %}

{% if page.collection == 'photos' or page.unique_id == '2016-10-14:mapbox-maps-olivermakes' and page.longitude and page.latitude %}
<script>
// run conditionally if page location parameters are set and mapbox is supported
document.addEventListener('DOMContentLoaded', photoMapLoaded, false);

function photoMapLoaded () {
  if (mapboxgl.supported()) {
    // authorization key set in prod.yml
    mapboxgl.accessToken = '{{ site.mapbox.key }}';

    // long and lat pulled from front matter
    var latLong = [{{ page.longitude }}, {{ page.latitude }}];

    var map = new mapboxgl.Map({
      container: 'map--photo-mapbox',
      // style set in prod.yml
      style: '{{ site.mapbox.style }}',
      minZoom: 4,
      maxZoom: 18,
      center: latLong,
      // optional zoom value set in front matter
      zoom: {% if page.zoom %}{{ page.zoom }}{% else %}14{% endif %},
      // attribution control is set in prod.yml
      attributionControl: false,
      scrollZoom: false
    });

    // add mapbox controls and scale
    map.addControl(new mapboxgl.Navigation({
      position: 'bottom-left'
    }));
    map.addControl(new mapboxgl.Scale({
      position: 'bottom-right',
      maxWidth: 200,
      unit: 'metric'
    }));

    map.on('load', function (e) {
      map.addSource(
        "page-point",
        {
          type: "geojson",
          data: {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "properties": {
                  "location": "{{ page.location }}"
                },
                "geometry": {
                  "type": "Point",
                  "coordinates": [{{ page.longitude }}, {{ page.latitude }}]
                }
              }
            ]
          }
        }
      );

      map.addLayer({
        "id": "page-point",
        "type": "circle",
        "source": "page-point",
        "paint": {
          "circle-color": "hsl(4, 60%, 42%)",
          "circle-radius": 10
        }
      });

      map.on('mousemove', function(e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['page-point'] });
        // set cursor to pointer
        map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
      });

      map.on('click', function (e) {
        var features = map.queryRenderedFeatures(e.point, { layers: ['page-point'] });

        if (!features.length) {
          return;
        }

        var feature = features[0];

        var popupParameters = {
          closeButton: false,
          offset: [0, -5]
        }

        var popup = new mapboxgl.Popup(popupParameters)
          .setLngLat(feature.geometry.coordinates)
          .setText(feature.properties.location)
          .addTo(map);
      });
    });

    var toggleScrollZoom = document.querySelector('.jsToggleScrollZoom');

    function toggleZooming() {
      var classList = toggleScrollZoom.classList;
      if (classList.contains('jsActive')) {
        classList.remove('jsActive');
      } else {
        classList.add('jsActive');
      }

      if (map.scrollZoom.isEnabled()) {
        map.scrollZoom.disable();
      } else {
        map.scrollZoom.enable();
      }
    };

    toggleScrollZoom.addEventListener('click', toggleZooming, false);
  }
}
</script>
{% endif %}
{% endif %}
