<!-- styles -->
<link rel="stylesheet" href="{{ site.style_url }}/main.css">
{% if page.theme == 'dark' or page.layout contains 'archive' %}
  <link rel="stylesheet" href="{{ site.style_url }}/dark.css">
{% endif %}
{% if page.theme == 'paper' %}
  <link rel="stylesheet" href="{{ site.style_url }}/paper.css">
{% endif %}
{% if page.layout == 'edgeless' %}
  <link rel="stylesheet" href="{{ site.style_url }}/edgeless.css">
{% endif %}
{% if page.layout == 'micro' %}
  <link rel="stylesheet" href="{{ site.style_url }}/micro.css">
{% endif %}
{% if page.layout == 'pattern' %}
  <link rel="stylesheet" href="{{ site.style_url }}/micro.css">
  <link rel="stylesheet" href="{{ site.style_url }}/patterns.css">
{% endif %}
{% if page.option contains 'error' %}
  <link rel="stylesheet" href="{{ site.style_url }}/404.css">
{% endif %}
{% if page.option contains 'custom-css' %}
  <link rel="stylesheet" href="{{ site.style_url }}/{{ page.custom-css }}">
{% endif %}
