  <!-- styles -->
  <link rel="stylesheet" href="{{ site.style-url }}/main.css">
  {% if page.option contains 'patterns' %}<link rel="stylesheet" href="{{ site.style-url }}/patterns.css">{% endif %}
  {% if page.option contains 'dark' %}<link rel="stylesheet" href="{{ site.style-url }}/dark.css">{% endif %}
  {% if page.option contains 'error' %}<link rel="stylesheet" href="{{ site.style-url }}/404.css">{% endif %}
  {% if page.layout == 'edgeless' %}<link rel="stylesheet" href="{{ site.style-url }}/edgeless.css">{% endif %}
  {% if page.layout == 'dubbel' %}<link rel="stylesheet" href="{{ site.style-url }}/dubbel.css">{% endif %}
  {% if page.option contains 'custom-css' %}<link rel="stylesheet" href="{{ site.style-url }}/{{ page.custom-css }}">{% endif %}
