  <!-- styles -->
{% capture patterns %}{% include style/patterns.scss %}{% endcapture %}
{% capture hero %}{% include style/hero.scss %}{% endcapture %}
{% capture photo %}{% include style/photo.scss %}{% endcapture %}

  <link rel="stylesheet" href="/main.css">
  {% if page.option contains 'custom-css' %}<link rel="stylesheet" href="{{ site.style-url }}/{{ page.custom-css }}">{% endif %}
  {% if page.option contains 'patterns' %}<style>{{ patterns | scssify | autoprefix }}</style>{% endif %}
  {% if page.option contains 'hero' %}<style>{{ hero | scssify | autoprefix }}</style>{% endif %}
  {% if page.option contains 'map-meta' %}<style>{{ photo | scssify | autoprefix }}</style>{% endif %}

{% capture edgeless %}{% include style/edgeless.scss %}{% endcapture %}
{% capture dubbel %}{% include style/dubbel.scss %}{% endcapture %}

  {% if page.layout == 'edgeless' %}<style>{{ edgeless | scssify | autoprefix }}</style>{% endif %}
  {% if page.layout == 'dubbel' %}<style>{{ dubbel | scssify | autoprefix }}</style>{% endif %}