---
---
@import 'variables/all.scss';

/*** Normalization *****************************/
/* following adapted from HTML5 Reset
source: http://html5reset.org */
* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following adapted from CSS Normalize
source: http://necolas.github.io/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* Box-sizing borrowed from Paul Irish
source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Viewport normalization for modern IE and future via Trent Walton
source: http://trentwalton.com/2013/01/16/windows-phone-8-viewport-fix */
@-webkit-viewport{ width: device-width; }
   @-moz-viewport{ width: device-width; }
    @-ms-viewport{ width: device-width; }
     @-o-viewport{ width: device-width; }
        @viewport{ width: device-width; }

/* Custom normalization */
html {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

figure img {
  display: block;
}

em,
i {
  font-style: italic;
}

dfn {
  font-style: normal;
  font-weight: 500;
}

ul,
ol {
  list-style-position: inside;
  padding: 0;
}

cite {
  font-style: normal;
}

small {
  font-size: .75em;
}

/***! END Normalization ***/

/*** Axiomatic styles **************************/
/* via Heydon Pickering
source: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */

* + * {
  margin-top: 1em;
}

li + li {
  margin-top: .5em; /* Half of axiomatic top margins */
}

/***! END Axiomatic styles ***/
html {
  color: $black;
  font: 400 16px/1.4375 $ratio;
  font: 400 1rem/1.4375 $ratio;
  -moz-font-feature-settings: "liga", "dlig"; 
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
   font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $white;
  color: $black;
}

[role="main"] {
  margin-top: 0;
}

strong,
b {
  font-weight: 500;
}

h1,
h2 {
  color: $gray02;
  line-height: 1.125;
  letter-spacing: -.0125em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
}

h3,
h4 {
  color: $gray00;
  line-height: 1.25;
}

h3,
h4,
h5 {
  font-weight: 300;
}

h4,
h5 {
  font-style: italic;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  color: $gray03;
  font-size: 1.125em;
  line-height: 1.375;
}

a {
  color: $boldred;
  transition-duration: 320ms;
  transition-property: color, background-color, border-bottom;
  transition-timing-function: cubic-bezier(0,1,1,1);
}

a:hover,
a:focus {
  color: $darkblue;
  transition-duration: 160ms;
}

a:active {
  color: $green;
  border-color: $pure-1!important;
}

article a,
footer a {
  border-bottom: solid 1px $pink;
}

article a:hover,
article a:focus,
footer a:hover,
footer a:focus {
  border-bottom: solid 1px $grayblue;
}

nav a,
nav a:hover,
nav a:focus {
  border-bottom: none;
}

ul {
  list-style-type: square;
}

article ol {
  counter-reset: listNumbering;
  list-style-type: none;
}

article ol li {
  counter-increment: listNumbering;
}

article ol li::before {
  content: counter(listNumbering) '.';
  font-weight: bolder;
  margin-right: .25em;
}

blockquote {
  border-left: solid .25em $blue;
  color: $gray03;
  margin: 2em 0 2em -1em;
  padding-left: .75em;
}

blockquote footer {
  color: $gray02;
  margin-top: 1em;
  text-align: right;
}

/* Footnotes */

sup[id] {
  margin-left: .125em;
  vertical-align: baseline;
}

sup[id] a {
  background-color: $grayblue-50;
  border: 0;
  border-radius: .125em;
  color: $gray01;
  font-size: .875em;
  font-weight: 400;
  margin-right: .25em;
  padding: 0 .25em;
}

sup[id] a:hover,
sup[id] a:focus {
  background-color: $pink-50;
  border: 0;
}

sup[id] a::before {
  content: "note ";
}

figcaption {
  color: $gray01;
  margin: 0 0 .5em;
  padding: .25em 1em;
}

figcaption p {
  font-size: .875em;
  margin: 0;
}

hr {
  background-color: $gray04;
  border: 0;
  height: .25em;
  margin: 2.5em 0;
}

code,
samp {
  font: 400 .8125em/1.4375 $source-code-pro;
  white-space: pre-wrap;
}

p > code,
li > code,
samp {
  border: solid 1px $gray04;
  border-radius: .25em;
  margin: 0 -.03125em;
  padding: .0625em .25em 0;
}

kbd > kbd {
  background-color: $black;
  border-radius: .25em;
  color: $white;
  font: 400 .8125em/1 $open-sans;
  padding: .0625em .5em;
}

kbd > kbd + b {
  font-family: $ratio;
  margin: 0 -.375em;
} /* <kbd><kbd>cmd</kbd> <b class="kbd-plus">+</b> <kbd>C</kbd></kbd> */

mark {
  background-color: $grayblue-50;
  padding: .0625em;
}

mark > code {
  vertical-align: text-bottom; /* fix for alignment issue */
}

dt,
dd {
  margin-top: 0;
}

dt {
  float: left;
  margin-right: .25em;
  min-width: 4.75em;
  width: 12.5%;
}

nav li {
  display: inline-block;
  float: left;
  height: 100%;
  list-style-type: none;
  margin: 0;
  text-align: center;
  width: 50%;
}
.site-header {
  height: 7em;
  padding-top: .5em;
}

.title {
  display: block;
  height: 3.5em;
  margin: 0 auto;
  padding: .5em;
  position: relative;
  width: 14em;
}

.title h1 {
  font-weight: 300;
  letter-spacing: -.03125em;
  line-height: 1.25em;
  margin: 0;
}

.title:hover h1,
.title:focus h1 {
  color: $boldblue;
}

/* Logo */

.title .logo {
  float: left;
  height: 2.5em;
  margin: 0 .5em 0 0;
  width: 2.5em;
}

.title .logo circle {
  stroke: $gray02;
}

/* Logo animation */

.title:hover .logo circle,
.title:focus .logo circle {
  stroke: $boldblue;
  -webkit-animation-name: step-fill;
          animation-name: step-fill;
  -webkit-animation-timing-function: cubic-bezier(0,1,1,1);
          animation-timing-function: cubic-bezier(0,1,1,1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 320ms;
          animation-duration: 320ms;
}

.title:hover .logo .secret,
.title:active .logo .secret {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.title:hover .logo .inner,
.title:active .logo .inner {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.title:hover .logo .outer,
.title:active .logo .outer {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}

/* Menu navigation - top right */

.top-menu,
.close-menu {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 4.5em;
  width: 100%;
  z-index: 2;
}

.top-menu a,
.close-menu a {
  background-color: $red;
  color: $whiter;
  height: 2.5em;
}

.top-menu a,
.close-menu a,
.alt-nav a {
  color: $whiter;
  display: block;
  font-weight: 400;
  padding: .5em;
}

.top-menu a:hover,
.top-menu a:active,
.close-menu a {
  background-color: $boldblue;
}

.top-menu a:focus,
.close-menu a:focus {
  outline: none;
}

/* Site meta information */

.site-footer {
  clear: both;
  margin: 0 auto;
}

.site-nav,
.site-info {
  margin: 0 auto;
  overflow: auto;
}

.site-info {
  background-color: $gray07;
  color: $gray00;
  padding: 2em 1em;
  width: 100%;
}

.site-info .inside {
  margin: 0 auto;
  max-width: 36em;
}

.site-info p {
  font-size: .875em;
}

/* Footer navigation */

.site-nav {
  display: block;
  font-weight: 400;
  max-width: 45em;
}

.site-nav ul {
  font-size: 1.25em;
  margin: 0 auto;
}

.site-nav li a {
  background-color: $black;
  display: block;
  color: $whiter;
  padding: 2em 0;
}

.site-nav li:nth-child(2) a {
  background-color: $gray01;
}

.site-nav li:nth-child(3) a {
  background-color: $gray02;
}

.site-nav li:nth-child(4) a {
  background-color: $gray00;
}

.site-nav li a:hover {
  background-color: $boldblue;
}

/* Target navigation - JS-free modal navigation */

.close-menu {
  display: none; /* only displays with :target */
}

.site-nav:target {
  margin: 0 auto;
  padding-top: 7em;
  position: absolute; /* now visible when target:ed */
  right: 0;
  top: 0;
  width: 100%;
}

.site-nav:target ul {
  position: relative;
  z-index: 2;
}

.site-nav:target li a {
  background-color: $black-80;
}

.site-nav:target li:nth-child(2) a {
  background-color: $gray01-80;
}

.site-nav:target li:nth-child(3) a {
  background-color: $gray02-80;
}

.site-nav:target li:nth-child(4) a {
  background-color: $gray00-80;
}

.site-nav:target li a:hover {
  background-color: $boldblue-80;
}

.site-nav:target .close-menu {
  display: block; /* now visible when target:ed */
}

.site-nav:target .close-menu a {
  position: relative;
  z-index: 1;
}

.site-nav:target::after,
.site-nav:target .close-menu a::after {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-nav:target::after {
  background-color: $black-80;
}

.site-nav li a:focus,
.site-nav:target li a:focus {
  background-color: $boldblue;
  outline: none;
}

.site-nav li a:active,
.site-nav:target li a:active {
  background-color: $green;
  color: $gray07;
}

/* Alternative nav – home and back-to-top */

.alt-nav {
  margin: 0;
}

.alt-nav li a {
  background-color: $gray00;
  color: $whiter;
  padding: 1em;
}

.alt-nav .back-home a,
.page-meta .later a {
  background-color: $red;
}

.alt-nav .back-top a,
.page-meta .earlier a {
  background-color: $blue;
}

.alt-nav a:hover,
.alt-nav a:focus,
.page-meta .chronology a:hover,
.page-meta .chronology a:focus {
  background-color: $whiter;
  outline: none;
}

.alt-nav .back-home a:hover,
.alt-nav .back-home a:focus,
.page-meta .later a:hover,
.page-meta .later a:focus {
  color: $red;
}

.alt-nav .back-home a:focus,
.page-meta .later a:focus {
  background-color: $gray05;
  color: $boldred;
}

.alt-nav .back-home a:hover circle {
  stroke: $red;
}

.alt-nav .back-home a:focus circle {
  stroke: $boldred;
}

.alt-nav .back-top a:hover,
.page-meta .earlier a:hover {
  color: $blue;
}

.alt-nav .back-top a:focus,
.page-meta .earlier a:focus {
  background-color: $gray05;
  color: $boldblue;
}

.back-home .inside {
  margin: 0 auto;
  width: 4.5em;
}

.back-home .logo {
  float: right;
  height: 1.25em;
  width: 1.25em;
}

.back-home .logo svg {
  padding: 2px;
}

.back-home .logo circle {
  stroke: $whiter;
  stroke-width: 32px;
}
.page-header {
  margin: 0 auto;
}

.page-header .inside {
  padding: 1em;
}

.page,
.page-header .inside {
  background-color: $whiter;
  margin: 0 auto;
}

.page {
  padding: .5em 1em 2.5em;
}

/* Page metadata */

.page-meta {
  background-color: $gray07;
  margin: 0 auto;
  position: relative;
}

.page-meta .chronology,
.page-meta .time {
  margin-top: 0;
  width: 100%;
}

.page-meta .chronology {
  overflow: auto;
}

.page-meta .chronology ul {
  height: 100%;
}

.page-meta .chronology li:only-child {
  width: 100%;
}

.page-meta .chronology a {
  color: $gray07;
  display: block;
  font-weight: 400;
  height: 100%;
  min-height: 2.5em;
  padding: .5em 0;
}

.page-meta .time {
  padding: 1em;
}

.page-meta .time p {
  font-size: .875em;
  margin-top: 0;
}

/* Block content – essays, code blocks */

.essay {
  margin-top: 2em;
}

.highlight,
.essay,
.project {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
}

.highlight {
  border-bottom: solid .0625em $gray05;
  border-top: solid .0625em $gray05;
  font-size: 1em;
  font-family: sans-serif;
}

.link {
  background-color: $gray00;
  border-bottom: none;
  color: $white;
  display: block;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1em 0;
  text-align: center;
}

.link:hover,
.link:focus {
  background-color: $boldblue;
  border-bottom: none;
  outline: none;
}

.link:active {
  color: $gray07;
  background-color: $green;
}

.project {
  background-color: $gray06;
}

.project .description {
  color: $gray02;
  font-size: 1.125em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.33333333;
}

.project-links {
  overflow: auto;
}

.project-links li {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0;
  width: 50%;
}

.project-links :only-child {
  width: 100%;
}

.project-url {
  background-color: $red;
}

.project-source {
  background-color: $violet;
}

.project-url:hover {
  background-color: $white;
  color: $red;
}

.project-source:hover {
  background-color: $white;
  color: $violet;
}

/* Bold emphasis text blocks – <div class="important"> */

.important {
  color: $blue;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
}

.important a {
  color: $red;
}

.important a:hover,
.important a:focus {
  color: $gray02;
}

.important a:active {
  color: $green;
}

.center {
  text-align: center;
}

/* Asides and footnotes for supporting content */

.ancillary,
.footnotes {
  color: $gray01;
  margin-right: -1em;
  padding: 1em;
}

.ancillary {
  background-color: $white;
}

.ancillary h1 {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.125;
}

.ancillary h2 {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.25;
}

.ancillary img {
  max-width: none;
  width: calc(100% + 1em);
}

/* Before/after for projects */

.text-before,
.text-after {
  color: $white;
  border-radius: .125em;
  padding: .125em .375em;
}

.text-before {
  background-color: $red;
}

.text-after {
  background-color: $green;
}

/* Footnotes */

.footnotes {
  background-color: $grayblue-50;
  padding-bottom: 2em;
}

.footnotes ol {
  list-style-position: outside;
  padding: 0 1.25em;
}

.footnotes li {
  border-bottom: solid 1px $gray04;
  padding-bottom: 1.25em;
}

.footnotes li + li {
  margin-top: 1.25em;
}

.footnotes li:last-child {
  border: none;
  padding: 0;
}

.footnotes li p {
  display: inline; /* overwrites default block style */
}

.footnotes ol li::before {
  margin-right: 0;
}

.reversefootnote {
  border: solid 1px $gray04;
  border-radius: .125em;
  color: $gray01;
  float: right;
  margin: 0 -1.5em;
  padding: 0 .25em;
}

.reversefootnote:hover,
.reversefootnote:focus {
  background-color: $pink-50;
  border-color: $pink-50;
}
article img {
  width: 100%;
}

.narrow,
.wide,
.grid2 {
  margin: 5% calc(-1em) 0;
  max-width: none;
  width: calc(100% + 2em);
}

.grid2 figure {
  margin-top: 5%;
}

.grid3 figure,
.grid2 .w33 {
  width: 66.66666667%;
}

/* SVG figure padding helper */

.svg img {
  padding: 0 2em 1em;
}

.noedges img {
  padding: 1em;
}

/* SVG figure background helper */

.extradark img {
  background-color: $black;
}

.dark img {
  background-color: $gray01;
}

.light img {
  background-color: $gray06;
}

.extralight img {
  background-color: $whiter;
}

/* Screenshot border/outline helper */

.screenshot img {
  outline: solid 1px $gray05;
}


.home,
.category {
  background-color: $white;
}

.archive {
  background-color: $gray04;
}

.index {
  margin: 1em;
}

.features {
  margin: 1em -1em 0;
  width: calc(100% + 2em);
}

.home .features,
.home .index {
  margin-top: 0;
}

.items {
  margin: 1em auto;
  overflow: hidden;
}

.archive-items {
  margin: 0 auto;
  overflow: auto;
}

.archive-item {
  margin: 1em 0 0;
}

.index-header h1 {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: -.03125em;
  text-align: center;
}

.feature,
.item {
  background-color: $gray07;
  display: inline-block;
  position: relative;
}

.item:nth-child(2n + 2) {
  background-color: $gray05;
}

.feature,
.item,
.archive-item {
  width: 100%;
}

.index .location a {
  border-bottom: solid 1px $pure-1;
}

.index .location a:hover,
.index .location a:focus {
  border-bottom: solid 1px $grayblue;
}

.meta {
  background-color: $gray07-90;
  margin: 0;
  padding: 1em;
  position: relative;
}

.feature .meta {
  font-size: 1.125em;
  min-height: 12.5em;
  padding: .888888889em;
}

.meta h1 {
  font-size: 1.5em;
}

.meta h1 a {
  color: $red;
}

.meta h1 a:hover,
.meta h1 a:focus {
  color: $blue;
}

.meta h1 a:active {
  color: $green;
}

.meta .time {
  font-size: .875em;
}

.item .link,
.feature .link {
  margin: 0;
}

.feature .link {
  background-color: $black;
}

.item .link {
  background-color: $gray02;
}

.item:nth-child(2n + 2) .link {
  background-color: $gray00;
}

.item .link:hover,
.item .link:focus,
.feature .link:hover,
.feature .link:focus {
  background-color: $boldblue;
  color: $white;
}

.item .link:active,
.feature .link:active {
  color: $gray07;
  background-color: $green;
}

.archive-item {
  list-style: none;
}

.archive-item .meta {
  background-color: $gray07;
}

.archive-item .meta h1 {
  font-size: 1.125em;
}

.photo-gallery .item {
  height: 10em;
  margin: 1em 0 0;
}

.photo-gallery .item a {
  color: $pure-1;
  display: block;
  height: 100%;
}

.photo-gallery .item .meta {
  background-color: transparent;
  height: auto;
  padding: 1em;
}

.photo-gallery .item .meta h1 {
  color: inherit;
  font-size: 1.125em;
  font-weight: 500;
}

.photo-gallery .item a:hover,
.photo-gallery .item a:focus {
  background-color: $gray07-90;
}

.photo-gallery .item a:hover .meta h1,
.photo-gallery .item a:focus .meta h1 {
  color: $boldblue;
}

.photo-gallery .item a:hover .meta p,
.photo-gallery .item a:focus .meta p {
  color: $black;
}

.link-archive .link {
  background-color: $red;
}

.link-archive .link:nth-child(2) {
  background-color: $blue;
}

.link-archive .link:hover,
.link-archive .link:focus {
  background-color: $gray07;
  color: $red;
}

.link-archive .link:nth-child(2):hover,
.link-archive .link:nth-child(2):focus {
  color: $blue;
}

.link-archive .link:focus,
.link-archive .link:nth-child(2):focus {
  background-color: $gray05;
}

.introduction {
  background-color: $blue;
  color: $gray07;
  font-size: 1.125em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25em;
}

.introduction a {
  color: $whiter;
  border-bottom: solid 1px $gray07;
}

.introduction a:hover,
.introduction a:focus {
  color: $grayblue;
  border-bottom: solid 1px $grayblue-50;
}

.introduction .meta {
  background-color: inherit;
}

/*** Media queries *****************************/

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-resolution: 108dpi),
screen and (min-resolution: 1.5dppx) {
  html {
    font: 300 1rem/1.4375 'ratio', 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
  }

  strong,
  b {
    font-weight: 400;
  }
}

@media screen and (min-width: 22.5em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 28em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 30em) {
  blockquote {
    border-width: .5em;
    margin-left: -2em;
    padding-left: 1.5em;
  }

  .page {
    padding: 1.25em 2em 2.5em;
  }

  .narrow,
  .wide,
  .grid2,
  .grid3 {
    margin: 5% calc(-2em) 0;
    width: calc(100% + 4em);
  }

  .page-header .inside,
  .highlight,
  .essay {
    padding-left: 2em;
    padding-right: 2em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2em;
    margin-right: -2em;
  }

  .project {
    padding: 2em;
  }

  .link-project a {
    font-size: 1em;
  }

  .site-header {
    height: 4.5em;
  }

  .title {
    margin: 0 1.5em;
  }

  .top-menu,
  .close-menu {
    right: 0;
    top: 0;
    width: auto;
  }

  .top-menu a,
  .close-menu a {
    font-size: 1.125em;
    height: 4em;
    line-height: 2em;
    padding: 1em;
  }

  .site-nav:target {
    padding-top: 4.5em;
  }

  .ancillary {
    padding: 2em;
    margin-right: -2em;
  }

  .ancillary img {
    width: calc(100% + 2em)
  }

  .footnotes {
    margin-right: -2em;
  }

  .features {
    margin-top: -1em;
  }

  .index-title {
    margin: 0 1.5em;
  }

  .index-header h1 {
    margin-left: .8em;
    text-align: left;
  }

  .photo-gallery .item .meta h1 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 34em) {
  blockquote {
    border-width: .75em;
    margin-left: -2.5em;
    padding-left: 1.75em;
  }

  .page {
    padding: 0 2.5em 2.5em;
  }

  .page-header .inside {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  .title {
    margin: 0 2.5em;
  }

  .narrow,
  .wide,
  .grid2,
  .grid3 {
    margin: 5% calc(-2.5em) 0;
    width: calc(100% + 5em);
  }

  .page-header .inside,
  .highlight,
  .essay,
  .project {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2.5em;
    margin-right: -2.5em;
  }

  .right {
    float: right;
    margin: 1em -2.5em 1em 1.25em;
    width: 50%;
  }

  .highlight,
  .essay {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }

  .ancillary,
  .footnotes {
    margin-right: -2.5em;
  }

  .footnotes {
    margin-top: 2.5em;
  }

  .link {
    line-height: 2em;
    font-size: 1em;
  }

  .index {
    margin: 1em auto 0;
    max-width: 45em;
  }

  .features + .items {
    margin-top: 0;
  }

  .features {
    margin: -1em auto 0;
    width: 100%;
  }

  .archive-items {
    margin: 1em auto;
  }

  .archive-item .meta {
    font-size: 1.25em;
  }

  .index-header h1 {
    margin-left: 1.6em;
  }

  .item {
    float: left;
    height: 20em;
    margin: 1em 0 0;
    width: 50%;
  }

  .photo-gallery .item {
    height: 12.5em;
  }

  .meta {
    padding: 2em;
  }

  .feature .meta {
    font-size: 1.25em;
    min-height: 15em;
    padding: 1.6em;
  }

  .archive .meta {
    padding: 1em 2em;
  }

  .introduction {
    font-size: 1.25em;
  }

  .item .meta {
    height: 16em;
  }

  .feature .link {
    font-size: 1.125em;
  }

  .link-archive {
    float: left;
    width: 100%;
  }

  .link-archive .link {
    margin: 0;
    float: left;
    width: 50%;
  }

  .link-archive .link:only-child {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  figcaption p {
    font-size: .75em;
  }

  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.25em;
  }

  .title {
    margin: 0 auto;
  }

  .alt-nav {
    font-size: 1.25em;
  }

  .site-nav li a,
  .alt-nav li a {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 45em) {
  .page,
  .page-header .inside,
  .page-meta {
    width: 36em;
  }

  .site-header {
    height: auto;
    padding: 0;
  }

  .title {
    font-size: 1.25em;
    margin: .5em auto 1em;
  }

  .page-header {
    margin: 0 auto;
  }

  article[role="main"] + .site-footer {
    margin-top: 2.75em;
  }

  .page-meta {
    height: 4em;
  }

  .page-meta .chronology,
  .page-meta .time {
    position: absolute;
  }

  .page-meta .chronology {
    height: 4em;
    bottom: 0;
  }

  .page-meta .chronology li, 
  .page-meta .chronology li:only-child {
    width: 5em;
  }

  .page-meta .chronology .later {
    float: left;
  }

  .page-meta .chronology .earlier {
    float: right;
  }

  .page-meta .chronology a {
    padding: 1.25em 0;
  }

  .page-meta .time {
    margin: 0 5em;
    padding: .5em 1em;
    text-align: center;
    width: 26em;
    z-index: 2;
  }

  .index-title {
    margin: .5em auto 1em;
  }

  .features {
    margin-top: 1em;
  }

  .index-header h1 {
    margin: 0;
    text-align: center;
  }

  .photo-gallery .item {
    height: 7.5em;
    width: 25%;  
  }

  .photo-gallery .item .meta h1 {
    font-size: 1em;
  }
}

@media screen and (min-width: 50em) {
  html {
    line-height: 1.5;
  }
}

@media screen and (min-width: 60em) {
  blockquote {
    margin-left: 0;
  }

  figcaption p {
    text-align: right;
  }

  .page {
    padding: 0 4.5em 4.5em;
  }

  .page-header .inside {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
  }

  .page,
  .page-header .inside,
  .page-meta {
    width: 45em;
  }

  .title {
    margin-bottom: 1.5em;
  }

  .page-header .inside {
    padding: 2em 1.25em;
  }

  .site-nav {
    max-width: 56.25em;
  }

  .site-nav:target {
    max-width: 45rem;
  }

  .site-nav li a,
  .alt-nav li a {
    font-size: 1.25em;
  }

  .page-header .inside,
  .highlight,
  .essay {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }

  .highlight,
  .essay,
  .code figcaption {
    margin-left: -4.5em;
    margin-right: -4.5em;
  }

  .right {
    margin: 1.5em -4.5em 1.5em 2em;
  }

  .highlight {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .project {
    margin: 0 auto;
  }

  .ancillary {
    float: right;
    font-size: .75em;
    margin: 2em -6em 2em 2em;
    width: 40%;
  }

  .footnotes {
    margin-right: -4.5em;
    padding: 2.5em;
  }

  .reversefootnote {
    margin: 0 -2.5em;
  }

  .important {
    padding: 0 2em;
  }

  .narrow {
    margin: 5% auto;
    width: 100%;
  }

  .narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

  .narrow {
    margin: 5% auto;
    width: 100%;
  }

  .narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

  .wide,
  .grid2,
  .grid3 {
    margin: 5% calc(-4.5em) 0;
    max-width: none;
    width: calc(100% + 9em);
  }

  .wide figcaption p,
  .code figcaption p {
    margin-left: 52%;
    width: 48%;
  }

  .grid2,
  .grid3 {
    display: inline-block;
  }

  .grid2 figure,
  .grid3 figure {
    float: left;
    margin: 0;
    max-width: 100%;
  }

  .grid2 figure {
    width: 48%;
  }

  .grid3 figure {
    width: 30.66666666%;
  }

  .grid2 .w33 {
    width: 31.33333333%;
  }

  .grid2 .w66 {
    width: 64.66666667%;
  }

  .grid2 figure + figure,
  .grid3 figure + figure {
    margin-left: 4%;
  }

  .grid2 + figure,
  .grid3 + figure {
    clear: both;
  }

  .grid2 :first-child figcaption p,
  .grid3 figcaption p {
    text-align: left;
  }

  .page-meta .chronology li,
  .page-meta .chronology li:only-child {
    width: 9em;
  }

  .page-meta .time {
    margin: 0 9em;
    width: 27em;
  }

  .index {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 70em) {
  .site-info,
  .site-nav {
    float: right;
    margin: 0;
    width: 50%;
  }

  .site-info {
    min-height: 17.125rem; /* keeps .back-home link down */
    padding: 1.5em 2em;
  }
}

@media screen and (min-width: 80em) {
  .title {
    font-size: 1.5em;
    margin: 1.5em auto;
  }

  .top-menu,
  .close-menu {
    font-size: 1.125em;
  }

  .site-nav:target {
    padding-top: 5em;
  }

  .page,
  .page-header .inside,
  .page-meta {
    width: 54em;
  }

  .page-header .inside {
    padding: 2.5em 0;
    text-align: center;
  }

  .page {
    padding: 0 9em 6em;
  }

  .wide,
  .grid2,
  .grid3 {
    margin: 5% calc(-9em) 0;
    width: calc(100% + 18em);
  }

  .highlight {
    padding-left: 9em;
    padding-right: 9em;
  }

  .highlight,
  .code figcaption {
    margin-left: -9em;
    margin-right: -9em;
  }

  .right {
    margin-right: -9em;
  }

  .footnotes {
    margin: 2.5em -9em -3em 4.5em;
  }

  .ancillary {
    font-size: .875em;
    margin-right: -10.28571429em;
    margin-right: calc(-9em / .875);
    width: 50%;
  }

  .page-meta .time {
    width: 36em;
  }

  .site-info {
    padding: 2em 2em 0;
  }

  .index-title {
    margin: 1.5em auto;
  }
}

@media screen and (min-width: 95em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.5em;
  }

  .title {
    font-size: 1.75em;
  }

  .top-menu,
  .close-menu {
    font-size: 1.25em;
  }

  .site-nav {
    width: 33.3333333%;
  }

  .site-info {
    padding: 2em 4em;
    font-size: 1.5em;
    width: 66.66666667%;
  }

  .site-info .inside {
    max-width: none;
  }

  .index {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 115em) {
  .page,
  .page-header,
  .page-meta {
    font-size: 1.75em;
  }

  .title {
    font-size: 2em;
  }

  .site-footer {
    max-width: 94.5em;
  }

  .site-info {
    padding: 2em 5em;
  }
}

/* Height queries – 1.666666667 ratio height limiter  */

@media screen and (min-width: 28.25em) and (max-height: 17em),
screen and (min-width: 30em) and (max-height: 18em),
screen and (min-width: 31.5em) and (max-height: 19em),
screen and (min-width: 33.25em) and (max-height: 20em),
screen and (min-width: 35em) and (max-height: 21em),
screen and (min-width: 36.75em) and (max-height: 22em),
screen and (min-width: 38.25em) and (max-height: 23em),
screen and (min-width: 40em) and (max-height: 24em),
screen and (min-width: 41.5em) and (max-height: 25em),
screen and (min-width: 43.5em) and (max-height: 26em),
screen and (min-width: 45em) and (max-height: 27em),
screen and (min-width: 46.75em) and (max-height: 28em),
screen and (min-width: 48.25em) and (max-height: 29em),
screen and (min-width: 50em) and (max-height: 30em),
screen and (min-width: 53.25em) and (max-height: 32em),
screen and (min-width: 55em) and (max-height: 33em),
screen and (min-width: 57em) and (max-height: 34em),
screen and (min-width: 58.5em) and (max-height: 35em),
screen and (min-width: 60em) and (max-height: 36em) {
  .wide,
  .narrow,
  .grid2,
  .grid3 {
    margin: 5% auto 0!important;
    max-width: 100%!important;
  }

  .essay {
    margin: 1.25em auto;
    padding: 2em;
  }
}

/***! END Media queries ***/

/* Transition helpers */

svg circle {
  transition: all 320ms cubic-bezier(0,1,1,1);
}

a svg circle {
  transition: all 160ms cubic-bezier(0,1,1,1);
}
/*** Animations ********************************/

@-webkit-keyframes step-fill {
  0% {
    fill: $pure-1;
  }

  100% {
    fill: $boldblue;
  }
}

@keyframes step-fill {
  0% {
    fill: $pure-1;
  }

  100% {
    fill: $boldblue;
  }
}

/***! END Animations ***/