---
---
@import 'variables/all.scss';

@import 'normalize.scss';
@import 'defaults.scss';
@import 'animation.scss';

/*** Basics ************************************/

html {
  color: $black;
  font: 400 16px/1.4375 $ratio;
  font: 400 1rem/1.4375 $ratio;
  -moz-font-feature-settings: "liga", "dlig"; 
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
   font-feature-settings: "liga", "dlig";
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $white;
  color: $black;
}

[role="main"] {
  margin-top: 0;
}

strong,
b {
  font-weight: 500;
}

/* Headings */

h1,
h2 {
  color: $gray02;
  line-height: 1.125;
  letter-spacing: -.0125em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
}

h3,
h4 {
  color: $gray00;
  line-height: 1.25;
}

h3,
h4,
h5 {
  font-weight: 300;
}

h4,
h5 {
  font-style: italic;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  color: $gray03;
  font-size: 1.125em;
  line-height: 1.375;
}

/* Links */

a {
  color: $boldred;
  transition-duration: 320ms;
  transition-property: color, background-color, border-bottom;
  transition-timing-function: cubic-bezier(0,1,1,1);
}

a:hover,
a:focus {
  color: $darkblue;
  transition-duration: 160ms;
}

a:active {
  color: $green;
  border-color: $pure-1!important;
}

article a,
footer p a {
  border-bottom: solid 1px $pink;
}

article a:hover,
article a:focus,
footer a:hover,
footer a:focus {
  border-bottom: solid 1px $grayblue;
}

nav a,
nav a:hover,
nav a:focus {
  border-bottom: none;
}

/* Lists */

ul {
  list-style-type: square;
}

ul ul,
ol ol {
  margin: .5em 1em;
}

article ol {
  counter-reset: ordered-list;
  list-style-type: none;
}

article ol ol {
  counter-reset: ordered-list-sub;
}

article ol li {
  counter-increment: ordered-list;
}

article ol ol li {
  counter-increment: ordered-list-sub;
}

article ol li::before {
  content: counter(ordered-list) ':';
  font-weight: bolder;
  margin-right: .25em;
}

article ol ol li::before {
  content: counter(ordered-list) "." counter(ordered-list-sub) ":";
}

/* Blockquotes */

blockquote {
  border-left: solid .25em $blue;
  color: $gray03;
  margin: 2em 0 2em -1em;
  padding-left: .75em;
}

blockquote footer {
  color: $gray02;
  margin-top: 1em;
  text-align: right;
}

/* Footnotes */

sup[id] {
  margin: 0 .125em;
  top: 0;
}

sup[id] a {
  background-color: $grayblue-50;
  border: 0;
  border-radius: .125em;
  color: $gray01;
  font-weight: 400;
  padding: 0 .25em;
}

sup[id] a:hover,
sup[id] a:focus {
  background-color: $pink-50;
  border: 0;
}

sup[id] a::before {
  content: "note ";
}

/* Figcaptions */

figcaption {
  color: $gray01;
  margin: 0 0 .5em;
  padding: .25em 1em;
}

figcaption p {
  font-size: .875em;
  margin: 0;
}

/* Inline styles */

hr {
  background-color: $gray04;
  border: 0;
  height: .25em;
  margin: 2.5em 0;
}

code,
samp {
  font: 400 .8125em/1.4375 $source-code-pro;
  white-space: pre-wrap;
}

p > code,
li > code,
samp {
  border: solid 1px $gray05;
  border-radius: .25em;
  margin: 0 -.03125em;
  padding: .0625em .25em 0;
}

kbd > kbd {
  background-color: $black;
  border-radius: .25em;
  color: $white;
  font: 400 .8125em/1 $open-sans;
  padding: .0625em .5em;
}

kbd > kbd + b {
  font-family: $ratio;
  margin: 0 -.375em;
} /* <kbd><kbd>cmd</kbd> <b class="kbd-plus">+</b> <kbd>C</kbd></kbd> */

mark {
  background-color: $grayblue-50;
  padding: .0625em;
}

mark > code {
  vertical-align: text-bottom; /* fix for alignment issue */
}

dt,
dd {
  margin-top: 0;
}

dt {
  float: left;
  margin-right: .25em;
  min-width: 4.75em;
  width: 12.5%;
}

/*** Site-wide *********************************/

/** Header **/

.site-header {
  height: 4.5em;
  padding: 1em;
  @include flexbox;
  @include flex-flow(column nowrap);
}

.title {
  @include flex(1 0 auto);
  @include flexbox;
  @include justify-content(center);
  @include flex-flow(row wrap);
}

.title h1 {
  font-weight: 300;
  letter-spacing: -.03125em;
  line-height: 1.25em;
  margin: 0 .1875em;
}

.title:hover h1,
.title:focus h1 {
  color: $boldblue;
}

/* Logo */

.logo {
  height: 2.5em;
  width: 2.5em;
}

.title .logo circle {
  stroke: $gray02;
}

/* Logo animation */

.title:hover .logo circle,
.title:focus .logo circle {
  stroke: $boldblue;
  -webkit-animation-name: step-fill;
          animation-name: step-fill;
  -webkit-animation-timing-function: cubic-bezier(0,1,1,1);
          animation-timing-function: cubic-bezier(0,1,1,1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 320ms;
          animation-duration: 320ms;
}

.title:hover .logo .secret,
.title:active .logo .secret {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.title:hover .logo .inner,
.title:active .logo .inner {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.title:hover .logo .outer,
.title:active .logo .outer {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}

/* Menu navigation - top right */

.top-menu,
.close-menu {
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.close-menu {
  display: none; /* only displays with :target */
  position: absolute;
  top: 4.5em;
}

.top-menu a,
.close-menu a {
  background-color: $red;
  color: $whiter;
}

.top-menu a,
.close-menu a {
  color: $whiter;
  display: block;
  font-weight: 400;
  padding: .5em;
}

.top-menu a:hover,
.top-menu a:active,
.close-menu a {
  background-color: $boldblue;
}

.top-menu a:focus,
.close-menu a:focus {
  outline: none;
}

/* Site meta information */

.site-footer {
  clear: both;
  margin: 0 auto;
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);
}

.site-info {
  background-color: $gray07;
  color: $gray00;
  margin: 0;
  overflow: auto;
  padding: 2em 1em;
  width: 100%;
}

.site-info .inside {
  margin: 0 auto;
  max-width: 36em;
}

.site-info p {
  font-size: .875em;
}

/* Footer navigation */

.site-nav {
  max-width: 45em;
  @include flex(1 0 auto);
}

.site-nav-list {
  font-size: 1.25em;
  margin: 0;
  @include flexbox;
  @include flex-flow(row wrap);
}

.site-nav-list li {
  list-style-type: none;
  margin: 0;
  text-align: center;
  @include flex(0 0 50%);
}

.site-nav-item {
  background-color: $black;
  color: $whiter;
  display: block;
  font-weight: 400;
  padding: 2em 0;
}

.site-nav li:nth-child(2) a {
  background-color: $gray01;
}

.site-nav li:nth-child(3) a {
  background-color: $gray02;
}

.site-nav li:nth-child(4) a {
  background-color: $gray00;
}

.site-nav .site-nav-item:hover {
  background-color: $boldblue;
  color: $whiter;
}

/* Target navigation - JS-free modal navigation */
.site-nav:target {
  margin: 0 auto;
  padding-top: 7em;
  position: absolute; /* now visible when target:ed */
  right: 0;
  top: 0;
  width: 100%;
}

.site-nav:target ul {
  position: relative;
  z-index: 2;
}

.site-nav:target li a {
  background-color: $black-80;
}

.site-nav:target li:nth-child(2) a {
  background-color: $gray01-80;
}

.site-nav:target li:nth-child(3) a {
  background-color: $gray02-80;
}

.site-nav:target li:nth-child(4) a {
  background-color: $gray00-80;
}

.site-nav:target li a:hover {
  background-color: $boldblue-80;
}

.site-nav:target .close-menu {
  display: block; /* now visible when target:ed */
}

.site-nav:target .close-menu a {
  position: relative;
  z-index: 1;
}

.site-nav:target::after,
.site-nav:target .close-menu a::after {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-nav:target::after {
  background-color: $black-80;
}

.site-nav-item:focus {
  background-color: $boldblue;
  outline: none;
}

.site-nav-item:active {
  background-color: $green;
  color: $gray07;
}

/* Alternative nav – home and back-to-top */

.alt-nav {
  margin: 0;
  @include flex(1 0 100%);
  @include flexbox;
}

.alt-nav-item {
  background-color: $gray00;
  color: $whiter;
  font-weight: 400;
  margin: 0;
  max-width: 50%;
  padding: 1em;
  text-align: center;
  @include flex(1 0 50%);
  @include flexbox;
  @include justify-content(center);
}

.back-home .logo {
  height: 1.3em;
  margin: .1em .4em 0;
  width: 1.3em;
}

.back-home circle {
  stroke: $whiter;
  stroke-width: 36px;
}

.back-home {
  background-color: $red;
}

.back-top {
  background-color: $blue;
}

.alt-nav-item:hover,
.alt-nav-item:focus {
  background-color: $whiter;
  outline: none;
}

.back-home:hover {
  color: $red;
}

.back-home:focus {
  color: $boldred;
}

.back-home:hover circle {
  stroke: $red;
}

.back-home:focus circle {
  stroke: $boldred;
}

.back-top:hover {
  color: $blue;
}

.back-top:focus {
  color: $boldblue;
}

/*** Page **************************************/

.page-header {
  margin: 0 auto;
}

.page-header .inside {
  padding: 1em;
}

.page,
.page-header .inside {
  background-color: $whiter;
  margin: 0 auto;
}

.page {
  padding: .5em 1em 2.5em;
}

/* Page metadata */

.page-meta {
  background-color: $gray07;
  margin: 0 auto;
  width: 100%;
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);
}

.page-meta .page-nav-item {
  background-color: $red;
  border: none;
  color: $white;
  font-weight: 400;
  margin: 0;
  min-height: 2.5em;
  padding: .5em 0;
  text-align: center;
  @include flex(1 0 50%);
}

.page-meta .page-nav-item:only-child {
  @include flex(1 0 100%);
}

.page-meta .later {
  background-color: $red;
}

.page-meta .earlier {
  background-color: $blue;
}

.page-meta .page-nav-item:hover,
.page-meta .page-nav-item:focus {
  background-color: $whiter;
  border: none;
  outline: none;
}

.page-meta .later:hover {
  color: $red;
}

.page-meta .later:focus {
  color: $boldred;
}

.page-meta .earlier:hover {
  color: $blue;
}

.page-meta .earlier:focus {
  color: $boldblue;
}

.page-meta .time {
  padding: 1em;
  margin: 0;
  text-align: center;
  @include flex(1 0 100%);
}

.page-meta .time p {
  font-size: .875em;
  margin-top: 0;
}

/* Block content – essays, code blocks */

.essay {
  margin-top: 2em;
  margin-bottom: 2em;
}

.highlight,
.essay,
.project {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
}

.highlight {
  background-color: $gray02;
  border-bottom: solid .0625em $gray05;
  border-top: solid .0625em $gray05;
  color: $whiter;
  font-size: 1em;
  font-family: sans-serif;
}

.highlight .c {
  color: $gray05; /* Comments */
}

.link {
  background-color: $gray00;
  border-bottom: none;
  color: $white;
  display: block;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1em 0;
  text-align: center;
}

.link:hover,
.link:focus {
  background-color: $boldblue;
  border-bottom: none;
  outline: none;
}

.link:active {
  color: $gray07;
  background-color: $green;
}

.project {
  background-color: $gray06;
  min-height: 15em;
}

.project .sample {
  background-color: $gray07;
}

.project .description {
  color: $gray02;
  font-size: 1.125em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.33333333;
}

.project-links {
  @include flexbox;
}

.project-links li {
  list-style: none;
  margin: 0;
  @include flex(1 0 50%);
}

.project-links :only-child {
  width: 100%;
}

.project-links .project-url {
  background-color: $red;
  color: $white;
}

.project-links .project-source {
  background-color: $violet;
  color: $white;
}

.project-links .project-url:hover {
  background-color: $white;
  color: $red;
}

.project-links .project-source:hover {
  background-color: $white;
  color: $violet;
}

/* Bold emphasis text blocks – <div class="important"> */

.important {
  color: $blue;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1em;
}

.important a {
  color: $red;
}

.important a:hover,
.important a:focus {
  color: $gray02;
}

.important a:active {
  color: $green;
}

.center {
  text-align: center;
}

/* Asides and footnotes for supporting content */

.ancillary,
.footnotes {
  color: $gray01;
  margin-right: -1em;
  padding: 1em;
}

.ancillary {
  background-color: $white;
}

.ancillary h1 {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.125;
}

.ancillary h2 {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.25;
}

.ancillary img {
  max-width: none;
  width: calc(100% + 1em);
}

/* Before/after for projects */

.text-before,
.text-after {
  color: $white;
  border-radius: .125em;
  padding: .125em .375em;
}

.text-before {
  background-color: $red;
}

.text-after {
  background-color: $green;
}

/* Footnotes */

.footnotes {
  background-color: $grayblue-50;
  padding-bottom: 2em;
}

.footnotes ol {
  list-style-position: outside;
  padding: 0 1.25em;
}

.footnotes li {
  border-bottom: solid 1px $gray04;
  padding-bottom: 1.25em;
}

.footnotes li + li {
  margin-top: 1.25em;
}

.footnotes li:last-child {
  border: none;
  padding: 0;
}

.footnotes li p {
  display: inline; /* overwrites default block style */
}

.footnotes ol li::before {
  margin-right: 0;
}

.reversefootnote {
  border: solid 1px $gray04;
  border-radius: .125em;
  color: $gray01;
  float: right;
  margin: 0 -1.5em;
  padding: 0 .25em;
}

.reversefootnote:hover,
.reversefootnote:focus {
  background-color: $pink-50;
  border-color: $pink-50;
}

/** Images **/

article img {
  width: 100%;
}

.narrow,
.wide,
.grid {
  margin: 1em calc(-1em) 0;
  max-width: none;
  width: calc(100% + 2em);
}

.grid {
  @include flexbox;
  @include flex-flow(column nowrap)
}

.grid figure {
  @include flex(1 0 100%);
}

.grid .w33 {
  max-width: calc(100% / 3 * 2);
}

/* SVG figure padding helper */

.svg img {
  padding: 0 2em 1em;
}

.noedges img {
  padding: 1em;
}

/* SVG figure background helper */

.extradark img {
  background-color: $black;
}

.dark img {
  background-color: $gray01;
}

.light img {
  background-color: $gray06;
}

.extralight img {
  background-color: $whiter;
}

/* Screenshot border/outline helper */

.screenshot img {
  outline: solid 1px $gray05;
}

/*** Index *************************************/

.home,
.category {
  background-color: $white;
}

.archive {
  background-color: $gray05;
}

/* Title header */

.index-header h1 {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: -.03125em;
  text-align: center;
}

/* Homepage introduction feature */

.introduction {
  background-color: $blue;
  color: $gray07;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25;
}

.introduction a {
  color: $whiter;
  border-bottom: solid 1px $gray07-80;
  padding-bottom: 1px;
}

.introduction a:hover,
.introduction a:focus {
  color: $grayblue;
  border-bottom: solid 1px $grayblue-50;
}

.introduction .meta {
  background-color: inherit;
}

.introduction .meta p {
  font-size: 1.25em;
}

/* Sections and items */

.home .index {
  margin-top: 0;
}

.archive .index {
  margin: 1em auto;
}

.items {
  @include flexbox;
  @include flex-flow(row wrap);
}

.archive-item {
  margin: 1em 0 0;
}

.feature,
.item {
  background-color: $gray07;
}

.item:nth-child(2n + 2) {
  background-color: $gray05;
}

.item {
  margin-left: 1em;
  margin-right: 1em;
  @include flex(1 0 calc(100% - 2em));
  width: 100%;
}

.feature,
.archive-item {
  width: 100%;
  @include flex(1 0 100%);
}

.index .location a {
  border-bottom: solid 1px $pure-1;
}

.index .location a:hover,
.index .location a:focus {
  border-bottom: solid 1px $grayblue;
}

.meta {
  background-color: $gray07-90;
  margin: 0;
  padding: 1em;
  position: relative;
}

.feature .meta {
  font-size: 1.125em;
  min-height: 12.5em;
  padding: .888888889em;
}

.meta h1 {
  font-size: 1.5em;
}

.meta h1 a {
  color: $red;
  border-bottom: solid 1px $pure-1;
}

.meta h1 a:hover,
.meta h1 a:focus {
  color: $blue;
}

.meta h1 a:active {
  color: $green;
}

.meta .time {
  font-size: .875em;
}

.item .link,
.feature .link {
  margin: 0;
}

.feature .link {
  background-color: $black;
}

.item .link {
  background-color: $gray02;
}

.item:nth-child(2n + 2) .link {
  background-color: $gray00;
}

.item .link:hover,
.item .link:focus,
.feature .link:hover,
.feature .link:focus {
  background-color: $boldblue;
  color: $white;
}

.item .link:active,
.feature .link:active {
  color: $gray07;
  background-color: $green;
}

.archive-item {
  list-style: none;
}

.archive-item .meta {
  background-color: $gray07;
}

.archive-item .meta h1 {
  font-size: 1.125em;
}

/* Photo gallery for archive page */

.photo-gallery .item {
  height: 10em;
  margin: 1em 0 0;
}

.photo-gallery .item a {
  color: $pure-1;
  display: block;
  height: 100%;
}

.photo-gallery .item .meta {
  background-color: transparent;
  height: auto;
  padding: 1em;
}

.photo-gallery .item .meta h1 {
  color: inherit;
  font-size: 1.25em;
  font-weight: 500;
}

.photo-gallery .item a:hover,
.photo-gallery .item a:focus {
  background-color: $gray07-90;
}

.photo-gallery .item a:hover .meta h1,
.photo-gallery .item a:focus .meta h1 {
  color: $boldblue;
}

.photo-gallery .item a:hover .meta p,
.photo-gallery .item a:focus .meta p {
  color: $black;
}

/* Links to archives */

.link-archive {
  @include flexbox;
  width: 100%;
}

.link-archive .link {
  background-color: $red;
  margin: 0;
  width: 100%;
}

.link-archive .link:nth-child(2) {
  background-color: $blue;
}

.link-archive .link:hover,
.link-archive .link:focus {
  background-color: $gray07;
  color: $red;
}

.link-archive .link:nth-child(2):hover,
.link-archive .link:nth-child(2):focus {
  color: $blue;
}

/*** Media queries *****************************/

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-resolution: 108dpi),
screen and (min-resolution: 1.5dppx) {
  html {
    font: 300 1rem/1.4375 $ratio;
  }

  strong,
  b,
  dfn {
    font-weight: 400;
  }
}

@media screen and (min-width: 22.5em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 28em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 30em) {
  blockquote {
    border-width: .5em;
    margin-left: -2em;
    padding-left: 1.5em;
  }

  .page {
    padding: 1.25em 2em 2.5em;
  }

  .narrow,
  .wide,
  .grid {
    margin: 1em calc(-2em) 0;
    width: calc(100% + 4em);
  }

  .page-header .inside,
  .highlight,
  .essay {
    padding-left: 2em;
    padding-right: 2em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2em;
    margin-right: -2em;
  }

  .project {
    padding: 2em;
  }

  .link-project a {
    font-size: 1em;
  }

  .index-header h1 {
    margin-left: 1.6em;
    text-align: left;
  }

  .top-menu,
  .close-menu {
    height: 4.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .top-menu,
  .close-menu {
    font-size: 1.125em;
  }

  .top-menu a,
  .close-menu a {
    line-height: 2em;
    padding: 1em;
  }

  .site-nav:target {
    padding-top: 4.5em;
  }

  .ancillary {
    padding: 2em;
    margin-right: -2em;
  }

  .ancillary img {
    width: calc(100% + 2em)
  }

  .footnotes {
    margin-right: -2em;
  }

  .photo-gallery .item {
    max-width: 50%;
    @include flex(1 0 50%);
  }
}

@media screen and (min-width: 34em) {
  blockquote {
    border-width: .75em;
    margin-left: -2.5em;
    padding-left: 1.75em;
  }

  .page {
    padding: 0 2.5em 2.5em;
  }

  .page-header .inside {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  .narrow,
  .wide,
  .grid {
    margin: 1em calc(-2.5em) 0;
    width: calc(100% + 5em);
  }

  .page-header .inside,
  .highlight,
  .essay,
  .project {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2.5em;
    margin-right: -2.5em;
  }

  .right {
    float: right;
    margin: 1em -2.5em 1em 1.25em;
    width: 50%;
  }

  .essay {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }

  .ancillary,
  .footnotes {
    margin-right: -2.5em;
  }

  .footnotes {
    margin-top: 2.5em;
  }

  .link {
    line-height: 2em;
    font-size: 1em;
  }

  .archive-item .meta {
    font-size: 1.25em;
  }

  .index-header h1 {
    margin-left: 1.6em;
  }
}

@media screen and (min-width: 40em) {
  figcaption {
    padding: .5em 1em;
  }

  figcaption p {
    font-size: .75em;
  }

  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.25em;
  }

  .index-header h1 {
    margin: 0;
    text-align: center;
  }

  .alt-nav {
    font-size: 1.25em;
  }

  .site-nav-item,
  .alt-nav-item {
    font-size: 1.125em;
  }

  .index {
    margin: 1em auto 0;
    max-width: 45em;
  }

  .items {
    margin-bottom: 1em;
  }

  .item {
    height: 20em;
    margin: 1em 0 0;
    max-width: 50%;
    @include flex(1 0 50%);
  }

  .photo-gallery .item {
    height: 12.5em;
  }

  .meta {
    padding: 2em;
  }

  .item .meta {
    height: 16em;
  }

  .feature .meta {
    font-size: 1.25em;
    min-height: 15em;
    padding: 1.6em;
  }

  .archive .meta {
    padding: 1em 2em;
  }

  .introduction .meta p {
    font-size: 1.375em;
  }

  .feature .link {
    font-size: 1.125em;
  }

  .link-archive .link {
    margin: 0;
    width: 50%;
  }

  .link-archive .link:only-child {
    width: 100%;
  }
}

@media screen and (min-width: 45em) {
  .page,
  .page-header .inside,
  .page-meta {
    width: 36em;
  }

  .site-header {
    height: auto;
    padding: 2em 6em;
  }

  .title {
    font-size: 1.25em;
  }

  .page-header {
    margin: 0 auto;
  }

  article[role="main"] + .site-footer {
    margin-top: 2.75em;
  }

  .page-meta {
    height: 4em;
  }

  .page-meta .page-nav-item, 
  .page-meta .page-nav-item:only-child,
  .page-nav-blank {
    max-width: 9em;
    @include flex(1 0 4.5em);
  }

  .page-meta .page-nav-item {
    padding: 1.25em 0;
  }

  .page-meta .later {
    @include order(1);
  }

  .page-meta .earlier {
    @include order(3);
  }

  .page-meta .time {
    padding: .5em 1em;
    @include flex(1 0 auto);
    @include order(2);
  }

  .photo-gallery .item {
    height: 7.5em;
    max-width: 25%;
    @include flex(1 0 25%);
  }

  .photo-gallery .item .meta h1 {
    font-size: 1em;
  }
}

@media screen and (min-width: 50em) {
  html {
    line-height: 1.5;
  }
}

@media screen and (min-width: 60em) {
  blockquote {
    margin-left: 0;
  }

  figcaption p {
    text-align: right;
  }

  .page {
    padding: 0 4.5em 4.5em;
  }

  .page-header .inside {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
  }

  .page,
  .page-header .inside,
  .page-meta {
    width: 45em;
  }

  .page-header .inside {
    padding: 2em 1.25em;
  }

  .site-nav {
    max-width: 56.25em;
  }

  .site-nav:target {
    max-width: 45rem;
  }

  .site-nav-item,
  .alt-nav-item {
    font-size: 1.25em;
  }

  .page-header .inside,
  .highlight,
  .essay {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }

  .highlight,
  .essay,
  .code figcaption {
    margin-left: -4.5em;
    margin-right: -4.5em;
  }

  .right {
    margin: 1.5em -4.5em 1.5em 2em;
  }

  .project {
    margin: 0 auto;
  }

  .ancillary {
    float: right;
    font-size: .75em;
    margin: 2em -6em 2em 2em;
    width: 40%;
  }

  .footnotes {
    margin-right: -4.5em;
    padding: 2.5em;
  }

  .reversefootnote {
    margin: 0 -2.5em;
  }

  .important {
    padding: 0 2em;
  }

  .narrow {
    margin: 1.5em auto;
    width: 100%;
  }

  .narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

  .wide,
  .grid {
    margin: 1em calc(-4.5em) 0;
    max-width: none;
    width: calc(100% + 9em);
  }

  .grid {
    @include flex-flow(row nowrap);
  }

  .wide figcaption p,
  .code figcaption p {
    margin-left: calc(50% + 1em);
    width: calc(50% - 1em);
  }

  .grid .w33 figcaption p {
    text-align: left;
  }

  .grid figure {
    margin: 0;
    @include flex(1 1 calc(50% - 1em));
  }

  .grid .w33 {
    @include flex(1 1 calc(100% / 3 - 1em));
  }

  .grid .w66 {
    @include flex(1 1 calc(100% / 3 * 2 - 1em));
  }

  .grid figure + figure {
    margin-left: 1em;
  }

  .index {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 70em) {
  .site-info,
  .site-nav {
    margin: 0;
  }

  .site-info {
    min-height: 17.125rem; /* keeps .back-home link down */
    padding: 1.5em 2em;
    @include order(1);
    @include flex(1 0 50%);
  }

  .site-nav {
    @include order(2);
    @include flex(1 0 50%);
  }

  .alt-nav {
    @include order(3);
  }

  .grid .w33 figcaption {
    padding: .25em 0;
  }
}

@media screen and (min-width: 80em) {
  .site-header {
    padding: 3em 7em;
  }

  .title {
    font-size: 1.5em;
  }

  .top-menu,
  .close-menu {
    font-size: 1.25em;
  }

  .site-nav:target {
    padding-top: 5em;
  }

  .page,
  .page-header .inside,
  .page-meta {
    width: 54em;
  }

  .page-header .inside {
    padding: 2.5em 0;
    text-align: center;
  }

  .page {
    padding: 0 9em 6em;
  }

  .wide,
  .grid {
    margin: 1em calc(-9em) 0;
    width: calc(100% + 18em);
  }

  .highlight {
    padding-left: 9em;
    padding-right: 9em;
  }

  .highlight,
  .code figcaption {
    margin-left: -9em;
    margin-right: -9em;
  }

  .right {
    margin-right: -9em;
  }

  .footnotes {
    margin: 2.5em -9em -3em 4.5em;
  }

  .ancillary {
    font-size: .875em;
    margin-right: -10.28571429em;
    margin-right: calc(-9em / .875);
    width: 50%;
  }

  .site-info {
    padding: 2em 2em 0;
  }
}

@media screen and (min-width: 95em) {
  .page,
  .page-header,
  .page-meta,
  .site-info {
    font-size: 1.5em;
  }

  .title {
    font-size: 1.75em;
  }

  .site-nav {
    @include flex(0 0 33.3333333%);
  }

  .site-info {
    padding: 2em 4em;
    font-size: 1.5em;
    @include flex(0 0 66.6666667%);
  }

  .site-info .inside {
    max-width: none;
  }

  .index {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 115em) {
  .page,
  .page-header,
  .page-meta {
    font-size: 1.75em;
  }

  .site-header {
    padding: 4em 7em;
  }

  .title {
    font-size: 2em;
  }

  .site-footer {
    max-width: 94.5em;
  }

  .site-info {
    padding: 2em 5em;
  }
}

@import 'dark.scss';

@import 'height-queries.scss';