** Normalization *****************************/
/* following adapted from HTML5 Reset
source: http://html5reset.org */
* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following adapted from CSS Normalize
source: http://necolas.github.io/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* Box-sizing borrowed from Paul Irish
source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom resets */

body {
  margin: 0 auto;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

figure img {
  display: block;
}

em,
i {
  font-style: italic;
}

dfn {
  font-style: normal;
  font-weight: bolder;
}

ul,
ol {
  list-style-position: inside;
}

q::before {
  content: '“'
}

q::after {
  content: '”'
}

sub,
sup {
  font-size: .875em;
  line-height: 1;
}

sub {
  vertical-align: text-bottom;
}

sup {
  vertical-align: text-top;
}

/***! END Normalization ***/


/*** Axiomatic styles **************************/
/* via Heydon Pickering
source: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */

* + * {
  margin-top: 1.375em;
}

li + li {
  margin-top: .6875em; /* Half of axiomatic top margins */
}

article {
  padding: 0 1em;
}

/***! END Axiomatic styles ***/

/*** Basic structure and typography ************/

html {
  font: 400 16px/1.4375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font: 400 1rem/1.4375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  height: 100%;
}

strong,
b {
  font-weight: 500;
}

h1 {
  font: 500 2em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  letter-spacing: -.0625em;
}

h2 {
  font: 400 1.75em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  letter-spacing: -.0625em;
}

h3 {
  font: 300 1.375em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

h4 {
  font: 300 1.25em/1.375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

h5 {
  font: 300 1.125em/1.5 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

.feature {
  color: steelblue;
  font-size: 1.25em;
}

article:last-child > *:last-child::after {
  content: '⊙';
  color: silver;
  display: block;
  margin: 1.375em auto;
  text-align: center;
}

a,
a:visited {
  color: royalblue;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: darkorange;
}

a:focus {
  outline: solid .125em darkorange;
}

ul {
  list-style-type: square;
}

blockquote {
  background-color: gainsboro;
}

figcaption {
  margin: 0;
  padding: .5em 1em 0;
}

figcaption p {
  font-size: .875em;
  margin: 0;
}

hr {
  border: .0625em solid darkgray;
}

code,
pre,
samp {
  font: 400 .8125em/1.4375 Menlo, Consolas, monospace;
  white-space: pre-wrap;
}

.highlight,
code,
pre,
samp {
  background-color: gainsboro;
}

p > code,
samp {
  border-radius: .125em;
  margin: 0 -.0625em;
  padding: .1875em .375em;
}

pre > code {
  font-size: 1em;
  padding: 0;
}

blockquote p > code {
  background-color: white;
}

kbd > kbd {
  background-color: black;
  border-radius: .25em;
  color: white;
  font: 300 .8125em/1 'Open Sans', sans-serif;
  padding: .0625em .5em;
}

kbd > kbd + b {
  font-family: 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  margin: 0 -.375em;
} /* <kbd><kbd>cmd</kbd> <b class="kbd-plus">+</b> <kbd>C</kbd></kbd> */

mark {
  background-color: palegoldenrod;
  padding: .0625em;
}

mark > code {
  vertical-align: text-bottom; /* fix for alignment issue */
}

/***! END Basic styles ***/

/*** Site header *******************************/

.site-header {
  height: 3.5em;
  padding: .5em 0;
}

.site-header a {
  color: black;
  text-decoration: none;
}

.site-header h1 {
  margin: 0;
}

.site-header .logo {
  float: left;
  margin: 0 .5em;
  width: 2.5em;
}

.top-menu {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.top-menu a {
  background-color: crimson;
  color: white;
  display: block;
  height: 3.5em;
  margin: 0;
  padding: 1em;
  text-decoration: none;
}

/***! END Site header ***/

/*** Site footer and navigation ****************/

.site-info {
  background-color: white;
  padding: 1em;
}

.site-nav {
  font-size: 1.25em;
  font-weight: 400;
  min-height: 25vh;
}

.site-nav,
.site-info {
  margin: 0 auto;
  max-width: 45rem;
  overflow: auto;
}

.site-nav ul {
  margin: 0 auto;
  padding: 0;
}

.site-nav li {
  background-color: gray;
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  text-align: center;
  width: 50%;
}

.site-nav li:nth-child(2n) {
  background-color: darkgray;
}

.site-nav li a {
  display: block;
  color: white;
  padding: 2em 0;
  text-align: center;
  text-decoration: none;
}

.site-nav .back-top {
  background-color: crimson;
}

/***! END Site footer and navigation ***/

/*** Page layouts ******************************/

section {
  margin-top: 0;
}

.singel,
.dubbel {
  background-color: whitesmoke;
}

.photo {
  background-color: #444;
}

.photo article,
.photo .site-header a {
  color: white;
}

.photo .logo circle {
  stroke: white;
}

.photo article a,
.photo article a:visited {
  color: lightblue;
}

.essay {
  background-color: dimgray;
  margin-top: 2.75em;
}

blockquote,
.highlight,
.ancillary,
.essay {
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
}

.ancillary {
  background-color: dimgray;
  color: white;
}

/***! END Page layouts ***/

/*** Image styles ******************************/

figure img {
  width: 100%;
}

article figure {
  margin: 5% calc(-1em) 0;
  max-width: none;
  width: calc(100% + 2em);
}

/***! END Image styles ***/

/*** Media queries *****************************/

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-resolution: 108dpi),
screen and (min-resolution: 1.5dppx) {

  html {
    font: 300 1rem/1.4375 'ratio', 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
  }

  strong,
  b {
    font-weight: 400;
  }

}

@media screen and (min-width: 22.5em) {

  article {
    font-size: 1.0625em;
  }

}

@media screen and (min-width: 28em) {

  article {
    font-size: 1.125em;
  }

}

@media screen and (min-width: 30em) {

  article {
    padding: 0 2em;
  }

  article figure {
    margin: 5% calc(-2em) 0;
    width: calc(100% + 4em);
  }

  blockquote,
  .highlight,
  .ancillary,
  .essay {
    margin-left: -2em;
    margin-right: -2em;
    padding: 1em 2em;
  }

  .singel figcaption {
    padding: .5em 2em 0;
  }

  .ancillary figure {
    margin: 0 auto;
    max-width: 100%;
  }

}

@media screen and (min-width: 34em) {

  article {
    padding: 0 2.5em;
  }

  blockquote,
  .highlight,
  .ancillary,
  .essay {
    margin-left: -2.5em;
    margin-right: -2.5em;
    padding: 1.25em 2.5em;
  }

  .singel figcaption {
    padding: .5em 2.5em 0;
  }

  article figure {
    margin: 5% calc(-2.5em) 0;
    width: calc(100% + 5em);
  }

  .singel .narrow {
    margin: 5% auto;
    max-width: 100%;
  }

  .singel .narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

}

@media screen and (min-width: 40em) {

  article {
    font-size: 1.25em;
  }

}

@media screen and (min-width: 45em) {

  article {
    margin: 0 auto;
    width: 36em;
  }

  .ancillary {
    padding: 1.25em 6em;
  }

}

@media screen and (min-width: 50em) {

  html {
    line-height: 1.5;
  }

  .photo figcaption {
    padding: .5em 0 0;
  }

}

@media screen and (min-width: 60em) {

  ul,
  ol {
    list-style-position: outside;
  }

  article {
    padding: 0 4.5em;
    width: 45em;
  }

  blockquote,
  .highlight {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding: 2em 4.5em;
  }

  .singel figcaption {
    padding: .5em 4.5em 0;
  }

  .essay {
    margin-left: -1.5em;
    margin-right: -1.5em;
    padding: 2em 3em;
  }

  .ancillary {
    margin-left: -4.5em;
    margin-right: -4.5em;
    padding: 2em 10.5em;
  }

  article figure {
    margin: 5% auto 0;
    max-width: 100%;
    width: 100%;
  }

  .photo figure,
  .singel figure,
  .grid-2 {
    margin: 5% calc(-4.5em) 0;
    max-width: none;
    width: calc(100% + 9em);
  }

  .grid-2 {
    display: inline-block;
  }

  .grid-2 figure {
    float: left;
    margin: 0;
    max-width: 100%;
    width: 48%;
  }

  .grid-2 figure:first-child {
    margin-right: 4%;
  }

  .grid-2 + figure {
    clear: both;
  }

}

@media screen and (min-width: 70em) {

  .dubbel article {
    font-size: 1em;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 67.5em;
  }

  .dubbel .flow,
  .dubbel .feature {
    clear: both;
    padding: 0 11.25rem;
  }

  .dubbel .flow,
  .dubbel .flow-side {
    font-size: 1.125em;
  }

  .dubbel .flow-side {
    padding: 0 4.25em 0 10em;
    float: left;
    margin-top: 1.375rem;
    width: 62.5%;
  }

  .dubbel .ancillary + .flow-side {
    padding: 0 9.5em 1em 4em;
  }

  .dubbel .flow-side figure {
    margin: 1.375em -10em;
    max-width: none;
    width: calc(100em / 3);
  }

  .dubbel .ancillary + .flow-side figure {
    margin: 1.375em 0 0;
  }

  .dubbel .ancillary {
    float: left;
    margin: 1.375rem 0;
    padding: 2em 2em;
    width: 37.5%;
  }

  .dubbel blockquote,
  .dubbel .highlight {
    margin: 1.5em -10em;
    padding: 1.5em 10em;
  }

  .dubbel .grid-2 {
    margin: 5% 0 0;
    width: 100%;
  }

}

@media screen and (min-width: 80em) {

  .singel article {
    padding: 0 8em;
    width: 56.5em;
  }

  blockquote,
  .highlight,
  .ancillary {
    margin-left: -8em;
    margin-right: -8em;
    padding: 2em 8em;
  }

  .singel figure {
    margin: 5% calc(-8em) 0;
    width: calc(100% + 16em);
  }

  .singel figcaption {
    padding: 1em 8em 0;
  }

}

@media screen and (min-width: 95em) {

  .singel article,
  .photo article {
    font-size: 1.5em;
  }

  .dubbel article {
    font-size: 1.2em;
  }

}

@media screen and (min-width: 115em) {

  .singel article,
  .photo article {
    font-size: 1.75em;
  }

}

@media screen and (min-width: 140em) {

  .photo article {
    font-size: 2em;
  }

}

/* 1.666666667 ratio height limiter  */

@media screen and (min-width: 28.25em) and (max-height: 17em),
screen and (min-width: 30em) and (max-height: 18em),
screen and (min-width: 31.5em) and (max-height: 19em),
screen and (min-width: 33.25em) and (max-height: 20em),
screen and (min-width: 35em) and (max-height: 21em),
screen and (min-width: 36.75em) and (max-height: 22em),
screen and (min-width: 38.25em) and (max-height: 23em),
screen and (min-width: 40em) and (max-height: 24em),
screen and (min-width: 41.5em) and (max-height: 25em),
screen and (min-width: 43.5em) and (max-height: 26em),
screen and (min-width: 45em) and (max-height: 27em),
screen and (min-width: 46.75em) and (max-height: 28em),
screen and (min-width: 48.25em) and (max-height: 29em),
screen and (min-width: 50em) and (max-height: 30em),
screen and (min-width: 53.25em) and (max-height: 32em),
screen and (min-width: 55em) and (max-height: 33em),
screen and (min-width: 57em) and (max-height: 34em),
screen and (min-width: 58.5em) and (max-height: 35em),
screen and (min-width: 60em) and (max-height: 36em) {

  .singel figure,
  .dubbel figure,
  .photo figure {
    margin: 5% auto 0;
    max-width: 100%;
  }

  .essay {
    margin: 1.375em auto;
    padding: 2em;
  }

}

/***! END Media queries **