/*** Normalization ***/
/* following adapted from HTML5 Reset */
* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* following adapted from CSS Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
object,
embed {
  max-width: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* Box-sizing borrowed from Paul Irish */
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Custom resets */

body {
  margin: 0 auto;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

dfn,
em,
i {
  font-style: italic;
}

/***! END Normalization ***/


/*** Axiomatic styles via Heydon Pickering
source: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls ***/

* + * {
  margin-top: 1.375em;
}

li + li {
  margin-top: .6875em; /* Half of axiomatic top margins */
}

article {
  padding: 1em;
}

/***! END Axiomatic styles ***/

/*** Basic structure and typography ***/

html {
  font: 400 16px/1.4375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  font: 400 1rem/1.4375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  height: 100%;
}

strong,
b {
  font-weight: 500;
}

h1 {
  font: 500 2em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  letter-spacing: -.0625em;
}

h2 {
  font: 400 1.75em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  letter-spacing: -.0625em;
}

h3 {
  font: 300 1.375em/1.25 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

h4 {
  font: 300 1.25em/1.375 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

h5 {
  font: 300 1.125em/1.5 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

article {
  background-color: whitesmoke;
}

a,
a:visited {
  color: royalblue;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: darkorange;
}

a:focus {
  outline: solid .125em darkorange;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

blockquote,
.highlight {
  margin: 1em -1em;
  padding: 1em;
}

blockquote {
  background-color: gainsboro;
}

hr {
  border: .0625em solid darkgray;
}

code,
pre,
samp {
  font: 400 .875em/1.5 Menlo, Consolas, monospace;
  white-space: pre-wrap;
}

.highlight,
code,
pre,
samp {
  background-color: gainsboro;
}

code,
samp {
  margin: 0 -.0625em;
  padding: .25em .375em;
}

pre > code {
  font-size: 1em;
  padding: 0;
}

blockquote p > code {
  background-color: white;
}

kbd > kbd {
  background-color: black;
  border-radius: .25em;
  color: white;
  font: 300 .8125em/1 'Open Sans', sans-serif;
  padding: .0625em .5em;
}

kbd > kbd + b {
  font-family: 'ratio', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
  margin: 0 -.375em;
} /* <kbd><kbd>cmd</kbd> <b class="kbd-plus">+</b> <kbd>C</kbd></kbd> */

mark {
  background-color: palegoldenrod;
  padding: .0625em;
}

mark > code {
  vertical-align: text-bottom; /* fix for alignment issue */
}

/***! END Basic styles ***/

/*** Image styles ***/

article img {
  margin: 0; /* fallback in case no calc() support */
  margin: 0 calc(-1em);
  max-width: none;
  width: 100%; /* fallback in case no calc() support */
  width: calc(100% + 2em);
}

.photo {
  background-color: dimgray;
  color: white;
}

/***! END Image styles ***/

/*** Media queries ***/

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-resolution: 108dpi),
screen and (min-resolution: 1.5dppx) {

  html {
    font: 300 1rem/1.4375 'ratio', 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
  }

  strong,
  b {
    font-weight: 400;
  }

}

@media screen and (min-width: 30em) {

  article {
    padding: 2em;
  }

  article img {
    margin: 0 calc(-2em);
    width: calc(100% + 4em);
  }

  blockquote,
  .highlight {
    margin: 1em -2em;
    padding: 1em 2em;
  }

}

@media screen and (min-width: 34em) {

  .page,
  .photo {
    padding: 2em 2.5em;
  }

  blockquote,
  .highlight {
    margin: 1em -2.5em;
    padding: 1.25em 2.5em;
  }

  .page img,
  .photo img {
    margin: 0 calc(-2.5em);
    width: calc(100% + 5em);
  }

}

@media screen and (min-width: 36em) {

  .page,
  .photo {
    padding: 2em 3em;
  }

  blockquote,
  .highlight {
    margin: 1em -3em;
    padding: 1.5em 3em;
  }

  .page img,
  .photo img {
    margin: 0 calc(-3em);
    width: calc(100% + 6em);
  }

}

@media screen and (min-width: 40em) {

  .page,
  .photo {
    margin: 0 auto;
    width: 40em;
  }

}

@media screen and (min-width: 48em) {

  .page,
  .photo {
    font-size: 1.125em;
  }

}

@media screen and (min-width: 60em) {

  html {
    line-height: 1.5;
  }

  .page,
  .photo {
    font-size: 1.25em;
  }

  .page,
  .photo {
    padding: 2em 4em;
    width: 45em;
  }

  blockquote,
  .highlight {
    margin: 1em -4em;
    padding: 2em 4em;
  }

  .page img,
  .photo img {
    margin: 0 calc(-4em);
    width: calc(100% + 8em);
  }

}

@media screen and (min-width: 80em) {

  .photo {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 95em) {

  .page {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 100em) {

  .photo {
    font-size: 1.75em;
  }

}

@media screen and (min-width: 115em) {

  .page {
    font-size: 1.75em;
  }

}

@media screen and (min-width: 120em) {

  .photo {
    font-size: 2em;
  }

}

@media screen and (min-width: 29em) and (max-height: 17em),
screen and (min-width: 31em) and (max-height: 18em),
screen and (min-width: 33em) and (max-height: 19em),
screen and (min-width: 35em) and (max-height: 20em),
screen and (min-width: 37em) and (max-height: 21em),
screen and (min-width: 39em) and (max-height: 22em),
screen and (min-width: 40em) and (max-height: 22.5em),
screen and (min-width: 45em) and (max-height: 23em),
screen and (min-width: 48em) and (max-height: 24em),
screen and (min-width: 55em) and (max-height: 25em),
screen and (min-width: 61em) and (max-height: 27em),
screen and (min-width: 63em) and (max-height: 28em),
screen and (min-width: 69em) and (max-height: 29em),
screen and (min-width: 75em) and (max-height: 30em) {

  .page img,
  .photo img {
    margin: 0;
    width: 100%;
  }

}

/***! END Media queries ***/
