<button class="pattern-show jsShowPatterns jsHidden">Show menu {% include icon/arrow-right.svg %}</button>
<section class="pattern-sidebar">
  <button class="pattern-hide jsHidePatterns">{% include icon/arrow-left.svg %}Hide menu</button>
  <ul class="pattern-nav">
  {% assign items = site.patterns-categories | sort: 'priority', 'last' %}
  {% for item in items %}
    <li class="pattern-nav-li">
    {% include block/pattern-nav-link.html %}
    {% assign category = item.slug %}
    {% include helper/pattern-from-category.liquid %}
      <ul class="pattern-nav--sub {% if item.slug == page.slug %} pattern-nav--sub--active{% endif %}">
      {% for pattern in patterns %}
        <li class="pattern-nav-li--sub">
          {% include block/pattern-nav-link--sub.html %}
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</section>
