---
title: type (monospace)
use: 'Primarily used in code samples '
restriction: ''
type: markdown
category: text
priority: 0
sass: _fundamental.scss
---

## Source Code Pro
{:.font-monospace style="font-size: 1.75em;"}

{% assign fonts = site.data.font.monospace %}
{% assign type = 'monospace' %}

{% for font in fonts %}
{% include block/pattern--type-sample.html %}
{% endfor %}

```
$source-code-pro: 'source-code-pro', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
$weight-medium: 500;
// default size: .8125em
```
