---
title: type (sans-serif)
use: 'Ratio is used everywhere on the site, from headings to body text. Three weights are used: 300 (light), 400 (regular) and 500 (medium).'
restriction: 'Not used in code samples.'
type: markdown
category: text
priority: 0
sass: _fundamental.scss
---

## Ratio
{:style="font-size: 1.75em;"}

{% assign fonts = site.data.font.sans %}
{% assign type = 'sans' %}

{% for font in fonts %}
{% include block/pattern--type-sample.html %}
{% endfor %}

```
$ratio: 'source-code-pro', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
// default size: 1rem
```
