/* Title for the website, included on all pages */
.banner-title {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -18em;
  max-width: 100%;
  padding: 1em 0;

  svg {
    height: 24em;
    max-width: 100%;
    width: 24em;
  }

  @include min-width(m01) {
    margin-top: 0;

    svg {
      height: 12em;
      width: 12em;
    }
  }

  @include min-width(m02) {
    padding: 2em;
  }

  @include min-width(l03) {
    padding: 3em;
  }

  @include min-width(l05) {
    padding: 4em;
  }
}
