/* Title for the website, included on all pages */
.banner-title {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
}

.banner-title-heading {
  font-weight: 300;
  letter-spacing: -.03125em;
  line-height: 1.25em;
  margin: 0 .1875em;
}
