/* Main body content */
.content {
  margin: auto;
  max-width: 100%;
  padding: 0 1em 2.5em;

  @include min-width(s03) {
    padding: 0 2em 2.5em;
  }

  @include min-width(s04) {
    padding: 0 2.5em 2.5em;
  }

  @include min-width(l01) {
    padding: 0 4.5em 4.5em;
  }

  @include min-width(l03) {
    padding: 0 9em 6em;
  }
}

.content figcaption {
  margin-top: 0;
}

.content hr {
  margin: 2em 0;
}

.hero + .content {
  padding-top: 1.5em;
}
