.credits {
  display: flex;
  padding: 2em 1em;
  width: 100%;
}

.credits-meta {
  align-self: center;
  margin: auto;
  max-width: 36em;
}

.credits-meta p {
  font-size: .875em;
}

.credits-meta p + p {
  margin-top: .75em;
}
