/* Text description: copyright, authorship, source code, social media and RSS – included in `.credits` container. */
.credits-meta {
  align-self: center;
  margin: auto;
  max-width: 36em;
}

.credits-meta p {
  font-size: .875em;
}

.credits-meta p + p {
  margin-top: .75em;
}
