.highlight {
  background-color: $gray02;
  border-bottom: solid .0625em $gray05;
  border-top: solid .0625em $gray05;
  color: $whiter;
  font-size: 1em;
  font-family: sans-serif;
  margin-top: 1em;
  padding: 1em;
}

.highlight .c {
  color: $gray05; /* Comments */
}
