/* Image block styles for figures containing img elements. */
.image--narrow,
.image--wide {
  @include bleed-image(1em);

  @include min-width(s03) {
    margin: 1em -2em 0;
    width: calc(100% + 4em);
  }

  @include min-width(s04) {
    @include bleed-image(2.5em);
    margin-top: 1em;
    width: calc(100% + 5em);
  }
}

@include min-width(l01) {
  .image--narrow {
    margin: 1.5em auto;
    width: 100%;
  }

  .image--wide {
    margin: 1em -4.5em 0;
    max-width: none;
    width: calc(100% + 9em);
  }
}

@include min-width(l03) {
  .image--wide {
    margin: 1em -9em 0;
    width: calc(100% + 18em);
  }
}


/* Helper for right-aligned images */
.right {
  @include min-width(s04) {
    float: right;
    margin: 1em -2.5em 1em 1.25em;
    width: 50%;
  }

  @include min-width(l01) {
    margin: 1.5em -4.5em 1.5em 2em;
  }

  @include min-width(l03) {
    margin-right: -9em;
  }
}

/* Height queries – 1.666666667 ratio height limiter  */
@media screen and (min-width: 28.25em) and (max-height: 17em),
screen and (min-width: 30em) and (max-height: 18em),
screen and (min-width: 31.5em) and (max-height: 19em),
screen and (min-width: 33.25em) and (max-height: 20em),
screen and (min-width: 35em) and (max-height: 21em),
screen and (min-width: 36.75em) and (max-height: 22em),
screen and (min-width: 38.25em) and (max-height: 23em),
screen and (min-width: 40em) and (max-height: 24em),
screen and (min-width: 41.5em) and (max-height: 25em),
screen and (min-width: 43.5em) and (max-height: 26em),
screen and (min-width: 45em) and (max-height: 27em),
screen and (min-width: 46.75em) and (max-height: 28em),
screen and (min-width: 48.25em) and (max-height: 29em),
screen and (min-width: 50em) and (max-height: 30em),
screen and (min-width: 53.25em) and (max-height: 32em),
screen and (min-width: 55em) and (max-height: 33em),
screen and (min-width: 57em) and (max-height: 34em),
screen and (min-width: 58.5em) and (max-height: 35em),
screen and (min-width: 60em) and (max-height: 36em) {
  .image--wide,
  .image--narrow,
  .grid--wide {
    margin: 1em auto 0!important;
    max-width: 100%!important;
  }
}
