/* Heading (`h1`) style used for archive indexes. */
.index-title {
  font-size: 1.25em;
  font-weight: 300;
  flex: 0 0 100%;
  letter-spacing: -.03125em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
