/* Links to archives on index pages. */
.index-nav {
  display: flex;
  margin-top: 1em;
  width: 100%;
}

.index-nav-action {
  @include action;
  width: 100%;
}

@include min-width(m01) {
  .index-nav-action {
    margin: 0;
    width: 50%;
  }

  .index-nav-action:only-child {
    width: 100%;
  }
}
