/* Blocks containing text summaries and links for articles. */
.item {
  flex: 0 0 calc(100% - 2em);
  margin-top: 1em;
  width: 100%;
  background-position: center;
  background-size: cover;

  @include min-width(m01) {
    flex: 0 0 50%;
    margin: 1em 0 0;
  }
}

.item--short {
  flex: 0 0 100%;
  margin: 1em 0 0;
  width: 100%;

  @include min-width(m01) {
    flex: 0 0 100%;
  }
}

.item--section {
  width: 100%;
  padding: 1em;

  @include min-width(m01) {
    flex: 0 0 50%;
  }

  @include min-width(m01) {
    padding: 2em;
  }
}

.item--section ul {
  list-style: none;
}

.item--section--writing,
.item--section--projects,
.item--section--photography,
.item--section--archive,
.item--section--about {
  @extend .item--section;
}

.item-description {
  padding: 1em;
  position: relative;

  @include min-width(m01) {
    height: 16em;
    padding: 2em;
  }
}

.item--minor-description {
  @include min-width(m01) {
    height: 10em;
  }
}

.item-description h1 {
  font-size: 1.5em;
}

.item--short-description {
  height: auto;
  padding: 1em 2em;
}

.item--pattern-description {
  background-position: center;
  background-size: cover;
}

.item--short-description h1 {
  font-size: 1.125em;
}

.item--section-description h1 {
  font-weight: 300;
}

.item--section-description p {
  margin-top: 1.5em;
  text-align: right;
}

.item--section-description ul {
  margin-top: 0;
  text-align: right;
}

.item--section-description li {
  margin-top: .25em;
}

.index--home :nth-child(odd) .item--section-description h1 {
  @include min-width(m01) {
    text-align: right;
  }
}

.index--home :nth-child(even) .item--section-description h1 {
  @include min-width(m01) {
    text-align: left;
  }
}

.index--home :nth-child(even) .item--section-description p,
.index--home :nth-child(even) .item--section-description ul {
  @include min-width(m01) {
    text-align: right;
    padding-left: 3em;
  }
}

.index--home :nth-child(odd) .item--section-description p,
.index--home :nth-child(odd) .item--section-description ul {
  @include min-width(m01) {
    text-align: left;
    padding-right: 3em;
  }
}

.item-time {
  font-size: .875em;
}

.item-action {
  @include action;
}

.item--photo {
  height: 10em;
  margin: 1em 0 0;

  background-position: center;
  background-size: cover;

  @include min-width(s03) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include min-width(m01) {
    height: 12.5em;
  }

  @include min-width(m02) {
    flex: 0 0 25%;
    height: 7.5em;
  }
}

.item--photo a {
  display: block;
  height: 100%;

  color: $pure-1;
}

.item--photo-description {
  height: auto;
  padding: 1em;
}

.item--photo-description h1 {
  color: inherit;
  font-size: 1.25em;
  font-weight: 500;

  @include min-width(m02) {
    font-size: 1em;
  }
}
