/* Site-wide vector logo that appears in the title and bottom navigation. */
.logo svg circle {
  transition: all 320ms cubic-bezier(0,1,1,1);
}

.logo a svg circle {
  transition: all 160ms cubic-bezier(0,1,1,1);
}

.logo {
  height: 2.5em;
  width: 2.5em;
}
