/* Descriptive text containing metadata like date and source for page content – typically inside `core-footer`. */
.meta {
  flex: 1 0 100%;
  padding: 1em;
  text-align: center;
}

.meta p {
  font-size: .875em;
  margin: 0;
}
