/* Block of high-contrast introductory text */
.primer {
  font-style: italic;
  font-weight: 400;
  line-height: 1.25;
  padding: 1em;
  width: 100%;
}

.primer a {
  border-bottom: solid 1px;
  padding-bottom: 1px;
}

.primer p {
  font-size: 1.25em;
}
