/* Block of high-contrast introductory text */
.primer {
  margin: auto;
  padding: 1em;
  width: 100%;
  @include width-max(l01);

  font-style: italic;
  font-weight: 500;
  line-height: 1.25;

  @include min-width(m01) {
    padding: 1em 2em;
  }

  @include min-width(l01) {
    padding: 1em 2em 2em;
  }
}

.primer a {
  border-bottom: solid 1px;
  padding-bottom: 1px;
}

.primer p {
  font-size: 1.25em;

  @include min-width(m01) {
    font-size: 1.375em;
  }
}
