/* Block of high-contrast introductory text */
.primer {
  padding: 1em;
  width: 100%;

  font-style: italic;
  font-weight: 400;
  line-height: 1.25;

  @include min-width(m01) {
    padding: 2em;
  }
}

.primer a {
  border-bottom: solid 1px;
  padding-bottom: 1px;
}

.primer p {
  font-size: 1.25em;

  @include min-width(m01) {
    font-size: 1.375em;
  }
}
