/* Block of text and images for a project summary with actions for source and links where available. */
.project {
  @include bleed(1em);
  min-height: 15em;
  padding: 1em;

  @include min-width(s03) {
    @include bleed(2em);
    padding-top: 2em;
    padding-bottom: 2em;
  }

  @include min-width(s04) {
    @include bleed(2.5em);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  @include min-width(l01) {
    margin: 0 auto;
  }
}

.project-meta {
  margin-top: 1em;
}

.project-summary {
  font-size: 1.125em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.33333333;
}

.project-description {
  font-size: .875em;
}

.project-nav {
  display: flex;
  flex-direction: column;

  @include min-width(s01) {
    flex-direction: row;
  }
}

.project-nav-action {
  @include action;

  @include min-width(s01) {
    flex: 1 0 50%;
  }
}

.project-nav-action--source,
.project-nav-action--url {
  @extend .project-nav-action;
}
