/* Alternative nav – home and back-to-top. */
.return {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;

  font-size: 1.25em;

  @include min-width(l02) {
    order: 3; // after .routing
  }
}

.return-action {
  @include action;
  display: flex;
  flex: 0 0 50%;
  justify-content: center;

  @include min-width(m01) {
    font-size: 1.125em;
  }

  @include min-width(l01) {
    font-size: 1.25em;
  }
}

.return-action-logo {
  height: 1.3em;
  margin: .1em .4em 0;
  width: 1.3em;
}

.return-action-logo circle {
  stroke-width: 36px;
}
