/* Site-wide navigation items; part of the .routing container. */

.routing-nav {
  display: flex;
  flex-flow: row wrap;

  font-size: 1.25em;
}

.routing-nav-action {
  @include action(0, 2em 0);
  display: block;
  flex: 0 0 50%;

  text-align: center;

  @include min-width(m01) {
    font-size: 1.125em;
  }

  @include min-width(l01) {
    font-size: 1.25em;
  }
}

.routing:target .routing-nav {
  position: relative;
  right: 0;
  z-index: 2;
}
