<article class="project">
  <img class="project-image" src="{{ site.image-url }}/{{ page.image[0].src }}">
  <p class="p-summary">{{ page.description }}</p>
  <p>This project was originally published <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: '%Y-%m-%d' }}</time>{% if page.period %} and worked on from {{ page.period }}{% endif %}.</p>
  <ul class="project-meta">
    <li><a href="{{ page.project-url }}">View this project</a></li>
    <li><a href="{{ page.project-source }}">View this project’s source</a></li>
  </ul>
</article>