<article class="project">
  <img 
    class="sample"
    sizes="{{ site.project-sizes }}"
    src="{{ site.image-url }}/{{ page.image[0].src }}"
    srcset="{% for srcset_project in site.srcset_project %}{{ site.image-url }}/{{ site.srcset_project[forloop.index0] }}/{{ page.image[0].src }} {{ site.srcset_project[forloop.index0] }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
  >
  <p class="p-summary description">{{ page.description }}</p>
  <p>This project was originally published <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: '%Y-%m-%d' }}</time>{% if page.period %} and worked on from {{ page.period }}{% endif %}.</p>
  <ul class="link">
    {% if page.project-url %}<li><a class="project-url" href="{{ page.project-url }}">View it live</a></li>{% endif %}
    {% if page.project-source %}<li><a class="project-source" href="{{ page.project-source }}">View project source</a></li>{% endif %}
  </ul>
</article>