.page .swatches,
.swatches li,
.swatches li figure,
.swatches li figcaption {
  margin: 0;
  padding: 0;
  width: 100%;
}

.swatches {
  font: 400 .75em/1.5 'source-sans-pro', Menlo, Consolas, monospace;
  list-style-type: none;
  overflow: hidden;
}

.swatches li + li {
  margin-top: 1em;
}

.swatches li figure {
  height: 16em;
  position: relative;
}

.swatches li figcaption {
  background-color: hsla(0, 0%, 100%, .8);
  border-bottom: none;
  bottom: 0;
  padding: .25em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.logo-demo {
  background-color: hsla(204, 10%, 96%, 1);
  padding: 2em;
}

@media screen and (min-width: 36em) {

  .swatches li {
    float: left;
    width: 50%;
  }

}

@media screen and (min-width: 80em) {

  .swatches {
    font-size: .625em;
  }

  .swatches li {
    width: 25%;
  }

}