figure,
figure > * {
  position: relative;
}

figure * {
  opacity: 1;
  transition: opacity 320ms cubic-bezier(0,1,1,1);
}

input,
label {
  position: absolute;
  cursor: pointer;
}

label,
label * {
  transition-duration: 320ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0,1,1,1);
}

label:hover,
label *:hover {
  transition-duration: 160ms;
}

input {
  bottom: 50%;
  left: -10000px;
}

.shift-overlay-label,
.shift-back-label {
  height: 100%;
  margin: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.shift-back-label .inside,
.shift-overlay-label .inside {
  opacity: 0;
}

.shift-overlay-label .inside {
  bottom: .125em;
  font-size: 3em;
  margin: 0 auto;
  position: absolute;
  right: .5em;
  text-align: center;
  transition-duration: 640ms;
}

figure:hover .shift-overlay-label .inside,
figure:focus .shift-overlay-label .inside {
  opacity: 1;
}

.map-background {
  background-size: cover;
  margin: 0;
}
{% for image in page.image %}
#i{{ forloop.index0 }} {
  background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/900x675.png64?access_token={{ site.mapbox-key }}");
}
{% endfor %}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 40em),
screen and (min-resolution: 144dpi) and (min-width: 40em),
(min-resolution: 2dppx) and (min-width: 40em) {
  {% for image in page.image %}
  #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/900x675@2x.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}
}
.photo-meta {
  background-color: hsla(204, 10%, 10%, .8);
  bottom: 0;
  font-weight: 300;
  margin: 0;
  padding: .5em .5em .5em 1em;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

.photo-meta ul {
  font-size: .875em;
  list-style: none;
  margin: 0;
  padding-right: 7em;
}

.shift-map-label {
  color: hsla(5, 30%, 80%, 1);
  bottom: .5em;
  font-size: 1em;
  font-weight: 400;
  right: .5em;
}

.shift-map-label:hover {
  color: hsla(204, 30%, 80%, 1);
}

.shift-map-label:hover svg * {
  stroke: hsla(204, 30%, 80%, 1);
}

.icon-location {
  display: inline-block;
  -webkit-transform: translate(0, .25em);
  transform: translate(0, .25em);
}

.icon-location svg {
  height: 1.25em;
  margin-left: .25em;
  padding: 0 2px;
}

.icon-location svg * {
  stroke: hsla(5, 30%, 80%, 1);
  stroke-width: 35px;
}

.camera-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  float: right;
  height: 6em;
  width: 5.5em;
}

.icon-fxe2 {
  background-image: url("{{ site.icon-url }}/fxe2-offwhite.svg");
}

.icon-iphone5s {
  background-image: url("{{ site.icon-url }}/iphone5s-offwhite.svg");
}

.shift-back:checked ~ .container .photo-meta {
  opacity: 0;
}

.shift-overlay:checked ~ .container .photo-meta {
  opacity: 1;
  z-index: 3;
}

.shift-map:checked ~ .container img {
  opacity: 0;
}

.shift-overlay:checked ~ .container .shift-overlay-label .inside {
  opacity: 0;
}

.shift-map:checked ~ .container .shift-overlay-label {
  display: none;
}

.shift-map:checked ~ .container .shift-back-label {
  background-color: hsla(204, 10%, 24%, .8);
  bottom: 0;
  font-size: .875em;
  font-weight: 400;
  height: initial;
  opacity: 1;
  padding: .5em 0;
  right: 0;
  text-align: center;
  top: initial;
  width: 50%;
  z-index: 2;
}

.shift-map:checked ~ .container .shift-back-label:hover {
  background-color: hsla(204, 80%, 40%, .8);
}

.shift-map:checked ~ .container .shift-back-label .inside {
  opacity: 1;
}

.shift-overlay:checked ~ .container .shift-back-label {
  z-index: 3;
}

@media screen and (min-width: 30em) {

  .photo-meta {
    padding: 1em;
  }

  .camera-icon {
    width: 7em;
  }

  .shift-map-label {
    bottom: 1em;
    right: 1em;
  }

}

@media screen and (min-width: 34em) {

  .shift-map:checked ~ .container .shift-back-label {
    font-size: 1em;
    padding: 1em 0;
    width: 25%;
  }

}

@media screen and (min-width: 60em) {

  .photo-meta {
    padding: 1em 1em 1em 2em;
  }

  .photo-meta ul {
    font-size: 1em;
  }

  .shift-map-label {
    bottom: .888888889em;
    font-size: 1.125em;
    right: .888888889em;
  }

  .camera-icon {
    width: 8em;
  }

  .grid2 .photo-meta {
    padding: 1em;
  }

  .photo-meta ul {
    font-size: .875em;
  }

  .grid2 .camera-icon {
    width: 6em;
  }

  .grid2 .shift-map-label {
    font-size: 1em;
  }

  .grid2 .shift-map:checked ~ .container .shift-back-label {
    padding: .5em 0;
    width: 50%;
  }

  {% for image in page.image %}
  .grid2 #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/450x338.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}

}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 60em),
screen and (min-resolution: 144dpi) and (min-width: 60em),
(min-resolution: 2dppx) and (min-width: 60em) {
  {% for image in page.image %}
  .grid2 #i{{ forloop.index0 }} {
    background-image: url("http://api.tiles.mapbox.com/v4/{{ site.photo-mapid }}/{{ page.image[forloop.index0].longitude }},{{ page.image[forloop.index0].latitude }}{% if page.image[forloop.index0].zoom %},{{ page.image[forloop.index0].zoom }}{% else %},15{% endif %}/450x338@2x.png64?access_token={{ site.mapbox-key }}");
  }
  {% endfor %}
}

@media screen and (min-width: 95em) {

  .photo-meta ul {
    font-size: 1.25em;
  }

  .camera-icon {
    width: 10em;
  }

}