    <article class="site-info" role="contentinfo">
      
      <p>The writing and photography here is licensed <a href="{{ site.link.attribution }}">CC BY-NC</a> Oliver Pattison. Everything else is <a href="/about#copyright">under copyright</a> unless stated otherwise. <a href="{{ site.link.source }}">View the source code</a> for this site.</p>
      <p><strong><a href="{{ site.link.subscribe.full }}">Subscribe</a></strong> via Atom/RSS or follow me on <strong><a href="{{ site.link.twitter }}">Twitter</a></strong> for updates.</p>

    </article>