---
---
@import 'helpers';

#error,
#error .page-title,
#error .content {
  background-color: $violet;
}

#error .banner-title svg {
  height: 12em;
  width: 12em;
}

#error .page-title h1 {
  color: $whiter;
  text-align: center;
}

#error .content {
  padding-top: 1em;
  padding-bottom: 1em;
}

#error .content * {
  color: $whiter;
  text-align: center;
}

#error .content a {
  color: $white;
  @include a-underline($gray07--trans50, $pink);

  &:hover,
  &:focus {
    color: $pink;
  }
}

#error .return {
  margin-top: 4em;
  font-size: 1rem;
  justify-content: center;
}

#error .return .return-action--home {
  @include action-color($white, $gray00);
  @include a-underline($trans01, $trans01);
  flex: 0 0 100%;

  @include min-width(m01) {
    flex: 0 0 50%;
  }
}
