---
---
@import 'helpers';

.content,
.page-title {
  background-color: inherit;
}

.content {
  padding-bottom: 0;

  @include min-width(l01) {
    padding-top: 1em;

    figcaption {
      padding: .5em 0 0;
    }

    figcaption p {
      font-size: .875em;
    }
  }
}

.hero {
  max-width: 100%;

  @include min-width(l01) {
    margin-bottom: 4em;
  }
}

.page-title {

  @include min-width(l01) {
    padding: .75em 1.25em;
  }

  h1 {
    text-align: center;
  }
}

.project {
  margin-top: 0;
}

.page-footer {
  margin: 2em auto 0;

  @include min-width(l01) {
    max-width: 45em;
  }
}

.page-meta {

  @include min-width(l01) {
    max-width: 27em;
  }
}
