---
---
@import 'helpers';

.content--photo {
  background-color: inherit;
  max-width: none;
  padding: 0;
  flex: 1 1 auto;

  @media (max-width: 60em) and (min-aspect-ratio: 5/3),
  (min-width: 60em) and (min-aspect-ratio: 16/9) {
    max-width: 90%;
    padding-top: 5%;
  }

  @media (min-aspect-ratio: 2/1) {
    max-width: 80%;
    padding-top: 10%;
  }
}

.banner {
  justify-content: space-between;

  h1 {
    flex: 1 0 auto;
    font-size: 1.125em;
    margin: auto 0;
    padding: .5em;
    text-align: right;

    @include min-width(l01) {
      padding: 1em;
    }
  }
}

.banner-title {
  flex: 0 0 auto;
  padding: .5em;

  @include min-width(l01) {
    padding: 1em;
  }

  svg {
    margin: 0;
    height: 1.6em;
    width: 1.6em;

    @include min-width(l01) {
      font-size: 1.25em;
    }
  }
}

.image--micro {
  display: block;
  margin: auto;
}

.photo-meta {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 100%;
  padding: 2em 1em 2em;

  @include min-width(m01) {
    align-items: center;
    @include width-max(m02);
  }

  @include min-width(l01) {
    @include width-max(l01);
  }
}

.photo-details {
  font-size: .875em;
  line-height: 1.5;
  width: 100%;

  @include min-width(s02) {
    font-size: 1em;
  }

  @include min-width(m01) {
    padding-right: 10%;
    width: 70%;
  }

  dt {
    font-weight: $weight-light;
  }

  dd {
    font-weight: $weight-regular;
  }
}

.separate::after {
  content: '/';
  color: $gray03;
  font-weight: $weight-light;
  margin: auto .25em;
}

.camera-icon {
  margin-top: 1em;
  width: 50%;

  @include min-width(m01) {
    width: 30%;
  }
}

.photo-description {
  margin-top: 1em;
  max-width: 100%;

  @include min-width(m01) {
    flex: 1 0 100%;
  }
}
