---
---
@import 'helpers';

.pattern-sidebar {

  @include min-width(l01) {
    height: calc(100vh - 4em);
    position: fixed;
    width: 15em;
    z-index: 2;
  }
}

.pattern-main {

  > h2 {
    text-align: center;
  }

  @include min-width(l01) {
    padding: 4em 0 2em 15em;
    width: 100%;
  }
}

.pattern-nav {
  background-color: $gray00;
  display: flex;
  flex-flow: row wrap;
  margin: 0;

  @include min-width(l01) {
    display: block;
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10em;
  }

  ul,
  li {
    margin: 0;
  }
}

.pattern-nav-li {
  flex: 1 0 50%;
  text-align: center;
  width: 50%;

  @include min-width(l01) {
    text-align: left;
    width: 100%;
  }
}

.pattern-nav-link {
  @include a-borderless;
  background-color: $gray00;
  color: $whiter;
  display: block;
  font-size: 1.125em;
  font-weight: $weight-medium;
  padding: 1em;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue;
  }

  &--active {
    background-color: $green;

    &:hover,
    &:focus {
      background-color: $gray04;
      color: $gray07;
      cursor: default;
    }
  }
}

.pattern-nav-li--sub {
  display: none;

  @include min-width(l01) {
    display: block;
  }
}

.pattern-nav-link--sub {
  @include a-borderless;
  background-color: $gray01;
  color: $whiter;
  display: block;
  padding: .5em 0 .5em 2em;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }
}

.banner-title--patterns {
  color: $red;
  display: flex;

  &:hover,
  &:focus {
    background-color: $red;
    color: $whiter;
  }
}

.banner-title--patterns h1 {
  color: inherit;
  margin: auto;

  @include min-width(l01) {
    text-align: center;
  }
}

.pattern-container > .end {
  margin-top: 2em;

  @include min-width(l01) {
    padding-left: 15em;
  }
}

.pattern-index {
  @include width-max(l01);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include min-width(m01) {
    margin: 0 auto;
    justify-content: flex-start;
  }
}

.pattern-main-heading {
  font-size: 1.5em;
  text-align: center;
  padding: 1em 0;

  @include min-width(l01) {
    font-size: 1.125em;
    padding: 1em;
    position: absolute;
    right: 0;
    top: .25rem;
  }
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;
}

.content--pattern {
  background-color: inherit;
  margin: 1em auto 0;
  padding: 2em 1em;

  @include min-width(m02) {
    @include width-max(m02);
    padding: 1em 0;
  }

  @include min-width(l01) {
    font-size: 1.25em;
  }
}

.item--pattern {
  flex: 0 0 calc(100% - 2em);
  margin: 1em auto 0;
  width: 100%;

  @include min-width(m01) {
    flex: 0 0 50%;
    margin: 1em 0 0;
  }
}

.item--pattern-description {
  height: 10em;

  background-position: center;
  background-size: cover;

  @include min-width(m01) {
    height: 14em;
  }
}

.pattern--element {
  margin-top: 4em;

  &:first-of-type {
    margin-top: 0;
  }
}

.pattern-display--center :first-child {
  display: block;
  margin: auto;
}

.pattern-display--isolate {
  max-width: 100%;
  padding: 2em 0;
}

.pattern-display--fix-rem {
  font-size: 1rem;
}

.pattern-display .logo--large {
  max-width: 512px;
}

.pattern-display .logo--medium {
  max-width: 64px;
}

.pattern-meta {
  background-color: $gray06;
  clear: both;
  color: $black;
  margin-top: 1em;

  @include min-width(m01) {
    font-size: 1.25em;
  }

  @include min-width(l04) {
    font-size: 1.5em;
  }

  summary {
    background-color: $violet;
    color: $whiter;
    padding: 1em;
    transition: all 160ms;

    &:hover,
    &:focus {
      background-color: $green;
      cursor: pointer;
    }
  }

  figure {
    margin-top: 0;
    max-width: 45em;
    padding: 1em;
  }

  p {
    font-size: .875em;
    margin-top: 1em;
    text-align: left;
  }

  figcaption {
    margin: .5em 0 0;
    padding: 0;
  }

  figcaption strong {
    font-weight: $weight-medium;
  }

  textarea {
    background-color: $gray02;
    color: $whiter;
    font-family: $monospace;
    font-size: .75em;
    min-height: 5.5em;
    padding: .5em 1em;
    width: 100%;
  }

  figcaption strong {
    font-weight: $weight-medium;
  }
}

.pattern-source {
  font-size: .875em;
  margin-top: -.5em;
  text-align: right;
}
