.dark {
  background-color: $gray00;
  color: $white;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: $gray07;
}

.dark sup[id] a {
  background-color: $pink-50;
  border: none;
  color: $gray06;
}

.dark sup[id] a:hover,
.dark sup[id] a:focus {
  background-color: $grayblue-50;
  border: none;
  color: $gray06;
}

.dark article a,
.dark .time a {
  color: $pink;
  border-color: $pink-50;
}

.dark article a:hover,
.dark article a:focus,
.dark .time a:hover,
.dark .time a:focus {
  color: $grayblue;
  border-color: $grayblue-50;
}

.dark .page,
.dark .page-header .inside  {
  background-color: $gray00;
}

.dark .title:hover h1,
.dark .title:focus h1 {
  color: $grayblue;
}

.dark .title .logo circle {
  stroke: $gray07;
}

.dark .title:hover .logo circle,
.dark .title:focus .logo circle {
  stroke: $grayblue;
  -webkit-animation-name: step-fill--contrast;
          animation-name: step-fill--contrast;
}

.dark .page figcaption {
  color: $gray06;
}

.dark .page-meta {
  background-color: $gray01;
}

.dark blockquote {
  color: $gray05;
  border-color: $grayblue;
}

.dark blockquote footer {
  color: $gray06;
}

.dark .highlight {
  background-color: $whiter;
  border-color: $gray03;
}

.dark p > code,
.dark li > code,
.dark samp {
  border-color: $gray04;
}

.dark .important {
  color: $grayblue;
}

.dark .ancillary {
  background-color: $gray00;
  color: $gray05;
}

.dark .footnotes {
  color: inherit;
  background-color: $gray02;
}

.dark .footnotes li,
.dark .reversefootnote {
  border-color: $gray04;
}

.dark .reversefootnote {
  color: $white;
}

.dark .reversefootnote:hover,
.dark .reversefootnote:focus {
  color: $white;
  background-color: $grayblue-50;
  border-color: $grayblue-50;
}

.dark .project {
  background-color: $gray02;
}

.dark .project .sample {
  background-color: $gray02;
}

.dark .project .description {
  color: $gray07;
}

.dark .essay {
  background-color: $gray02;
  color: $white;
}

.dark .page-meta {
  background-color: $gray02;
}

.dark .site-nav li a {
  background-color: $black-80;
}

.dark .site-nav li:nth-child(2) a {
  background-color: $gray01-80;
}

.dark .site-nav li:nth-child(3) a {
  background-color: $gray02-80;
}

.dark .site-nav li:nth-child(4) a {
  background-color: $gray00-80;
}

.dark .site-nav li a:hover,
.dark .site-nav li a:focus {
  background-color: $boldblue-80;
}