@mixin min-width($width) {
  $value: map-get($widths, $width);

  @if $value != null {
    @media (min-width: $value) {
      @content;
  }
}

  @else {
    @warn "No value could be retrieved from #{$width}. "
        + "Define the value in the $widths map in _variables.scss.";
  }
}

@mixin width-max($width) {
  $value: map-get($width-limit, $width);

  @if $value != null {
    flex: 0 0 $value;
    max-width: $value;
  }

  @else {
    @warn "No value could be retrieved from #{$width}. "
        + "Define the value in the $width-limit map in _variables.scss.";
  }
}

@mixin density-query {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 108dpi),
  screen and (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin action($margin: 0, $padding: 1em 0) {
  display: block;
  font-weight: 400;
  margin: $margin;
  padding: $padding;
  text-align: center;
}

@mixin action-color($ground: $black, $figure: $white) {
  background-color: $ground;
  color: $figure;
  &:hover,
  &:focus {
    background-color: $figure;
    color: $ground;
  }
  &:active {
    background-color: $whiter;
    color: $green;
  }
}

@mixin a-underline($link: $pink, $hover: $grayblue) {
  border-bottom: solid 1px $link;
  &:hover,
  &:focus {
    border-bottom: solid 1px $hover;
  }
}

@mixin bleed($amount: 1em) {
  margin-left: -$amount;
  margin-right: -$amount;
  padding-left: $amount;
  padding-right: $amount;
}

@mixin bleed-right($amount: 1em) {
  margin-right: -$amount;
}

@mixin bleed-left($amount: 1em) {
  margin-left: -$amount;
}

@mixin bleed-image($amount: 1em) {
  margin: $amount -#{$amount} 0;
  max-width: none;
  width: calc(100% + #{2*$amount});
}
