@media screen and (min-width: 22.5em) {
  .content,
  .core-title,
  .core-footer,
  .credits {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 28em) {
  .content,
  .core-title,
  .core-footer,
  .credits {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 30em) {
  blockquote {
    border-width: .5em;
    margin-left: -2em;
    padding-left: 1.5em;
  }

  .banner {
    padding: 1em 2em;
  }

  .banner-title {
    justify-content: flex-start;
    margin: -1em -2em;
    padding: 1em 2em;
  }

  .content {
    padding: 0 2em 2.5em;
  }

  .hero figcaption p {
    font-size: 1em;
  }

  .image--narrow,
  .image--wide,
  .grid--wide {
    margin: 1em calc(-2em) 0;
    width: calc(100% + 4em);
  }

  .core-title,
  .highlight,
  .essay {
    padding-left: 2em;
    padding-right: 2em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2em;
    margin-right: -2em;
  }

  .project {
    padding: 2em;
  }

  .project-nav-action {
    font-size: 1em;
  }

  .index-title {
    margin-left: 1.6em;
    text-align: left;
  }

  .menu,
  .routing-menu {
    height: 4.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .menu,
  .routing-menu {
    font-size: 1.125em;
  }

  .menu-action,
  .routing-menu-action {
    line-height: 2em;
    padding: 1em;
  }

  .ancillary {
    @include bleed-right(2em);
  }

  .ancillary img {
    width: calc(100% + 2em)
  }

  .footnotes {
    margin-right: -2em;
  }

  .item--photo {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .item--short-description {
    height: auto;
    padding: 1em 2em;
  }
}

@media screen and (min-width: 34em) {
  blockquote {
    border-width: .75em;
    margin-left: -2.5em;
    padding-left: 1.75em;
  }

  .content {
    padding: 0 2.5em 2.5em;
  }

  .core-title {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .image--narrow,
  .image--wide,
  .grid--wide {
    margin: 1em calc(-2.5em) 0;
    width: calc(100% + 5em);
  }

  .core-title,
  .highlight,
  .essay,
  .project {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .highlight,
  .essay,
  .project,
  .code figcaption {
    margin-left: -2.5em;
    margin-right: -2.5em;
  }

  .right {
    float: right;
    margin: 1em -2.5em 1em 1.25em;
    width: 50%;
  }

  .essay {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }

  .ancillary,
  .footnotes {
    margin-right: -2.5em;
  }

  .footnotes {
    margin-top: 2.5em;
  }

  .item--short .item-description {
    height: auto;
    padding: 1em 2em;
  }
}

@media screen and (min-width: 40em) {
  figcaption {
    padding: .5em 1em;
  }

  figcaption p {
    font-size: .75em;
  }

  .content,
  .core-title,
  .core-footer,
  .credits {
    font-size: 1.25em;
  }

  .banner-title {
    justify-content: center;
  }

  .index-title {
    margin: 0;
    text-align: center;
  }

  .routing-nav-action,
  .return-action {
    font-size: 1.125em;
  }

  .index {
    margin: 1em auto;
    max-width: 45em;
  }

  .item {
    margin: 1em 0 0;
    flex: 0 0 50%;
  }

  .item--feature {
    flex: 0 0 100%;
  }

  .item--short {
    flex: 0 0 100%;
  }

  .item--photo {
    height: 12.5em;
  }

  .item-description {
    height: 16em;
    padding: 2em;
  }

  .item--feature-description {
    font-size: 1.25em;
    min-height: 15em;
    padding: 1.6em;
  }

  .primer {
    padding: 2em;
  }

  .primer p {
    font-size: 1.375em;
  }

  .item--feature-action {
    font-size: 1.125em;
  }

  .index-nav-action {
    margin: 0;
    width: 50%;
  }

  .index-nav-action:only-child {
    width: 100%;
  }
}

@media screen and (min-width: 45em) {
  .banner {
    height: auto;
    padding: 2em 9em;
  }

  .banner-title {
    font-size: 1.25em;
  }

  .menu,
  .routing-menu {
    height: auto;
  }

  .core + .end {
    margin-top: 2.5em;
  }

  .core {
    flex-flow: row wrap;
  }

  .content,
  .core-title,
  .core-footer {
    flex: 0 0 36em;
    margin: auto;
    max-width: 36em;
  }

  .core-title {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .core-footer {
    height: 4em;
  }

  .pagination,
  .pagination:only-child,
  .pagination--blank {
    max-width: 9em;
    flex: 1 0 4.5em;
  }

  .pagination {
    padding: 1em 0;
  }

  .pagination--later {
    order: 1;
  }

  .pagination--earlier {
    order: 3;
  }

  .meta {
    padding: .5em 1em;
    flex: 1 0 auto;
    order: 2;
  }

  .hero {
    font-size: 1.25em;
    flex: 0 0 36em;
  }

  .hero figcaption p {
    font-size: .75em;
  }

  .item--photo {
    height: 7.5em;
    flex: 0 0 25%;
  }

  .item--photo-description {
    height: auto;
    padding: 1em;
  }

  .item--photo-description h1 {
    font-size: 1em;
  }
}

@media screen and (min-width: 50em) {
  html {
    line-height: 1.5;
  }
}

@media screen and (min-width: 60em) {
  blockquote {
    margin-left: 0;
  }

  figcaption p {
    text-align: right;
  }

  .content {
    padding: 0 4.5em 4.5em;
  }

  .core-title {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
  }

  .content,
  .core-title,
  .core-footer {
    flex: 0 0 45em;
    max-width: 45em;
  }

  .core-title {
    padding: 2em 1.25em;
  }

  .routing {
    flex: 0 0 56.25em;
  }

  .routing:target {
    max-width: 45em;
  }

  .routing-nav-action,
  .return-action {
    font-size: 1.25em;
  }

  .core-title,
  .highlight,
  .essay {
    padding-left: 4.5em;
    padding-right: 4.5em;
  }

  .highlight,
  .essay,
  .code figcaption {
    margin-left: -4.5em;
    margin-right: -4.5em;
  }

  .hero {
    flex: 0 0 45em;
  }

  .hero figcaption p {
    margin-left: 50%;
    width: 50%;
  }

  .right {
    margin: 1.5em -4.5em 1.5em 2em;
  }

  .project {
    margin: 0 auto;
  }

  .ancillary {
    float: right;
    font-size: .75em;
    margin: 2em -6em 2em 2em;
    width: 40%;
  }

  .footnotes {
    margin-right: -4.5em;
    padding: 2.5em;
  }

  .reversefootnote {
    margin: 0 -2.5em;
  }

  .focus {
    padding: 0 2em;
  }

  .image--narrow {
    margin: 1.5em auto;
    width: 100%;
  }

  .image--narrow figcaption {
    padding-left: 0;
    padding-right: 0;
  }

  .image--wide,
  .grid--wide {
    margin: 1em calc(-4.5em) 0;
    max-width: none;
    width: calc(100% + 9em);
  }

  .grid,
  .grid--wide {
    flex-flow: row nowrap;
  }

  .wide figcaption p,
  .code figcaption p {
    margin-left: calc(50% + 1em);
    width: calc(50% - 1em);
  }

  .grid-figure--33 figcaption p {
    text-align: left;
  }

  .grid-figure {
    margin: 0 auto;
    flex: 1 1 50%;
  }

  .grid-figure--33 {
    width: calc(100% / 3 - 1em);
    flex: 1 1 calc(100% / 3 - 1em);
  }

  .grid-figure--66 {
    width: calc(100% / 3 * 2 - 1em);
    flex: 1 1 calc(100% / 3 * 2 - 1em);
  }

  .grid figure + figure {
    margin: 0 0 0 1em;
  }

  .index {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 70em) {
  .core + .end {
    margin-top: 4em;
  }

  .credits,
  .routing {
    margin: 0;
  }

  .credits {
    padding: 1.5em 2em;
    order: 1;
    flex: 1 0 50%;
    max-width: 50%;
  }

  .routing {
    order: 2;
    flex: 1 0 50%;
  }

  .return {
    order: 3;
  }

  .grid-figure--33 figcaption {
    padding: .5em;
  }
}

@media screen and (min-width: 80em) {
  .banner {
    padding: 3em 9em;
  }

  .banner-title {
    font-size: 1.5em;
  }

  .menu,
  .routing-menu {
    font-size: 1.25em;
  }

  .routing:target {
    padding-top: 5em;
  }

  .content,
  .core-title,
  .core-footer {
    flex: 0 0 54em;
    max-width: 54em;
  }

  .core-title {
    padding: 2.5em 0;
    text-align: center;
  }

  .content {
    padding: 0 9em 6em;
  }

  .hero {
    flex: 0 0 54em;
  }

  .image--wide,
  .grid--wide {
    margin: 1em calc(-9em) 0;
    width: calc(100% + 18em);
  }

  .highlight {
    padding-left: 9em;
    padding-right: 9em;
  }

  .highlight,
  .code figcaption {
    margin-left: -9em;
    margin-right: -9em;
  }

  .right {
    margin-right: -9em;
  }

  .footnotes {
    margin: 2.5em -9em -3em 4.5em;
  }

  .ancillary {
    font-size: .875em;
    margin-right: -10.28571429em;
    margin-right: calc(-9em / .875);
    width: 50%;
  }
}

@media screen and (min-width: 95em) {
  .content,
  .core-title,
  .core-footer,
  .hero,
  .credits {
    font-size: 1.5em;
  }

  .banner-title {
    font-size: 1.75em;
  }

  .routing {
    flex: 0 0 33.3333333%;
  }

  .routing:target {
    padding-top: 6em;
    max-width: 54em;
  }

  .menu,
  .routing-menu,
  .routing:target .routing-nav {
    font-size: 1.5em;
  }

  .credits {
    max-width: 66.6666667%;
    padding: 2em 4em;
    flex: 0 0 66.6666667%;
  }

  .index {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 115em) {
  .content,
  .core-title,
  .core-footer,
  .hero {
    font-size: 1.75em;
  }

  .banner {
    padding: 4em 9em;
  }

  .banner-title {
    font-size: 2em;
  }

  .site-footer {
    max-width: 94.5em;
  }

  .credits {
    padding: 2em 5em;
  }
}
