---
---
#error {
  background-color: hsla(4, 60%, 47%, 1);
}

#error .banner-title h1 {
  color: hsla(204, 10%, 97%, 1);
}

#error .banner-title circle {
  stroke: hsla(204, 10%, 97%, 1);
}

#error .menu-action {
  background-color: hsla(204, 10%, 97%, 1);
  color: hsla(4, 60%, 47%, 1);
}

#error .menu-action:hover,
#error .menu-action:focus,
#error .routing-menu-action {
  background-color: hsla(204, 10%, 12%, 1);
  color: hsla(204, 10%, 95%, 1);
}

#error .core-title,
#error .content {
  background-color: hsla(4, 60%, 47%, 1);
}

#error .core-title h1 {
  color: hsla(204, 10%, 97%, 1);
  text-align: center;
}

#error .content {
  padding-bottom: 2em;
}

#error .content * {
  color: hsla(204, 10%, 97%, 1);
  text-align: center;
}

#error .content a {
  color: hsla(204, 10%, 95%, 1);
}

#error .content a:hover,
#error .content a:focus {
  color: hsla(204, 30%, 80%, 1);
}

#error .content .logo {
  height: 50%;
  margin: 1em auto 0;
  max-width: 35em;
  width: 50%;
}

#error .content .logo circle {
  stroke: hsla(204, 10%, 97%, 1);
}
