---
---
@import 'variables';
@import 'mixins';

body {
  background-color: $gray00;
  color: $white;
}

h1,
h2,
h3,
h4 {
  color: $gray07;
}

sup[id] a {
  color: $gray06;
}

sup[id] a:hover,
sup[id] a:focus {
  color: $gray06;
}

article a {
  color: $pink;
}

article a:focus,
article a:hover {
  color: $grayblue;
}

p a,
li a,
blockquote a {
  @include a-underline($pink-50, $grayblue-50);
}

blockquote {
  color: $gray05;
  border-color: $grayblue;
}

blockquote footer {
  color: $gray06;
}

.highlight {
  background-color: $whiter;
  color: $gray01;
  border-color: $gray04;
}

.highlight .c {
  color: $gray04; /* Comments */
}

p > code,
li > code,
samp {
  border-color: $gray04;
}

.item--short {
  background-color: $gray01;
}

.item-location a {
  color: $gray07;
  @include a-underline($gray07-90, $grayblue);
}

.core {
  background-color: $gray00;
  color: $white;
}

.content,
.core-title {
  background-color: $black;
}

.core figcaption {
  color: $gray06;
}

.pattern--swatch figcaption {
  background-color: $gray01-90;
}

.focus {
  color: $grayblue;
}

.ancillary {
  background-color: $gray00;
  color: $white;
}

.edgeless .ancillary {
  background-color: $gray02;
}

.footnotes {
  color: $white;
}

.footnotes .reversefootnote {
  color: $white;
}

.project {
  background-color: $gray02;
}

.project-image {
  border-color: $gray02;
}

.project-summary {
  color: $gray07;
}

.project-nav .project-nav-action {
  border: none;
  color: $whiter;
}

.project-nav .project-nav-action--url {
  background-color: $red;
  color: $white;
}

.project-nav .project-nav-action--source {
  background-color: $violet;
  border: none;
  color: $white;
}

.project-nav .project-nav-action--url:hover,
.project-nav .project-nav-action--url:focus {
  background-color: $white;
  color: $red;
}

.project-nav .project-nav-action--source:hover,
.project-nav .project-nav-action--source:focus {
  background-color: $white;
  color: $violet;
}

.essay {
  background-color: $gray02;
  color: $white;
}

.core-meta,
.core-footer {
  background-color: $gray02;
}

.screenshot img {
  outline: solid 1px $gray02;
}
