---
---
@import 'variables';
@import 'mixins';

@media screen and (min-width: 60em) {
  .project {
    margin: 0 -2.25em;
    padding: 2.25em;
  }

  .focus {
    padding: 0;
  }
}

@media screen and (min-width: 80em) {
  .content,
  .core-title,
  .core-footer {
    flex: 0 0 54em;
  }

  .core-title {
    padding-left: 9em;
    padding-right: 9em;
  }

  .content {
    margin: 0 auto;
    padding: 2em 9em 4.5em;
  }

  .image--wide {
    margin: 5% calc(-9em) 0;
    max-width: none;
    width: calc(100% + 18em);
  }

  .flow--side {
    padding: 0 4.25em 0 0;
    position: relative;
    margin-top: 1.25em;
    width: 75%;
  }

  .flow--side > figure {
    margin: 1.25em 0 0 -9em;
    max-width: none;
    width: calc(100% + 9em);
  }

  .flow--side figcaption p {
    font-size: .875em;
  }

  .ancillary {
    font-size: .875em;
    margin: 1.25em -25% 1.25em 2em;
    width: 50%;
  }

  .ancillary figure {
    margin: 1.25em auto 0;
    max-width: 100%;
    width: 100%;
  }

  .flow--side > .ancillary {
    margin-top: 0;
    position: absolute;
    right: -75%;
    top: 0;
    width: 100%;
  }

  .flow--side > figure + .ancillary {
    top: 25%;
  }

  .project {
    margin: -1em -9em 1em;
    overflow: auto;
    padding: 1em 2em;
    position: relative;
  }

  .project-image {
    border-top: solid 1px $gray06;
    border-bottom: solid 1px $gray06;
    margin: -1em 2em -1em -2em;
    float: left;
    width: calc(50% + 2em);
  }

  .project-description {
    margin-top: 0;
  }

  .project-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }

  .highlight {
    margin: 1.5em -9em;
    padding: 1.5em 9em;
  }
}

@media screen and (min-width: 80em) {
  .project {
    margin: -2em -9em 2em;
    padding: 2em;
  }

  .project-image {
    margin: -2em 2em -2em -2em;
    width: calc(50% + 2em);
  }
}
