---
---
@import 'variables';
@import 'mixins';

.item--pattern {
  background-color: transparent;
}

.item--pattern-description {
  height: 14em;
}

.edgeless {
  background-color: $whiter;
}

.pattern-nav {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  margin: 3em auto;
  max-width: 36em;

  &:first-of-type {
    margin-top: 1em;
  }

  @include min-width(s01) {
    flex-direction: row;
  }
}

.pattern-nav--index {
  @extend .pattern-nav;

  margin: 1em auto;
  max-width: none;
}

.pattern-nav-action {
  @include action;

  @include min-width(s01) {
    flex: 1 0 50%;
  }
}

.pattern-nav-action--back,
.pattern-nav-action--source {
  @extend .pattern-nav-action;
  @include action-color($gray07, $gray00)
}

.pattern-nav-action--back {
  background-color: $gray07;
}

.pattern-nav-action--source {
  background-color: $gray06;
}

.grid--swatches {
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 0;
}

.pattern--swatch {
  flex: 1 0 100%;
  font: 400 .625em/1.5 $source-code-pro;
  margin-top: 1em;
}

.pattern--swatch figure {
  height: 16em;
  position: relative;
}

.pattern--swatch figcaption {
  background-color: $gray07-90;
  border-bottom: none;
  bottom: 0;
  margin: 0;
  padding: .5em 0!important;
  position: absolute;
  text-align: center;
  width: 100%;
}

.pattern--typography {
  margin-top: 1em;
}

.sans {
  font-family: $ratio;
}

.monospace {
  font-family: $source-code-pro;
  font-size: .8125em;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.pattern--element {
  margin-top: 6em;
}

.pattern--element:first-of-type {
  margin-top: 0;
}

.pattern-display--wider {
  @include min-width(l01) {
    margin-left: -6em;
    margin-right: -6em;
  }
}

.pattern-meta {
  background-color: $gray06;
  clear: both;
  color: $black;
  margin-top: 1em;
}

.pattern-meta summary {
  background-color: $violet;
  color: $whiter;
  padding: 1em;
  transition: all 160ms;
}

.pattern-meta summary:hover,
.pattern-meta summary:focus {
  background-color: $green;
  cursor: pointer;
}

.pattern-meta figure {
  margin-top: 0;
  padding: 1em;
}

.pattern-meta textarea {
  background-color: $gray02;
  color: $whiter;
  font-family: $source-code-pro;
  font-size: .75em;
  min-height: 5.5em;
  padding: .5em 1em;
  width: 100%;
}

.pattern-meta figcaption {
  margin: .5em 0 0;
  padding: 0;
}

.pattern-meta figcaption strong {
  font-weight: 500;
}

.pattern-meta figcaption p {
  font-size: .875em;
  margin-top: 1em;
  text-align: left;
}

.pattern-meta .pattern-sass {
  font-size: .75em;
  margin-top: -.5em;
  text-align: right;
}

.pattern-display .logo--large {
  margin: 0 auto;
  max-width: 512px;
}

.pattern-display .logo--medium {
  margin: 0 auto;
  max-width: 64px;
}

/* Block of high-contrast introductory text */
.primer {
  margin: 1em auto 0;
  padding: 1em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.25;

  background-color: $gray07;
  color: $gray01;

  @include min-width(m01) {
    padding: 1em 2em;
  }

  @include min-width(l01) {
    @include width-max(l01);
  }
}

.primer a {
  border-bottom: solid 1px;
  padding-bottom: 1px;

  color: $boldred;

  &:hover,
  &:focus {
    color: $darkblue;
  }

  @include a-underline;
}

.primer p {
  font-size: 1.125em;

  @include min-width(m01) {
    font-size: 1.25em;
  }

  @include min-width(l01) {
    font-size: 1.375em;
  }
}

@media screen and (min-width: 22.5em) {
  .pattern--swatch {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 45em) {
  .pattern-meta summary {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 80em) {
  .pattern--swatch {
    flex: 0 0 25%;
  }
}
