/* Transition helpers */
svg circle {
  transition: all 320ms cubic-bezier(0,1,1,1);
}

a svg circle {
  transition: all 160ms cubic-bezier(0,1,1,1);
}


.banner-title:hover circle,
.banner-title:focus circle {
  stroke: $boldblue;
  animation-name: step-fill;
  animation-timing-function: cubic-bezier(0,1,1,1);
  animation-fill-mode: forwards;
  animation-duration: 320ms;
}

.banner-title:hover .secret,
.banner-title:active .secret {
  animation-delay: 1600ms;
}

.banner-title:hover .inner,
.banner-title:active .inner {
  animation-delay: 2400ms;
}

.banner-title:hover .outer,
.banner-title:active .outer {
  animation-delay: 3200ms;
}


@keyframes step-fill {
  0% {
    fill: $pure-1;
  }

  100% {
    fill: $boldblue;
  }
}

@keyframes step-fill--contrast {
  0% {
    fill: $pure-1;
  }

  100% {
    fill: $grayblue;
  }
}