.footer {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Credits: site-wide info */

.credits {
  background-color: $gray07;
  color: $gray00;
  display: flex;
  padding: 2em 1em;
  & {
    @include axiom(.75em);
  }
}

.credits-meta {
  align-self: center;
  margin: auto;
  max-width: 36em;
}

.credits-meta p {
  font-size: .875em;
}

.credits-meta p + p {
  margin-top: .75em;
}

.credits-meta a {
  @include a-underline;
}

/* Routing: site-wide navigation */

.routing {
  flex: 0 0 100%;
}

.routing-menu {
  @include menu;
  display: none; /* only displays with :target */
}

.routing-menu-action {
  @include action($red, $whiter);
}

.routing-menu-action,
.routing-menu-action:hover,
.routing-menu-action:focus {
  background-color: $whiter;
  color: $red;
}

.routing-nav {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.25em;
}

.routing-nav-action {
  @include action($black, $whiter);
  display: block;
  flex: 0 0 50%;
  padding: 2em 0;
  text-align: center;
}

.routing-nav-action:nth-child(2) {
  background-color: $gray01;
}

.routing-nav-action:nth-child(3) {
  background-color: $gray02;
}

.routing-nav-action:nth-child(4) {
  background-color: $gray00;
}

.routing-nav-action:hover,
.routing-nav-action:focus {
  background-color: $whiter;
  color: $gray00;
}

.routing-nav-action:focus {
  outline: none;
}

.routing-nav-action:active {
  background-color: $whiter;
  color: $green;
}

/* Target navigation - JS-free modal navigation */
.routing:target {
  margin: 0 auto;
  padding-top: 4.5em;
  position: absolute; /* now visible when target:ed */
  right: 0;
  top: 0;
  max-width: 36em;
  width: 100%;
}

.routing:target .routing-nav {
  position: relative;
  right: 0;
  z-index: 2;
}

.routing:target .routing-nav-action {
  background-color: $black-80;
}

.routing:target .routing-nav-action:nth-child(2) {
  background-color: $gray01-80;
}

.routing:target .routing-nav-action:nth-child(3) {
  background-color: $gray02-80;
}

.routing:target .routing-nav-action:nth-child(4) {
  background-color: $gray00-80;
}

.routing:target .routing-nav-action:hover {
  background-color: $gray07-80;
}

.routing:target .routing-menu {
  display: block; /* now visible when target:ed */
}

.routing:target .routing-menu-action {
  position: relative;
  z-index: 1;
}

.routing:target::after,
.routing:target .routing-menu-action::after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.routing:target::after {
  background-color: $black-80;
}

/* Alternative nav – home and back-to-top */

.return {
  display: flex;
  flex: 0 0 100%;
  flex-flow: row nowrap;
  font-size: 1.25em;
}

.return-action {
  @include action($gray00, $whiter);
  display: flex;
  flex: 0 0 50%;
  justify-content: center;
  line-height: 1.5em;
}

.return-action-logo {
  height: 1.3em;
  margin: .1em .4em 0;
  width: 1.3em;
}

.return-action-logo circle {
  stroke: $whiter;
  stroke-width: 36px;
}

.return-action--home {
  background-color: $red;
}

.return-action--top {
  background-color: $blue;
}

.return-action:hover,
.return-action:focus {
  background-color: $whiter;
  outline: none;
}

.return-action--home:hover {
  color: $red;
}

.return-action--home:focus {
  color: $boldred;
}

.return-action--home:hover circle {
  stroke: $red;
}

.return-action--home:focus circle {
  stroke: $boldred;
}

.return-action--top:hover {
  color: $blue;
}

.return-action--top:focus {
  color: $boldblue;
}