// Title for the website, included on all pages
.banner-title {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
  padding: 1em 0;

  @include min-width(m01) {
    padding: 2em;
  }

  @include min-width(l03) {
    padding: 3em;
  }

  @include min-width(l05) {
    padding: 4em;
  }  

  svg {
    display: block;
    height: 8em;
    margin: auto;
    width: 8em;
  }
}
