.details {
  @include bleed-full(1em);

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 1em;

  @include min-width(s03) {
    @include bleed-full(2em);
  }

  @include min-width(s04) {
    @include bleed-full(2.5em);
  }

  @include min-width(l01) {
    @include bleed-full(4.5em);
  }

  @include min-width(l03) {
    @include bleed-full(9em);
  }
}

.details-item {
  margin: 0;
  width: 100%;

  @include min-width(l01) {
    flex: 0 0 50%;
  }
}

.details-title {
  cursor: pointer;
  display: flex;
  font-weight: $weight-regular;
  justify-content: space-around;
  padding: 2em;
  position: relative;
  touch-action: manipulation;
  transition: all 160ms;
  width: 100%;

  @include min-width(l01) {
    justify-content: flex-start;
    padding: 2em 2em 2em 1em;
  }

  .icon {
    height: 1em;
    margin: auto .25em auto auto;
    width: 1.5em;

    @include min-width(l01) {
      margin: auto .25em auto 0;
    }
  }

  .arrow {
    margin: auto 0 auto auto;
  }
}

.details-expanded {
  margin: 0;
  padding: 1em;
}
