// Heavy emphasis for paragraph text.
.focus {
  margin-top: 1em;

  font-size: 1.5em;
  font-style: italic;
  font-weight: $weight-medium;
  line-height: 1.2;

  @include min-width(l01) {
    margin-left: -1.5em;
    width: 75%;
  }

  @include min-width(l03) {
    margin-left: -3em;
  }
}
