// Full-width image block
.hero {
  margin: auto;

  @include min-width(m02) {
    @include width-max(m02);

    font-size: 1.25em;
  }

  @include min-width(l01) {
    @include width-max(l01);
  }

  @include min-width(l03) {
    @include width-max(l03);
  }

  @include min-width(l04) {
    font-size: 1.5em;
  }

  @include min-width(l05) {
    font-size: 1.75em;
  }

  figcaption {
    margin: 0;
  }

  figcaption p {
    // _fundamental font-size: .875em

    @include min-width(l01) {
      margin-left: 50%;
      width: 50%;
    }
  }
}


@supports (object-fit: cover) {
  .micro,
  .edgeless {
    .hero {
      max-width: none;
      flex: 1 0 100%;

      img {
        max-height: 75vh;
        object-fit: cover;
        object-position: 50% 0%;
      }
    }
  }
}
