// Code blocks for page layouts. Markdown style is GitHub Flavored Markdown for fenced code blocks.
.highlight {
  @include bleed(1em);
  margin-top: 1em;
  padding: 1em;

  border-bottom: solid .0625em;
  border-top: solid .0625em;

  @include min-width(s03) {
    @include bleed(2em);
  }

  @include min-width(s04) {
    @include bleed(2.5em);
  }

  @include min-width(l01) {
    @include bleed(4.5em);
  }

  @include min-width(l03) {
    @include bleed(9em);
  }
}
