// Heading (`h1`) style used for indexes.
.index-title {
  margin-top: 1em;
  width: 100%;

  font-size: 1.25em;
  font-weight: $weight-light;
  letter-spacing: -.03125em;
  text-align: center;

  @include min-width(m01) {
    text-align: right;
    margin-right: 1em;
  }

  @include min-width(l02) {
    margin-right: 0;
  }
}
