// Links to archives on index pages.
.index-nav {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  width: 100%;
}

.index-nav-action {
  @include action;
  flex: 1 0 50%;
  width: 100%;

  svg {
    height: .625em;
    width: 1.25em;
  }

  @include min-width(m01) {
    margin: 0;
    width: 50%;
  }
}
