// Links to archives on index pages.
.index-nav {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;

  @include min-width(s01) {
    flex-direction: row;
  }
}

.index-nav-action {
  @include action;
  width: 100%;

  @include min-width(m01) {
    margin: 0;
    width: 50%;

    &:only-child {
      width: 100%;
    }
  }
}
