.map--collection {
  margin: 2em 0 1em;
  width: 100%;

  .mapboxgl-map {
    height: 24em;

    @include min-width(m01) {
      height: 32em;
    }

    @include min-width(l02) {
      height: 40em;
    }

    .mapboxgl-popup-content {
      padding: 0; // reset for photos
    }
  }
}

.map--photo {
  margin: 2em 0 1em;

  .mapboxgl-map {
    height: 24em;

    @include min-width(m01) {
      height: 32em;
    }

    @include min-width(l02) {
      height: calc(100vh - 3em);
    }

    .mapboxgl-marker {
      background-image: url('/icons/logo-map.svg');
      border-radius: 50%;
      box-shadow: 0 1px 2px hsla(204, 10%, 21%, .25);
      display: block;
      cursor: pointer;
      height: 2em;
      width: 2em;
    }
  }
}

// override styles
.mapboxgl-map {
  .mapboxgl-popup-content {
    background-color: $whiter;
    box-shadow: 0 1px 2px hsla(204, 10%, 21%, .25);
    color: $gray02;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 0;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: $whiter;
  }

  .mapboxgl-ctrl-group {
    border-radius: 0;
    box-shadow: 0 1px 2px hsla(204, 10%, 21%, .25);
  }

  .mapboxgl-ctrl-scale {
    background-color: hsla(204, 10%, 90%, .5);
    border-color: hsla(204, 10%, 21%, .25);
  }
}

.map-scrollzoom {
  display: none; // hide by default

  background: $gray02;
  color: $gray04;
  float: left;
  margin: .5em;
  padding: .25em .5em;
  font-size: .75em;

  &:hover,
  &:focus {
    background-color: $gray02;
    color: $whiter;
  }

  &.jsActive {
    background-color: $black;
    color: $lightblue;
  }

  @include min-width(m01) {
    display: block;
  }
}

.map--photo-caption {
  color: $gray06;
  font-size: .875em;
  text-align: right;

  a {
    color: $gray06;
    border-bottom-color: $gray04;
  }
}

.map--collection-caption {
  color: $gray03;
  font-size: .875em;
  text-align: right;

  a {
    color: $gray03;
    border-bottom-color: $gray04;
  }
}

.popup-link {
  display: block; // placeholder for image
  min-height: 48px;
  min-width: 72px;
}

.popup-image {
  width: 72px;
}
