// For 16:9 standard width video iframe embeds
.video {
  margin-top: 1em;
}

.video-container {
  height: 0;
  padding: 0 0 56.5%;
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}
