html {
  color: $black;
}

body {
  background-color: $white;
  color: $black;
}

h1,
h2 {
  color: $gray02;
}

h3,
h4 {
  color: $gray00;
}

h5 {
  color: $gray03;
}

a {
  color: $boldred;
}

a:hover,
a:focus {
  color: $darkblue;
}

a:active {
  color: $green;
  border-color: $pure-1!important;
}

p a,
li a,
blockquote a {
  @include a-underline;
}

ul li::before {
  color: $gray04;
}

blockquote {
  border-color: $blue;
  color: $gray03;
}

blockquote footer {
  color: $gray02;
}

sup[id] a {
  background-color: $grayblue-50;
  border-color: $grayblue;
  color: $gray01;
}

sup[id] a:hover,
sup[id] a:focus {
  background-color: $pink-50;
  border-color: $pink;
}

figcaption {
  color: $gray01;
}

hr {
  background-color: $gray04;
}

.ancillary {
  background-color: $white;
  color: $gray01;
}

p > code,
li > code,
samp {
  border-color: $gray05;
}

kbd > kbd {
  background-color: $black;
  color: $white;
}

mark {
  background-color: $grayblue-50;
}

::-moz-selection {
  background: $boldblue;
  color: $whiter;
}

::selection {
  background: $boldblue;
  color: $whiter;
}

#skip {
  color: $whiter;
  background-color: $boldred;
}

.category {
  background-color: $white;
}

.content {
  background-color: $whiter;
}

.action {
  @include action-color($gray03, $whiter);
}

.credits {
  background-color: $gray06;
  color: $black;
}

.credits a {
  @include a-underline;
}

.focus {
  color: $blue;
}

.focus a {
  color: $red;
}

.focus a:hover,
.focus a:focus {
  color: $gray02;
}

.footnotes,
.endnote {
  background-color: $grayblue-50;
  color: $gray01;
}

.footnotes li {
  border-color: $gray04;
}

.footnotes .reversefootnote {
  border-color: $gray04;
  color: $gray01;
}

.footnotes .reversefootnote:hover,
.footnotes .reversefootnote:focus {
  background-color: $pink-50;
  border-color: $pink-50;
}

.endnote + .footnotes {
  border-color: $gray04;
}

.hero figcaption {
  background-color: $whiter;
}

.highlight {
  background-color: $gray02;
  border-color: $gray05;
  color: $whiter;
}

.highlight .c {
  color: $gray05; /* Comments */
}

.home {
  background-color: $white;
}

.index--home {
  background-color: $gray00;
}

.index-nav-action {
  @include action-color($red, $white);
}

.index-nav-action:nth-child(2) {
  background-color: $blue;
}

.index-nav-action:hover,
.index-nav-action:focus {
  background-color: $gray07;
  color: $red;
}

.index-nav-action:nth-child(2):hover,
.index-nav-action:nth-child(2):focus {
  color: $blue;
}

.item--section {
  color: $whiter;
  background-color: $gray00;

  a {
    color: $white;
  }
}

.item--section--writing {
  background-color: $red;
}

.item--section--projects {
  background-color: $violet;
}

.item--section--photography {
  background-color: $blue;
}

.item--section--about {
  background-color: $gray02;
}

.item:nth-child(2n + 1) {
  background-color: $gray07;
}

.item:nth-child(2n) {
  background-color: $gray05;
}

.item-description {
  background-color: $gray07-90;
}

.item--short {
  background-color: $gray07;
}

.item-location a {
  @include a-underline($pure-1, $grayblue);
}

.item-description h1 a {
  color: $red;
  border-bottom: solid 1px $pure-1;
}

.item-description h1 a:hover,
.item-description h1 a:focus {
  color: $blue;
}

.item-description h1 a:active {
  color: $green;
}

.item-action {
  @include action-color($gray02, $whiter);
}

.item:nth-child(2n + 2) .item-action {
  background-color: $gray00;
}

.item:nth-child(2n) .item-action:hover,
.item:nth-child(2n) .item-action:focus {
  background-color: $whiter;
  color: $gray00;
}

.item--photo-description {
  background-color: transparent;
}

.item--photo a:hover,
.item--photo a:focus {
  background-color: $gray07-90;
}

.item--photo a:hover h1,
.item--photo a:focus h1 {
  color: $boldblue;
}

.item--photo a:hover p,
.item--photo a:focus p {
  color: $black;
}

.item--section-description a {
  @include a-underline($gray05, $whiter);
}

.item--section-description h1 a {
  border-bottom: solid 1px $pure-1;
}

.core-pagination {
  @include action-color($red, $white);
}

.core-pagination--later {
  background-color: $red;
}

.core-pagination--earlier {
  background-color: $blue;
}

.core-pagination:hover,
.core-pagination:focus {
  background-color: $whiter;
  border: none;
}

.core-pagination--later:hover,
.core-pagination--later:focus {
  color: $red;
}

.core-pagination--earlier:hover,
.core-pagination--earlier:focus {
  color: $blue;
}

.project,
.project--satellite {
  background-color: $gray06;
}

.project-image,
.project--satellite .project-image {
  background-color: $gray07;
  border-color: $gray06;
}

.project-summary {
  color: $gray02;
}

.project-nav-action {
  background-color: $gray02;
  color: $white;
}

.project-nav-action--url {
  background-color: $red;
  color: $white;
}

.project-nav-action--source {
  background-color: $violet;
  color: $white;
}

.project-nav-action:hover,
.project-nav-action:focus {
  background-color: $white;
  color: $gray02;
}

.project-nav-action--url:hover,
.project-nav-action--url:focus {
  color: $red;
}

.project-nav-action--source:hover,
.project-nav-action--source:focus {
  color: $violet;
}

.essay {
  background-color: $gray06;
}

.return-action {
  @include action-color($gray07, $black);
}

.return-action--home {
  background-color: $white;
}

.return-action--top {
  background-color: $gray05;
}

.return-action:hover,
.return-action:focus {
  background-color: $gray03;
  color: $white;
}

.background--projects {
  background-color: $violet;
  color: $white;
}

.background--projects:hover,
.background--projects:focus {
  background-color: $whiter;
  color: $violet;
}

.background--writing {
  background-color: $red;
  color: $white;
}

.background--writing:hover,
.background--writing:focus {
  background-color: $whiter;
  color: $red;
}

.background--photography {
  background-color: $blue;
  color: $white;
}

.background--photography:hover,
.background--photography:focus {
  background-color: $whiter;
  color: $blue;
}

.core-title {
  background-color: $whiter;
}

.core-footer {
  background-color: $gray06;
}
