{% if page.type == 'month' or page.type == 'year' %}
    <div class="index-header">
      {% if page.type == 'year' %}
      <h1>/{{ page.date | date: '%Y' }}</h1>
      {% elsif page.type == 'month' %}
      <h1>/{{ page.date | date: '%Y/%m' }}</h1>
      {% endif %}
    </div>
{% else %}
    <div class="index-header">
      <h1>{% if include.prefix %}/{{ include.prefix }}{% endif %}{% if include.title %}/{{ include.title | downcase }}{% else %}/{{ page.title | downcase }}{% endif %}{% if include.suffix %}/{{ include.suffix | downcase }}{% endif %}</h1>
    </div>
{% endif %}