{% if page.next.url %}
        <a class="core-pagination--later core-pagination" rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}">↼ later</a>
{% else %}
        <div class="core-pagination--blank order-first"></div>
{% endif %}

{% if page.previous.url %}
        <a class="core-pagination--earlier core-pagination" rel="previous" href="{{ page.previous.url }}" title="{{ page.previous.title }}">earlier ⇀</a>
{% else %}
        <div class="core-pagination--blank order-last"></div>
{% endif %}
