  <div class="credits" role="contentinfo">
    <div class="credits-meta">
      <p>The writing and photography here is licensed <a rel="license" href="{{ site.link.attribution }}">{{ site.license.short }}</a> <a rel="author" href="/">Oliver Pattison</a>. Everything else is <a href="/about#copyright">under copyright</a> unless stated otherwise. {% if page.option contains 'map-meta' %}Map data © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors.{% endif %}</p>
      <p><strong><a rel="source" href="{{ site.link.source }}">View the source code</a></strong> for this site. See anything wrong here? <a href="https://github.com/opattison/olivermakes/issues">Make an issue</a> of it.</p>
      <p><strong><a rel="alternate" href="{{ site.link.subscribe.full }}">Subscribe</a></strong> via Atom/RSS or follow me on <strong><a rel="me" href="{{ site.link.twitter }}">Twitter</a></strong> for updates.</p>
    </div>
  </div>
