<div class="credits" role="contentinfo">
  <div class="credits-meta">
    <p>All writing and photography by <a class="p-name u-url" rel="author" href="{{ site.url }}">Oliver Pattison</a>, licensed <a rel="license" href="{{ site.link.attribution }}">{{ site.license.short }}</a>. Read more <a rel="license" href="/license/">about copyright and attribution</a> or more <a href="/about/">about me</a>.</p>
    <p>Improve this site by <a href="{{ site.source_url.issues }}">creating an issue</a> or a pull request.</p>
    <ul class="credits-links">
      <li></li> {% comment %}add a blank list item to offset the layout{% endcomment %}
      <li><a class="credits-link" rel="source" href="{{ site.link.source }}">{% include icon/github.svg %}View source</a></li>
      <li><a class="credits-link" rel="alternate" href="{{ site.link.subscribe.full }}">{% include icon/rss.svg %}Subscribe via Atom/RSS</a></li>
      <li><a class="credits-link" href="{{ site.patterns_url }}/">{% include icon/logo-minimal.svg %}Browse the pattern library</a></li>
      <li><a class="credits-link" rel="me" href="{{ site.link.twitter }}">{% include icon/twitter.svg %}Follow me on Twitter</a></li>
      <li><a class="credits-link" href="/hire/">{% include icon/git.svg %}Work with me</a>
    </ul>
  </div>
</div>
