<div class="credits" role="contentinfo">
  <div class="credits-meta">
    <p>All writing and photography on <a class="u-url" href="{{ site.url }}">this site</a> is by <strong><a class="p-name" rel="author" href="/about/">Oliver Pattison</a></strong>, licensed <a rel="license" href="{{ site.link.attribution }}">{{ site.license.short }}</a>. Everything else is <a rel="license" href="/license/">under copyright</a> unless otherwise noted.{% if page.collection == 'photos' %} Map data © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors.{% endif %}</p>
    <p>View the <strong><a rel="source" href="{{ site.link.source }}">source code</a></strong> or <strong><a href="{{ site.patterns_url }}/">pattern library</a></strong> for this site. If you catch any errors, <a href="{{ site.source_url.issues }}">make an issue</a> of it.</p>
    <p><strong><a rel="alternate" href="{{ site.link.subscribe.full }}">Subscribe via Atom/RSS</a></strong> for updates. Follow <strong><a rel="me" href="{{ site.link.twitter }}">{{ site.author.twitter }} on Twitter</a></strong>.</p>
  </div>
</div>
