    <figure class="hero">
      <img
        {% if page.option contains 'no-imgix-source' %}
        src="{{ page.image[0].src }}"
        {% else %}
        src="{{ page.image[0].src | imgix_url: w: 720, q: 50 }}"
        sizes="{{ site.sizes }}"
        srcset="{% for width in site.srcset %}{{ page.image[0].src | imgix_url: w: width, q: 60 }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
        {% endif %}
        alt="{{ page.image[0].alt }}">
      {% if page.image[0].caption %}
      <figcaption>{{ page.image[0].caption | markdownify }}</figcaption>
      {% endif %}
    </figure>
