{% include helper/photo-from-collection.liquid %}

{% assign src = image.src | prepend: '/' | prepend: site.image_url %}
{% if image.quality %}
  {% assign quality = image.quality %}
{% else %}
  {% assign quality = 50 %}
{% endif %}

<figure{% if include.class %} class="{{ include.class }}"{% endif %}>
  <a href="{{ image.url }}">
    <img
      class="lazyload"
      src="{{ src | imgix_url: w: 320, q: 25 }}"
      data-src="{{ src | imgix_url: w: 320, q: 25 }}"
      data-sizes="auto"
      data-srcset="{% for width in site.srcset_small %}{{ src | imgix_url: w: width, q: quality }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
      alt="{{ image.alt }}">
  </a>
  {% if image.caption %}
  <figcaption>{{ image.caption | markdownify }}</figcaption>
  {% endif %}
</figure>
