{% assign src = image.src | prepend: '/' | prepend: site.image_url %}
{% if image.quality %}
  {% assign quality = image.quality %}
{% else %}
  {% assign quality = 60 %}
{% endif %}

<img
  class="lazyload image--micro"
  src="{{ src | imgix_url: w: 640, q: quality }}"
  data-src="{{ src | imgix_url: w: 480, q: 25 }}"
  data-sizes="auto"
  data-srcset="{% for width in site.srcset %}{{ src | imgix_url: w: width, q: quality }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
  alt="{{ image.alt }}">
