<div class="index-nav--archive index-nav">
  <a class="index-nav-action" href="/archive/">{% include icon/arrow-left.svg %}full site archive</a>
{% if page.title contains 'photography' %}
  <a class="index-nav-action" href="/photography/">{% include icon/arrow-left.svg %}photography index</a>
{% endif %}
{% if page.title contains 'writing' %}
  <a class="index-nav-action" href="/writing/">{% include icon/arrow-left.svg %}writing index</a>
{% endif %}
{% if page.title contains 'projects' %}
  <a class="index-nav-action" href="/projects/">{% include icon/arrow-left.svg %}projects index</a>
{% endif %}
</div>
