  <article class="item"{% unless post.option contains 'no-image_index' %} style="background-image: {% if post.option contains 'no-imgix-source' %}url({{ post.image_index }}){% else %}url({{ post.image_index | imgix_url: w: 480, q: 40 }});{% endif %}"{% endunless %}>
    <div class="item-description {% if post.option contains 'minor' %}item--minor-description{% endif %}">
      <h1><a href="{{ post.url }}">{{ post.title | markdownify | p_escape }}</a></h1>
      {% unless post.option contains 'minor' %}
      <p class="p-summary item-summary">{{ post.description }}</p>
      {% endunless %}
      <p class="item-time">{% if post.category =='projects' %}Completed{% else %}Published{% endif %} <time class="dt-published" pubdate datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time> {% if post.period %}(worked on from {{ post.period }}){% endif %}</p>

    </div>
    <a class="item-action" href="{{ post.url }}">{% if post.category == 'projects' %}View this project{% elsif post.category == 'writing' %}Read this post{% else %}View this post{% endif %}</a>
  </article>
