  <article class="item--feature item" style="background-image: url({{ site.image-url }}/feature/{{ post.image[0].src }}); background-size: cover; background-position: 50%;">
    <div class="item--feature-description item-description">
      <h1><a href="{{ post.url }}">{{ post.title | markdownify | p_escape }}</a></h1>
      <p class="p-summary item--feature-summary item-summary">{% if post.feature-description %}{{ post.feature-description }}{% else %}{{ post.description }}{% endif %}</p>
      <p class="item-time">Published <time class="dt-published" pubdate datetime="{{ post.date }}">{{ post.date | date: '%Y-%m-%d' }}</time>{% if post.category %}<span class="item-location"> in {% if post.category == 'writing' %}<a href="/writing">/writing</a>{% elsif post.category == 'photography' %}<a href="/photography">/photography</a>{% elsif post.category == 'projects' %}<a href="/projects">/projects</a>{% endif %}</span>{% endif %}</p>
    </div>
    <a class="item--feature-action item-action" href="{{ post.url }}">{% if post.category == 'projects' %}View this project{% elsif post.category == 'writing' %}Read this post{% else %}View this post{% endif %}</a>
  </article>