<svg viewBox="0 0 64 64" enable-background="new 0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo--medium" role="img">
  <title>olivermakes</title>
  <desc>Multi-colored concentric circles used as a logo for this site.</desc>
  <g>
    <circle class="logo-layer15" fill="#373E43" cx="32" cy="32" r="32"></circle>
    <circle class="logo-layer12" fill="#CC3D33" cx="32" cy="32" r="28"></circle>
    <circle class="logo-layer10" fill="#49535A" cx="32" cy="32" r="20"></circle>
    <circle class="logo-layer6" fill="#105F93" cx="32" cy="32" r="16"></circle>
    <circle class="logo-layer1" fill="#397EAC" cx="32" cy="32" r="10"></circle>
  </g>
</svg>
