@import 'variables';

figure,
figure > * {
  position: relative;
}

figure * {
  opacity: 1;
  transition: opacity 320ms cubic-bezier(0,1,1,1);
}

input,
label {
  position: absolute;
  cursor: pointer;
}

label,
label * {
  transition-duration: 320ms;
  transition-property: background-color, color, opacity;
  transition-timing-function: cubic-bezier(0,1,1,1);
}

label:hover,
label *:hover {
  transition-duration: 160ms;
}

[role="radio"] {
  display: none;
}

.shift-overlay-label,
.shift-back-label {
  height: 100%;
  margin: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.shift-overlay-label::after,
.shift-back-label::after {
  font-weight: 400;
}

.shift-overlay-label::after {
  bottom: .125em;
  color: $white;
  content: '…';
  font-size: 2.5em;
  opacity: 0;
  position: absolute;
  right: .5em;
  text-align: center;
  text-shadow: $gray00-80 0 0 .125em;
  transition-duration: 640ms;
}

figure:hover .shift-overlay-label::after,
figure:focus .shift-overlay-label::after {
  opacity: 1;
}

.map-background {
  background-size: cover;
  margin: 0;
}

.photo-meta {
  background-color: $black-80;
  bottom: 0;
  color: $white;
  font-weight: 300;
  margin: 0;
  padding: .5em .5em .5em 1em;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

.photo-meta ul {
  font-size: .875em;
  list-style: none;
  margin: 0;
  padding-right: 7em;
}

.photo-meta li + li {
  margin-top: .25em;
}

.shift-map-label {
  color: $pink;
  bottom: .5em;
  font-size: 1em;
  font-weight: 400;
  right: .5em;
}

.shift-map-label:hover,
.shift-map-label:focus {
  color: $grayblue;
}

.shift-map-label:hover svg *,
.shift-map-label:focus svg * {
  stroke: $grayblue;
}

.icon-location {
  display: inline-block;
  -webkit-transform: translate(0, .25em);
  transform: translate(0, .25em);
}

.icon-location svg {
  height: 1.25em;
  margin-left: .25em;
  padding: 0 2px;
  width: 1em;
}

.icon-location svg * {
  stroke: $pink;
  stroke-width: 35px;
}

.camera-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  float: right;
  height: 6em;
  width: 5.5em;
}

.shift-back:checked ~ .container .photo-meta {
  opacity: 0;
}

.shift-overlay:checked ~ .container .photo-meta {
  opacity: 1;
  z-index: 3;
}

.shift-map:checked ~ .container img {
  opacity: 0;
}

.shift-map:checked ~ .container .shift-overlay-label {
  display: none;
}

.shift-map:checked ~ .container .shift-back-label {
  background-color: $gray02-80;
  color: $white;
  padding: .5em 0;
  width: 50%;
}

.shift-map:checked ~ .container .shift-back-label,
.shift-map:checked ~ .container .shift-back-label::after {
  bottom: 0;
  height: initial;
  opacity: 1;
  max-height: 3.5em;
  right: 0;
  top: initial;
  z-index: 2;
}

.shift-map:checked ~ .container .shift-back-label::after {
  content: '↼ back to photo';
  display: block;
  font-size: .875em;
  text-align: center;
  width: 100%;
}

.shift-map:checked ~ .container .shift-back-label:hover {
  background-color: $boldblue-80;
}

.shift-overlay:checked ~ .container .shift-overlay-label::after {
  opacity: 0;
}

.shift-overlay:checked ~ .container .shift-back-label {
  z-index: 3;
}

@media screen and (min-width: 30em) {
  .photo-meta {
    padding: 1em;
  }

  .camera-icon {
    width: 7em;
  }

  .shift-map-label {
    bottom: 1em;
    right: 1em;
  }
}

@media screen and (min-width: 34em) {
  .shift-map:checked ~ .container .shift-back-label {
    font-size: 1em;
    padding: 1em 0;
    width: 25%;
  }
}

@media screen and (min-width: 60em) {
  .photo-meta {
    padding: 1em 1em 1em 2em;
  }

  .photo-meta ul {
    font-size: 1em;
  }

  .shift-map-label {
    bottom: .888888889em;
    font-size: 1.125em;
    right: .888888889em;
  }

  .camera-icon {
    width: 8em;
  }

  .grid .photo-meta {
    padding: 1em;
  }

  .photo-meta ul {
    font-size: .875em;
  }

  .grid .camera-icon {
    width: 6em;
  }

  .grid .shift-map-label {
    font-size: 1em;
  }

  .grid .shift-map:checked ~ .container .shift-back-label {
    padding: .5em 0;
    width: 50%;
  }
}

@media screen and (min-width: 95em) {
  .photo-meta ul {
    font-size: 1.25em;
  }

  .camera-icon {
    height: 8em;
    width: 12em;
  }
}