body {
  background-color: $gray00;
  color: $white;
}

h1,
h2,
h3,
h4 {
  color: $gray07;
}

sup[id] a {
  border-color: $lightblue;
  color: $lightblue;
}

sup[id] a:hover,
sup[id] a:focus {
  border-color: $pink;
  color: $pink;
}

article a {
  color: $pink;
}

article a:focus,
article a:hover {
  color: $lightblue;
}

p a,
li a,
blockquote a {
  @include a-underline($pink--trans50, $lightblue);
}

blockquote {
  color: $gray05;
  border-color: $lightblue;
}

blockquote footer {
  color: $gray06;
}

.highlight {
  background-color: $whiter;
  color: $gray01;
  border-color: $gray04;
}

.highlight .c {
  color: $gray04; /* Comments */
}

p > code,
li > code,
samp {
  border-color: $gray04;
  color: $gray06;
}

.item--short {
  background-color: $gray01;
}

.item-location a {
  @include a-underline($pink--trans50, $lightblue);
}

.core {
  color: $gray07;
}

.content,
.core-title {
  background-color: $gray01;
}

.core figcaption {
  color: $gray06;
}

.pattern--swatch figcaption {
  background-color: $gray01--trans90;
}

.focus {
  color: $lightblue;
}

.ancillary {
  background-color: $gray00;
  color: $gray07;
}

.edgeless .ancillary {
  background-color: $gray02;
}

.footnotes,
.endnote {
  background-color: $gray02;
  color: $white;
}

.footnotes .reversefootnote {
  border-color: $lightblue;
  color: $lightblue;
}

.footnotes .reversefootnote:hover,
.footnotes .reversefootnote:focus {
  border-color: $pink;
  color: $pink;
}

.project {
  background-color: $gray02;
}

.project-image {
  border-color: $gray02;
}

.project-summary {
  color: $gray07;
}

.essay {
  background-color: $gray02;
  color: $white;
}

.core-meta,
.core-footer {
  background-color: $gray02;
}

.screenshot img {
  outline: solid 1px $gray02;
}
