#skip {
  color: $whiter;
  background-color: $red;
}

.category {
  background-color: $white;
}

.home {
  background-color: $white;
}

.index--home {
  background-color: $gray00;
}

.index-nav-action {
  @include action-color($red, $white);
}

.index-nav-action:nth-child(2) {
  background-color: $blue;
}

.index-nav-action:hover,
.index-nav-action:focus {
  background-color: $gray07;
  color: $red;
}

.index-nav-action:nth-child(2):hover,
.index-nav-action:nth-child(2):focus {
  color: $blue;
}

.item--section {
  color: $white;
  background-color: $gray00;

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $whiter;
    }
  }
}

.item--section--writing {
  background-color: $red;
}

.item--section--projects {
  background-color: $violet;
}

.item--section--photography {
  background-color: $blue;
}

.item--section--about {
  background-color: $gray02;
}

.item:nth-child(2n + 1) {
  background-color: $gray07;
}

.item:nth-child(2n) {
  background-color: $gray05;
}

.item-description {
  background-color: $gray07--trans90;
}

.item--short {
  background-color: $gray07;
}

.item-location a {
  @include a-underline($trans01, $lightblue);
}

.item-description h1 a {
  color: $red;
  border-bottom: solid 1px $trans01;
}

.item-description h1 a:hover,
.item-description h1 a:focus {
  color: $blue;
}

.item-description h1 a:active {
  color: $green;
}

.item-action {
  @include action-color($gray02, $whiter);
}

.item:nth-child(2n + 2) .item-action {
  background-color: $gray00;
}

.item:nth-child(2n) .item-action:hover,
.item:nth-child(2n) .item-action:focus {
  background-color: $whiter;
  color: $gray00;
}

.item--photo-description {
  background-color: $trans01;
}

.item--photo a:hover,
.item--photo a:focus {
  background-color: $gray07--trans90;
}

.item--photo a:hover h1,
.item--photo a:focus h1 {
  color: $blue;
}

.item--photo a:hover p,
.item--photo a:focus p {
  color: $black;
}

.item--section-description a {
  @include a-underline($gray07--trans50, $whiter);
}

.return-action {
  @include action-color($gray07, $black);
}

.return-action--home {
  background-color: $white;
}

.return-action--top {
  background-color: $gray05;
}

.return-action:hover,
.return-action:focus {
  background-color: $gray03;
  color: $white;
}

.background--projects {
  background-color: $violet;
  color: $white;
}

.background--projects:hover,
.background--projects:focus {
  background-color: $whiter;
  color: $violet;
}

.background--writing {
  background-color: $red;
  color: $white;
}

.background--writing:hover,
.background--writing:focus {
  background-color: $whiter;
  color: $red;
}

.background--photography {
  background-color: $blue;
  color: $white;
}

.background--photography:hover,
.background--photography:focus {
  background-color: $whiter;
  color: $blue;
}

.credits {
  background-color: $gray06;
  color: $black;
}

.credits a {
  @include a-underline;
}

.project-nav-action {
  background-color: $gray02;
  color: $white;
}

.project-nav-action--url {
  background-color: $red;
  color: $white;
}

.project-nav-action--source {
  background-color: $violet;
  color: $white;
}

.project-nav-action:hover,
.project-nav-action:focus {
  background-color: $white;
  color: $gray02;
}

.project-nav-action--url:hover,
.project-nav-action--url:focus {
  color: $red;
}

.project-nav-action--source:hover,
.project-nav-action--source:focus {
  color: $violet;
}

.core-pagination {
  @include action-color($red, $white);
}

.core-pagination--later {
  background-color: $red;
}

.core-pagination--earlier {
  background-color: $blue;
}

.core-pagination:hover,
.core-pagination:focus {
  background-color: $whiter;
  border: none;
}

.core-pagination--later:hover,
.core-pagination--later:focus {
  color: $red;
}

.core-pagination--earlier:hover,
.core-pagination--earlier:focus {
  color: $blue;
}
