.skip {
  @include action-color($red, $whiter);
}

.category {
  background-color: $white;
}

.home {
  background-color: $white;
}

.index--home {
  background-color: $gray00;
}

.index-nav-action {
  @include action-color($red, $white);
}

.index-nav-action:nth-child(2) {
  background-color: $blue;
}

.index-nav-action:hover,
.index-nav-action:focus {
  background-color: $gray07;
  color: $red;
}

.index-nav-action:nth-child(2):hover,
.index-nav-action:nth-child(2):focus {
  color: $blue;
}

.item {
  &:nth-child(2n + 1) {
    background-color: $gray07;
  }

  &:nth-child(2n) {
    background-color: $gray05;
  }
}

%item--section {
  color: $white;
}

.item--section--writing {
  @extend %item--section;
  background-color: $red;
}

.item--section--projects {
  @extend %item--section;
  background-color: $violet;
}

.item--section--photography {
  @extend %item--section;
  background-color: $blue;
}

.item--section--about {
  @extend %item--section;
  background-color: $gray02;
}

.item--section--archive {
  @extend %item--section;
  background-color: $gray00;
}

.item-description {
  background-color: $gray07--trans90;

  h1 a {
    border-bottom: solid 1px $trans01;
    color: $red;

    &:hover,
    &:focus {
      color: $blue;
    }

    &:active {
      color: $green;
    }
  }
}

.item--short {
  background-color: $gray07;
}

.item-location a {
  @include a-underline($trans01, $lightblue);
}

.item--section-description {

  a {
    @include a-underline($gray07--trans50, $whiter);
    color: $white;

    &:hover,
    &:focus {
      color: $whiter;
    }
  }
}

.item-action {
  @include action-color($gray02, $whiter);
}

.item:nth-child(2n + 2) .item-action {
  background-color: $gray00;
}

.item:nth-child(2n) .item-action:hover,
.item:nth-child(2n) .item-action:focus {
  background-color: $whiter;
  color: $gray00;
}

.item--photo-description {
  background-color: $trans01;
}

.item--photo a:hover,
.item--photo a:focus {
  background-color: $gray07--trans90;
}

.item--photo a:hover h1,
.item--photo a:focus h1 {
  color: $blue;
}

.item--photo a:hover p,
.item--photo a:focus p {
  color: $black;
}

.return-action--home {
  @include action-color($white, $gray00, $gray03, $whiter);

  &:hover,
  &:focus {
    @include random-fill(2, 6);
  }
}

.return-action--top {
  @include action-color($gray05, $gray00, $gray03, $whiter);
}

.return-action--patterns {
  @include action-color($gray02, $whiter);
}

.return-action--projects {
  @include action-color($violet, $whiter);
}

.return-action--writing {
  @include action-color($red, $whiter);
}

.return-action--photography {
  @include action-color($blue, $whiter);
}

.credits {
  background-color: $gray06;
  color: $black;

  a {
    @include a-underline;
  }
}

.project-nav-action--url {
  @include action-color($red, $whiter);
}

.project-nav-action--source {
  @include action-color($violet, $whiter);
}

.project-nav-action--satellite {
  @include action-color($gray02, $whiter);
}

.page-pagination {
  @include action-color($red, $gray07);
}

.page-pagination--later {
  background-color: $red;

  &:hover,
  &:focus {
    color: $red;
  }
}

.page-pagination--earlier {
  background-color: $blue;

  &:hover,
  &:focus {
    color: $blue;
  }
}
