@include min-width(s01) {
  .content,
  .page-title,
  .page-footer,
  .credits {
    font-size: 1.0625em;
  }
}

@include min-width(s02) {
  .content,
  .page-title,
  .page-footer,
  .credits {
    font-size: 1.125em;
  }
}

@include min-width(m01) {
  .content,
  .page-title,
  .page-footer,
  .credits {
    font-size: 1.25em;
  }
}

@include min-width(m02) {
  .content,
  .page-title,
  .page-footer {
    @include width-max(m02);
    margin: auto;
  }
}

@include min-width(l01) {
  .content,
  .page-title,
  .page-footer {
    @include width-max(l01);
  }

  .index,
  .index--home,
  .index--photography {
    font-size: 1.25em;
  }
}

@include min-width(l03) {
  .content,
  .page-title,
  .page-footer {
    @include width-max(l03);
  }
}

@include min-width(l04) {
  .content,
  .page-title,
  .page-footer,
  .credits {
    font-size: 1.5em;
  }

  .index,
  .index--home,
  .index--photography {
    font-size: 1.5em;
  }
}

@include min-width(l05) {
  .content,
  .page-title,
  .page-footer {
    font-size: 1.75em;
  }
}

@include min-width(l05) {
  .site-footer {
    @include width-max(l05);
  }
}
