@import 'helpers';

.content h1 {
  font-size: 2em;
  font-weight: $weight-light;
  text-align: center;

  @include min-width(m01) {
    font-size: 3em;
  }

  @include min-width(l01) {
    font-size: 4em;
  }
}

.content h2 {
  font-size: 1.5em;
  font-weight: $weight-light;
  text-align: center;

  @include min-width(m01) {
    font-size: 2em;
  }

  @include min-width(l01) {
    font-size: 2.5em;
  }
}

// Hire page sections
.opportunities {
  @include bleed-full(1em);

  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;

  @include min-width(s03) {
    @include bleed-full(2em);
  }

  @include min-width(s04) {
    @include bleed-full(2.5em);
  }

  @include min-width(l01) {
    @include bleed-full(4.5em);
  }

  @include min-width(l03) {
    @include bleed-full(9em);
  }
}

%opportunities-item {
  color: $gray07;
  padding: 1em 2em;
  width: 100%;

  h1,
  h2,
  h3 {
    color: $gray05;
    font-size: 1.75em;
    font-style: italic;
    font-weight: $weight-light;
    text-align: center;
  }

  @include min-width(m01) {
    flex: 1 0 50%;
  }
}

.opportunities-item--first {
  @extend %opportunities-item;

  background-color: $blue;

  flex: 1 0 100%;
}

.opportunities-item--second {
  @extend %opportunities-item;

  background-color: $gray02;
}

.opportunities-item--third {
  @extend %opportunities-item;

  background-color: $gray00;
}

.outreach {
  display: flex;
}

.outreach-action {
  @include action;
  @include action-color($violet, $whiter);

  margin-top: 2em;
  width: 100%;

  @include min-width(m01) {
    flex: 1 0 50%;
  }
}

.outreach-action--contact {
  @include action;
  @include action-color($red, $whiter);

  width: 100%;

  @include min-width(m01) {
    flex: 1 0 50%;
    margin-top: 2em;
  }
}

.details {
  @include bleed-full(1em);

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 1em;

  @include min-width(s03) {
    @include bleed-full(2em);
  }

  @include min-width(s04) {
    @include bleed-full(2.5em);
  }

  @include min-width(l01) {
    @include bleed-full(4.5em);
  }

  @include min-width(l03) {
    @include bleed-full(9em);
  }
}

.details-item {
  margin: 0;
  width: 100%;

  @include min-width(m01) {
    flex: 0 0 50%;
  }

  .details-expand {
    @include action-color($gray01, $whiter);
  }

  &:nth-child(2n) .details-expand {
    @include action-color($gray00, $whiter);
  }

  &:nth-child(3n) .details-expand {
    @include action-color($gray03, $whiter);
  }

  &:nth-child(4n) .details-expand {
    @include action-color($gray02, $whiter);
  }

  &:nth-child(2n) .details-expanded {
    background-color: $gray07;
  }
}

.details-expand {
  cursor: pointer;
  font-weight: $weight-regular;
  padding: 2em 1em;
  text-align: left;
  width: 100%;
}

.details-expanded {
  background-color: $gray06;
  color: $black;
  margin: 0;
  padding: 1em;
}

.elsewhere {
  display: flex;
}

.elsewhere-action {
  @include action;
  @include action-color($gray06, $black);

  margin-top: 2em;
  width: 100%;

  @include min-width(m01) {
    flex: 1 0 33%;
  }
}

.elsewhere-action:nth-child(2n) {
  @include action-color($gray07, $black);
}
