// Site-wide footer container
.end {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.page + .end {
  @include min-width(m02) {
    margin-top: 2.5em;
  }
}

.index + .end,
.index--photography + .end {
  @include min-width(m01) {
    margin-top: 1em;
  }

  @include min-width(l01) {
    margin-top: 2.5em;
  }
}
