  <article class="item"{% if post.option contains 'index-image' or post.category == 'photo' %} style="background-image: url({{ site.image-url }}/index/{{ post.image[0].src }}); background-size: cover; background-position: 50%;"{% endif %}>
    <div class="meta">
      <h1><a href="{{ post.url }}">{{ post.title | markdownify }}</a></h1>
      <p class="p-summary description">{{ post.description }}</p>
      <p class="time">Published <time class="dt-published" pubdate datetime="{{ post.date }}">{{ post.date | date: '%Y-%m-%d' }}</time>{% if page.title == 'Home' and post.category %}<span class="location"> in {% if post.category == 'writing' %}<a href="/writing">/writing</a>{% elsif post.category == 'photo' %}<a href="/photography">/photography</a>{% elsif post.category == 'project' %}<a href="/projects">/projects</a>{% endif %}</span>{% endif %}</p>
    </div>
    <div class="link">
      <a href="{{ post.url }}">{% if post.category == 'project' %}View this project{% elsif post.category == 'writing' %}Read this post{% else %}View this post{% endif %}</a>
    </div>
  </article>