<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body {% if page.option contains 'error' %}id="error" {% endif %}class="edgeless">

{% include container/banner.html %}

  <article id="maincontent" class="h-entry core" role="main">

{% include block/pattern-nav.html %}

{% include block/core-title.html %}

    <div class="e-content{% if page.title == 'About' %} h-card{% endif %} content">

{% include block/project.html %}

{{ content }}

    </div>

{% unless page.option contains 'error' or page.option contains 'patterns' %}{% include block/core-footer.html %}{% endunless %}

{% include block/pattern-nav.html %}

  </article>

{% unless page.option contains 'error' %}{% include container/end.html %}{% endunless %}

</body>
</html>
