<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body {% if page.option contains 'error' %}id="error" {% endif %}class="edgeless">

  {% include container/banner.html %}

  <article id="maincontent" class="h-entry page" role="main">

    {% include block/hero.html %}
    {% include block/page-title.html %}

    <div class="e-content content">

      {% include block/project.html %}

      {{ content }}

      {% include block/ancillary--thanks.html %}

    </div>

    {% unless page.option contains 'error' %}
      {% include block/page-footer.html %}
    {% endunless %}

  </article>

{% unless page.option contains 'error' %}
  {% include container/end.html %}
{% endunless %}

</body>
</html>
