<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="micro">

  {% include container/banner--micro.html %}

  <article id="maincontent" class="h-entry page" role="main">

    <div class="e-content content{% if page.collection == 'photos' %} content--photo{% endif %}">

    {% if page.collection == 'photos' %}
      {% assign image = page %}
      {% include block/srcset--micro.html %}
    {% endif %}

      {{ content }}

    {% if page.collection == 'photos' %}
      {% include block/photo-meta.html %}
    {% endif %}

    </div>

  </article>

  {% include container/end.html %}

</body>
</html>
