<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="micro">

  {% include container/banner--micro.html %}

  <article id="maincontent" class="h-entry page" role="main">
    {% include block/hero.html %}

    <div class="e-content content{% if page.collection == 'photos' %} content--photo{% endif %}">

      {% if page.collection == 'photos' %}
        <figure>
        {% assign image = page %}
        {% include block/image--micro.html %}
        {% include block/photo-meta.html %}
        </figure>

        {% if page.longitude and page.latitude %}
        {% include block/map--photo.html %}
        {% endif %}

      {% endif %}

      {{ content }}

    </div>

  </article>

  {% include container/end.html %}

</body>
</html>
