<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="singel">

{% include container/banner.html %}

  <article id="maincontent" class="h-entry page" role="main">

    {% include block/hero.html %}
    {% include block/page-title.html %}

    <div class="e-content content">

      {% include block/project.html %}

      {{ content }}

      {% include block/ancillary--thanks.html %}

    </div>

    {% include block/page-footer.html %}

  </article>

  {% include container/end.html %}

</body>
</html>
