<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="singel{% if page.option contains 'dark' %} dark{% endif %}">

{% include container/banner.html %}
{% include block/menu.html %}

  <article class="h-entry core" role="main">

{% if page.option contains 'hero' %}{% include block/hero.html %}{% endif %}
{% include block/core-title.html %}

    <div class="e-content{% if page.title == 'About' %} h-card{% endif %} content">

{% include block/project.html %}

{{ content }}

    </div>

{% include block/core-footer.html %}

  </article>

{% include container/end.html %}

</body>
</html>
