<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="singel {% if page.option contains 'dark' %}dark{% endif %}">

{% include header.html %}

  <article class="h-entry" role="main">

{% include page/header.html %}

    {% if page.title == 'About' %}<div class="e-content h-card page">
    {% else %}<div class="e-content page">{% endif %}

{% if page.category == 'projects' %}
{% include page/project.html %}
{% endif %}

{{ content }}

    </div>

{% include page/footer.html %}

  </article>

{% include footer.html %}

</body>
</html>