/* Sections and items */
.index {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include min-width(m01) {
    @include width-max(l01);
    margin: 0 auto;
    justify-content: flex-start;
  }
}

.archive--photography .index {
  justify-content: flex-start;
}
