/* Site-wide navigation, typically included in the `.end` element on every page. */
.routing {
  flex: 0 0 100%;

  @include min-width(l02) {
    flex: 1 0 50%;
    margin: 0;
    order: 2; // after .credits
  }

  @include min-width(l04) {
    flex: 0 0 33.3333333%;
  }
}

/* Target navigation - JS-free modal navigation */
.routing:target {
  margin: 0 auto;
  padding-top: 4.5em;
  position: absolute; /* now visible when target:ed */
  right: 0;
  top: 0;
  max-width: 36em;
  width: 100%;

  @include min-width(l01) {
    @include width-max(l01);
  }

  @include min-width(l03) {
    @include width-max(l03);
    padding-top: 5em;
  }

  @include min-width(l04) {
    padding-top: 6em;
  }
}

.routing:target .routing-menu {
  display: block; /* now visible when target:ed */
}

.routing:target .routing-menu-action {
  position: relative;
  z-index: 1;
}

.routing:target::after,
.routing:target .routing-menu-action::after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
